In [1]:
import pandas as pd
import numpy as np

In [2]:
CONNECT_TO_ORACLE = True
con_oracle = CONNECT_TO_ORACLE

if con_oracle:
    try:
        import cx_Oracle
        import pandas as pd


        ip = '172.16.137.63'
        port = '1521'
        service_name = 'aesabi'
        dsn_tns = cx_Oracle.makedsn(ip, port, service_name=service_name)
        connection = cx_Oracle.connect('bi_read', 'bi_read', dsn_tns, encoding="UTF-8", nencoding="UTF-8")

    except:
        connection = None
        print("Oracle AESA BI db connection could not be created")
else:
    connection = None

def read_origin_to_pandas(sql="", path="", sep=',', encoding='utf-8', dtype={}, connection=connection):
    if (con_oracle) or (con_oracle=="True"):
        return pd.read_sql(sql, con=connection)
    else:
        return print('Erro') ##uploads_to_panda(path, sep=sep, encoding=encoding, dtype=dtype)

In [77]:
import pandas_redshift as pr

def to_redshift(data_frame):
    date_str =data_base.strftime('%Y/%m/%d')
    print('connect_to_redshift')
    pr.connect_to_redshift(dbname="kroton_analytics_prod",
                           #host="kroton-analytics-datalake-prod.cnzkefry8wsx.us-east-1.redshift.amazonaws.com",
                           host = 'kroton-analytics-datalake-prod.cnzkefry7wsx.us-east-1.redshift.amazonaws.com',
                           port=5439,
                           user="last_mile",
                           password="##(Kroton2018)!")
    print('connect_to_s3')
    pr.connect_to_s3(aws_access_key_id="AKIAILQVO2DJQHRLFLQQ",
                     aws_secret_access_key="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",
                     bucket="kroton-analytics",
                     subdirectory="raw/uploads/esteira"
                     )
    print('pandas_to_redshift')
    pr.pandas_to_redshift(data_frame=data_frame,
                          ##columns_data_types = ['real_mes' float64, 'real_ano_anterior' float64, 'acumulado_ano' float64, 'meta_ano' float64],
                          ##column_data_types=['VARCHAR(250)','DATE','VARCHAR(250)','VARCHAR(250)','VARCHAR(250)',
                          ##                   'VARCHAR(250)','VARCHAR(250)','VARCHAR(250)','VARCHAR(250)',
                          ##                   'VARCHAR(250)','VARCHAR(250)','FLOAT','FLOAT','FLOAT','FLOAT'],
                          columns_data_types=[VARCHAR2(500),VARCHAR2(50),VARCHAR2(25),VARCHAR2(255),VARCHAR2(20),VARCHAR2(15)],                                                #,VARCHAR2(15),VARCHAR2(50),
                                                #VARCHAR2(15),VARCHAR2(50),VARCHAR2(15),VARCHAR2(255),
                                                #VARCHAR2(500),VARCHAR2(500),VARCHAR2(100),VARCHAR2(255),
                                                #VARCHAR2(255),VARCHAR2(255),VARCHAR2(255),VARCHAR2(200),
                                                #VARCHAR2(255),VARCHAR2(255),VARCHAR2(255),VARCHAR2(255),
                                                #VARCHAR2(255),VARCHAR2(25),VARCHAR2(255),VARCHAR2(255),
                                                #VARCHAR2(255),VARCHAR2(255),VARCHAR2(255),VARCHAR2(50),
                                                #VARCHAR2(20),VARCHAR2(20),VARCHAR2(25),VARCHAR2(25),
                                                #VARCHAR2(255),VARCHAR2(50),VARCHAR2(100),NUMBER(5),
                                                #VARCHAR2(255),VARCHAR2(255),VARCHAR2(100),VARCHAR2(100),
                                                #VARCHAR2(15),VARCHAR2(35),VARCHAR2(35),VARCHAR2(100),
                                                #VARCHAR2(50),VARCHAR2(20),VARCHAR2(150),VARCHAR2(50),
                                                #VARCHAR2(25),VARCHAR2(3),VARCHAR2(255),
                                                #DATE,DATE,DATE,DATE,DATE,DATE,DATE,DATE,DATE,
                                                #VARCHAR2(3),VARCHAR2(3),VARCHAR2(3),VARCHAR2(3),
                                                #VARCHAR2(3),VARCHAR2(3),VARCHAR2(3),VARCHAR2(3),
                                                #VARCHAR2(3),VARCHAR2(3),VARCHAR2(3),VARCHAR2(3),
                                                #VARCHAR2(3),VARCHAR2(3),NUMBER,VARCHAR2(3),
                                                #VARCHAR2(255),VARCHAR2(15),VARCHAR2(15),VARCHAR2(20),
                                                #VARCHAR2(20),VARCHAR2(20),VARCHAR2(50),VARCHAR2(255),
                                                #VARCHAR2(25),VARCHAR2(25),VARCHAR2(255),VARCHAR2(255),
                                                #VARCHAR2(255),VARCHAR2(25),VARCHAR2(25),VARCHAR2(25),
                                                #VARCHAR2(25),VARCHAR2(3),VARCHAR2(50),VARCHAR2(25),
                                                #VARCHAR2(25),VARCHAR2(100),VARCHAR2(25),VARCHAR2(3),
                                                #VARCHAR2(3),VARCHAR2(3),VARCHAR2(3),VARCHAR2(3),VARCHAR2(3)],
                          index=False,
                          ##column_data_types = None,
                          redshift_table_name='coe_analytics.captacao_unificada_py',
                          append = True)
    return print('fim save_to_redshift')

In [ ]:
#Variáveis de regra de negócio *******************************************

In [3]:
sql_teste = "SELECT A.DS_BOLSAS_ALUNO AS BOLSA_ALUNO_TMP, A.CD_BOLSAS_ALUNO,A.CD_CANDIDATO,A.DS_QUINSTREET, A.CD_CHAVE_ALUNO,A.CD_CURSO_INSCRICAO,A.CD_CURSO_MATRICULA,A.CD_RA,U.CD_UNIDADE,A.CD_VENDEDOR,C.CD_ESPECIALIDADE AS CODIGO_CURSO,A.DS_BAIRRO,A.DS_BOLSA_VIGENTE_ALUNO,A.DS_BOLSAS_ALUNO,U.DS_CANAL,A.DS_CANAL_CONSULTOR,A.DS_CANAL_VENDAS,A.DS_CIDADE,U.DS_CONSULTOR,C.DS_COORDENADOR_CURSO,A.DS_CURSO_INSCRICAO AS DS_CURSO_INSCRICAO_MKT,A.DS_CURSO_MATRICULA AS DS_CURSO_MATRICULA_MKT,C.DS_ESPECIALIDADE AS DS_CURSO_ORIG,U.DS_DIRETOR,A.DS_EMAIL,A.DS_EMPRESA,CASE WHEN UPPER(U.DS_UNIDADE_MKT) LIKE '%[ANHANGUERA]%' THEN 'ANHANGUERA'WHEN UPPER(U.DS_UNIDADE_MKT) LIKE '%[UNOPAR]%' THEN 'UNOPAR' ELSE 'KROTON' END AS DS_EMPRESA_UNOPAR,A.DS_ENDERECO,U.DS_GERENTE,U.DS_GERENTE_MERCADO,U.DS_GERENTE_SENIOR,U.DS_MARCA,U.DS_MARCA_DETALHE,U.DS_MARCA_DETALHE AS DS_MARCA_DETALHE_UNOPAR,A.DS_MODALIDADE,A.DS_MODALIDADE_EAD,A.DS_NOME_CANDIDATO_ALUNO,U.DS_ORIGEM,A.DS_PARCEIRO,A.DS_PERIODO_LETIVO,A.DS_PROCESSO_SELETIVO,A.DS_PROTOCOLO,U.DS_REGIAO_GEOGRAFICA,U.DS_REGIONAL,A.DS_SEXO,A.DS_SITUACAO_CANDIDATO,A.DS_SITUACAO_CLASSIFICACAO,A.DS_SITUACAO_FIES,A.DS_SITUACAO_MATRICULA,A.DS_SITUACAO_TURMA,U.DS_SUPERVISOR,A.DS_TERMO,A.DS_TURMA,A.DS_UF,U.DS_UNIDADE_MKT,A.DT_APROVADO,A.DT_BASE,A.DT_CONVOCADO,A.DT_ENTRADA_BASE,A.DT_INSCRICAO,A.DT_MATRICULA,A.DT_NASCIMENTO,A.DT_PROVA,A.DT_SITUACAO_PMA,A.FL_ALUNO_PAGANTE,A.FL_APROVADO,A.FL_INSCRITO,A.FL_INSCRITO_PAGO,A.FL_MATRICULADO,A.FL_MATRICULADO_FIES,A.FL_MATRICULADO_PEP,A.FL_MATRICULADO_PROUNI,A.FL_NAO_MAT_EMISSAO_BOLETO,A.FL_NAO_MATRICULADO_PAGO,A.FL_PMA,A.FL_PMA_BOLETO,A.FL_PMA_FIES_CONDICIONAL,A.FL_PMA_PEP,A.FL_PROVA,A.FL_WINBACK_CAPTACAO,C.DS_ESPECIALIDADE_MKT AS NOME_CURSO,A.NR_CEP,A.NR_CPF,A.NR_TELEFONE_CELULAR,A.NR_TELEFONE_COMERCIAL,A.NR_TELEFONE_RESIDENCIAL,C.DS_TURNO AS TURNO,A.DS_PRIM_VENDEDOR FROM STAGE_SAS.TGT_BI_CAPTACAO_ANALITICO_FECH A  LEFT JOIN BI.TB_DIM_UNDE_SCD U ON A.ID_UNDE_SCD = U.ID_UNDE_SCD LEFT JOIN STAGE_SAS.TGT_BI_DE_PARA_CURSO_UNIDADE C ON A.ID_UNDE_SCD = C.ID_UNDE_SCD AND (CASE WHEN A.CD_CURSO_MATRICULA IS NULL THEN A.CD_CURSO_INSCRICAO ELSE A.CD_CURSO_MATRICULA END) = C.CD_ESPECIALIDADE AND C.DS_PERIODO_LETIVO = '20191' WHERE A.DS_PERIODO_LETIVO = '20191' AND A.DT_BASE = '08/01/2019' AND A.DS_MODALIDADE = 'Presencial' AND A.CD_CANDIDATO IN ('114348255','115151795','115114415','115210436')"

In [4]:
sql_teste

"SELECT A.DS_BOLSAS_ALUNO AS BOLSA_ALUNO_TMP, A.CD_BOLSAS_ALUNO,A.CD_CANDIDATO,A.DS_QUINSTREET, A.CD_CHAVE_ALUNO,A.CD_CURSO_INSCRICAO,A.CD_CURSO_MATRICULA,A.CD_RA,U.CD_UNIDADE,A.CD_VENDEDOR,C.CD_ESPECIALIDADE AS CODIGO_CURSO,A.DS_BAIRRO,A.DS_BOLSA_VIGENTE_ALUNO,A.DS_BOLSAS_ALUNO,U.DS_CANAL,A.DS_CANAL_CONSULTOR,A.DS_CANAL_VENDAS,A.DS_CIDADE,U.DS_CONSULTOR,C.DS_COORDENADOR_CURSO,A.DS_CURSO_INSCRICAO AS DS_CURSO_INSCRICAO_MKT,A.DS_CURSO_MATRICULA AS DS_CURSO_MATRICULA_MKT,C.DS_ESPECIALIDADE AS DS_CURSO_ORIG,U.DS_DIRETOR,A.DS_EMAIL,A.DS_EMPRESA,CASE WHEN UPPER(U.DS_UNIDADE_MKT) LIKE '%[ANHANGUERA]%' THEN 'ANHANGUERA'WHEN UPPER(U.DS_UNIDADE_MKT) LIKE '%[UNOPAR]%' THEN 'UNOPAR' ELSE 'KROTON' END AS DS_EMPRESA_UNOPAR,A.DS_ENDERECO,U.DS_GERENTE,U.DS_GERENTE_MERCADO,U.DS_GERENTE_SENIOR,U.DS_MARCA,U.DS_MARCA_DETALHE,U.DS_MARCA_DETALHE AS DS_MARCA_DETALHE_UNOPAR,A.DS_MODALIDADE,A.DS_MODALIDADE_EAD,A.DS_NOME_CANDIDATO_ALUNO,U.DS_ORIGEM,A.DS_PARCEIRO,A.DS_PERIODO_LETIVO,A.DS_PROCESSO_SELETIVO,A.DS_PROTOCOLO,U.DS_REGIAO_GEOGRAFICA,U.DS_REGIONAL,A.DS_SEXO,A.DS_SITUACAO_CANDIDATO,A.DS_SITUACAO_CLASSIFICACAO,A.DS_SITUACAO_FIES,A.DS_SITUACAO_MATRICULA,A.DS_SITUACAO_TURMA,U.DS_SUPERVISOR,A.DS_TERMO,A.DS_TURMA,A.DS_UF,U.DS_UNIDADE_MKT,A.DT_APROVADO,A.DT_BASE,A.DT_CONVOCADO,A.DT_ENTRADA_BASE,A.DT_INSCRICAO,A.DT_MATRICULA,A.DT_NASCIMENTO,A.DT_PROVA,A.DT_SITUACAO_PMA,A.FL_ALUNO_PAGANTE,A.FL_APROVADO,A.FL_INSCRITO,A.FL_INSCRITO_PAGO,A.FL_MATRICULADO,A.FL_MATRICULADO_FIES,A.FL_MATRICULADO_PEP,A.FL_MATRICULADO_PROUNI,A.FL_NAO_MAT_EMISSAO_BOLETO,A.FL_NAO_MATRICULADO_PAGO,A.FL_PMA,A.FL_PMA_BOLETO,A.FL_PMA_FIES_CONDICIONAL,A.FL_PMA_PEP,A.FL_PROVA,A.FL_WINBACK_CAPTACAO,C.DS_ESPECIALIDADE_MKT AS NOME_CURSO,A.NR_CEP,A.NR_CPF,A.NR_TELEFONE_CELULAR,A.NR_TELEFONE_COMERCIAL,A.NR_TELEFONE_RESIDENCIAL,C.DS_TURNO AS TURNO,A.DS_PRIM_VENDEDOR FROM STAGE_SAS.TGT_BI_CAPTACAO_ANALITICO_FECH A  LEFT JOIN BI.TB_DIM_UNDE_SCD U ON A.ID_UNDE_SCD = U.ID_UNDE_SCD LEFT JOIN STAGE_SAS.TGT_BI_DE_PARA_CURSO_UNIDADE C ON A.ID_UNDE_SCD = C.ID_UNDE_SCD AND (CASE WHEN A.CD_CURSO_MATRICULA IS NULL THEN A.CD_CURSO_INSCRICAO ELSE A.CD_CURSO_MATRICULA END) = C.CD_ESPECIALIDADE AND C.DS_PERIODO_LETIVO = '20191' WHERE A.DS_PERIODO_LETIVO = '20191' AND A.DT_BASE = '08/01/2019' AND A.DS_MODALIDADE = 'Presencial' AND A.CD_CANDIDATO IN ('114348255','115151795','115114415','115210436')"

In [5]:
TGT_BI_DF = read_origin_to_pandas(sql=sql_teste, path="TESTE", sep=',',
                                           dtype={'ID_UNDE_SCD': object})
TGT_BI_DF

,BOLSA_ALUNO_TMP,CD_BOLSAS_ALUNO,CD_CANDIDATO,DS_QUINSTREET,CD_CHAVE_ALUNO,CD_CURSO_INSCRICAO,CD_CURSO_MATRICULA,CD_RA,CD_UNIDADE,CD_VENDEDOR,...,FL_PROVA,FL_WINBACK_CAPTACAO,NOME_CURSO,NR_CEP,NR_CPF,NR_TELEFONE_CELULAR,NR_TELEFONE_COMERCIAL,NR_TELEFONE_RESIDENCIAL,TURNO,DS_PRIM_VENDEDOR
0,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115151795,0,3457242507,2978,2978,3457242,-1055,821830,...,0,0,PEDAGOGIA - LICENCIATURA,29.216-010,05419353210,(27) 98813-5400,None,None,Matutino,821830
1,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115114415,0,3455640507,67254,67254,3455640,-1055,451830,...,0,0,DIREITO,29.338-000,09292303708,(28) 99916-0601,None,(28) 3529-3616,Noturno,None
2,<BOLSA INCENTIVO>,<12102>,115210436,0,3460941507,2161,2161,3460941,-1055,421832,...,0,1,DIREITO,29.216-010,12593917601,(27) 99854-6773,None,None,Matutino,421832
3,<BOLSA INCENTIVO><OUTRAS BOLSAS>,<12102><21870>,114348255,1,3444238638,15012,15012,3444238,UCL,0,...,0,0,DIREITO,05.873-380,36774102824,(11) 97784-8437,None,(11) 5831-3071,Noturno,0

In [6]:
dfa = pd.DataFrame(TGT_BI_DF)
dfa

,BOLSA_ALUNO_TMP,CD_BOLSAS_ALUNO,CD_CANDIDATO,DS_QUINSTREET,CD_CHAVE_ALUNO,CD_CURSO_INSCRICAO,CD_CURSO_MATRICULA,CD_RA,CD_UNIDADE,CD_VENDEDOR,...,FL_PROVA,FL_WINBACK_CAPTACAO,NOME_CURSO,NR_CEP,NR_CPF,NR_TELEFONE_CELULAR,NR_TELEFONE_COMERCIAL,NR_TELEFONE_RESIDENCIAL,TURNO,DS_PRIM_VENDEDOR
0,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115151795,0,3457242507,2978,2978,3457242,-1055,821830,...,0,0,PEDAGOGIA - LICENCIATURA,29.216-010,05419353210,(27) 98813-5400,None,None,Matutino,821830
1,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115114415,0,3455640507,67254,67254,3455640,-1055,451830,...,0,0,DIREITO,29.338-000,09292303708,(28) 99916-0601,None,(28) 3529-3616,Noturno,None
2,<BOLSA INCENTIVO>,<12102>,115210436,0,3460941507,2161,2161,3460941,-1055,421832,...,0,1,DIREITO,29.216-010,12593917601,(27) 99854-6773,None,None,Matutino,421832
3,<BOLSA INCENTIVO><OUTRAS BOLSAS>,<12102><21870>,114348255,1,3444238638,15012,15012,3444238,UCL,0,...,0,0,DIREITO,05.873-380,36774102824,(11) 97784-8437,None,(11) 5831-3071,Noturno,0

In [7]:
def vchave(row):
    if(row['DS_MODALIDADE']=='EAD'):
        val = 'UNOPAR'+'|'+ row['CD_RA']
    else:
        val = 'KROTON'+'|'+ row['CD_RA']
    return val

In [9]:
dfa['vChave_Empresa_RA'] = dfa.apply(vchave, axis = 1) 
dfa

,BOLSA_ALUNO_TMP,CD_BOLSAS_ALUNO,CD_CANDIDATO,DS_QUINSTREET,CD_CHAVE_ALUNO,CD_CURSO_INSCRICAO,CD_CURSO_MATRICULA,CD_RA,CD_UNIDADE,CD_VENDEDOR,...,FL_WINBACK_CAPTACAO,NOME_CURSO,NR_CEP,NR_CPF,NR_TELEFONE_CELULAR,NR_TELEFONE_COMERCIAL,NR_TELEFONE_RESIDENCIAL,TURNO,DS_PRIM_VENDEDOR,vChave_Empresa_RA
0,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115151795,0,3457242507,2978,2978,3457242,-1055,821830,...,0,PEDAGOGIA - LICENCIATURA,29.216-010,05419353210,(27) 98813-5400,None,None,Matutino,821830,KROTON|3457242
1,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115114415,0,3455640507,67254,67254,3455640,-1055,451830,...,0,DIREITO,29.338-000,09292303708,(28) 99916-0601,None,(28) 3529-3616,Noturno,None,KROTON|3455640
2,<BOLSA INCENTIVO>,<12102>,115210436,0,3460941507,2161,2161,3460941,-1055,421832,...,1,DIREITO,29.216-010,12593917601,(27) 99854-6773,None,None,Matutino,421832,KROTON|3460941
3,<BOLSA INCENTIVO><OUTRAS BOLSAS>,<12102><21870>,114348255,1,3444238638,15012,15012,3444238,UCL,0,...,0,DIREITO,05.873-380,36774102824,(11) 97784-8437,None,(11) 5831-3071,Noturno,0,KROTON|3444238

In [10]:
dfa['aux_vNome_Curso'] = pd.isnull(dfa['NOME_CURSO'])
dfa['aux_vCurso_Matricula_mkt'] = pd.isnull(dfa['DS_CURSO_MATRICULA_MKT'])
dfa['vNome_Curso'] = np.where(dfa['aux_vNome_Curso'],np.where(dfa['aux_vCurso_Matricula_mkt'],dfa['DS_CURSO_INSCRICAO_MKT'],dfa['DS_CURSO_MATRICULA_MKT']),dfa['NOME_CURSO'])
dfa

,BOLSA_ALUNO_TMP,CD_BOLSAS_ALUNO,CD_CANDIDATO,DS_QUINSTREET,CD_CHAVE_ALUNO,CD_CURSO_INSCRICAO,CD_CURSO_MATRICULA,CD_RA,CD_UNIDADE,CD_VENDEDOR,...,NR_CPF,NR_TELEFONE_CELULAR,NR_TELEFONE_COMERCIAL,NR_TELEFONE_RESIDENCIAL,TURNO,DS_PRIM_VENDEDOR,vChave_Empresa_RA,aux_vNome_Curso,aux_vCurso_Matricula_mkt,vNome_Curso
0,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115151795,0,3457242507,2978,2978,3457242,-1055,821830,...,05419353210,(27) 98813-5400,None,None,Matutino,821830,KROTON|3457242,False,False,PEDAGOGIA - LICENCIATURA
1,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115114415,0,3455640507,67254,67254,3455640,-1055,451830,...,09292303708,(28) 99916-0601,None,(28) 3529-3616,Noturno,None,KROTON|3455640,False,False,DIREITO
2,<BOLSA INCENTIVO>,<12102>,115210436,0,3460941507,2161,2161,3460941,-1055,421832,...,12593917601,(27) 99854-6773,None,None,Matutino,421832,KROTON|3460941,False,False,DIREITO
3,<BOLSA INCENTIVO><OUTRAS BOLSAS>,<12102><21870>,114348255,1,3444238638,15012,15012,3444238,UCL,0,...,36774102824,(11) 97784-8437,None,(11) 5831-3071,Noturno,0,KROTON|3444238,False,False,DIREITO

In [11]:
def trata_pep(row):
    if (row['DS_MODALIDADE'] == 'Presencial' or row['DS_MODALIDADE'] == 'FLEX') and row['FL_MATRICULADO_PEP']==1:
       val = 1
    else:
       val = 0
    return val

In [12]:
dfa['vFlag_Matriculado_PEP'] = dfa.apply(trata_pep, axis = 1) 
dfa

,BOLSA_ALUNO_TMP,CD_BOLSAS_ALUNO,CD_CANDIDATO,DS_QUINSTREET,CD_CHAVE_ALUNO,CD_CURSO_INSCRICAO,CD_CURSO_MATRICULA,CD_RA,CD_UNIDADE,CD_VENDEDOR,...,NR_TELEFONE_CELULAR,NR_TELEFONE_COMERCIAL,NR_TELEFONE_RESIDENCIAL,TURNO,DS_PRIM_VENDEDOR,vChave_Empresa_RA,aux_vNome_Curso,aux_vCurso_Matricula_mkt,vNome_Curso,vFlag_Matriculado_PEP
0,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115151795,0,3457242507,2978,2978,3457242,-1055,821830,...,(27) 98813-5400,None,None,Matutino,821830,KROTON|3457242,False,False,PEDAGOGIA - LICENCIATURA,0
1,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115114415,0,3455640507,67254,67254,3455640,-1055,451830,...,(28) 99916-0601,None,(28) 3529-3616,Noturno,None,KROTON|3455640,False,False,DIREITO,0
2,<BOLSA INCENTIVO>,<12102>,115210436,0,3460941507,2161,2161,3460941,-1055,421832,...,(27) 99854-6773,None,None,Matutino,421832,KROTON|3460941,False,False,DIREITO,0
3,<BOLSA INCENTIVO><OUTRAS BOLSAS>,<12102><21870>,114348255,1,3444238638,15012,15012,3444238,UCL,0,...,(11) 97784-8437,None,(11) 5831-3071,Noturno,0,KROTON|3444238,False,False,DIREITO,0

In [13]:
de = pd.read_excel('DePara_Canal_Vendas.xlsx')
de.drop_duplicates(['SUB_CANAL DE'], keep='last')
de

,CANAL DE,CANAL PARA,SUB_CANAL DE,SUB_CANAL PARA
0,FORÇA DE VENDAS,FORÇA DE VENDAS,AÇÃO CURSINHO,AÇÃO ESCOLA
1,NÃO INFORMADO,FORÇA DE VENDAS,AÇÃO DE CAPTAÇÃO,AÇÃO GUERRILHA
2,FORÇA DE VENDAS,FORÇA DE VENDAS,AÇÃO DE GUERRILHA,AÇÃO GUERRILHA
3,FORÇA DE VENDAS,FORÇA DE VENDAS,AÇÃO EJA,AÇÃO ESCOLA
4,FORÇA DE VENDAS,FORÇA DE VENDAS,AÇÃO EMPRESA,AÇÃO EMPRESA
5,FORÇA DE VENDAS,FORÇA DE VENDAS,AÇÃO ENEM,AÇÃO ENEM
6,FORÇA DE VENDAS,FORÇA DE VENDAS,AÇÃO ESCOLA,AÇÃO ESCOLA
7,FORÇA DE VENDAS,FORÇA DE VENDAS,AÇÃO GUERRILHA,AÇÃO GUERRILHA
8,FORÇA DE VENDAS,FORÇA DE VENDAS,AÇÃO PIT STOP FIES,AÇÃO ENEM
9,FORÇA DE VENDAS,FORÇA DE VENDAS,AÇÃO PIT STOP FIES - não utilizar,AÇÃO ENEM
10,FORÇA DE VENDAS,FORÇA DE VENDAS,APRIMORAR,APRIMORAR
11,FORÇA DE VENDAS,CALL CENTER,CALL CENTER,CALL CENTER
12,NÃO INFORMADO,FORÇA DE VENDAS,CONSULTOR DE VENDAS,CONSULTOR DE VENDAS
13,FORÇA DE VENDAS,FORÇA DE VENDAS,CURSINHO,AÇÃO ESCOLA
14,FORÇA DE VENDAS,FORÇA DE VENDAS,CURSO DE FÉRIAS,CURSO DE FÉRIAS
15,PARCEIROS,PARCEIROS,EDUCA EDU,EDUCA EDU
16,PARCEIROS,PARCEIROS,EDUCA MAIS,EDUCA MAIS
17,FORÇA DE VENDAS,RÉGUA CAPTAÇÃO,E-MAIL MARKETING,E-MAIL MARKETING
18,FORÇA DE VENDAS,RÉGUA CAPTAÇÃO,E-MAIL MKT,E-MAIL MARKETING
19,FORÇA DE VENDAS,FORÇA DE VENDAS,EMPRESA,AÇÃO EMPRESA
20,FORÇA DE VENDAS,FORÇA DE VENDAS,ENEM 2012 - não utilizar,AÇÃO ENEM
21,FORÇA DE VENDAS,FORÇA DE VENDAS,ESCOLA PRIVADA,AÇÃO ESCOLA
22,FORÇA DE VENDAS,FORÇA DE VENDAS,ESCOLA PRIVADA - não utilizar,AÇÃO ESCOLA
23,FORÇA DE VENDAS,FORÇA DE VENDAS,ESCOLA PÚBLICA,AÇÃO ESCOLA
24,FORÇA DE VENDAS,FORÇA DE VENDAS,ESCOLA PÚBLICA - não utilizar,AÇÃO ESCOLA
25,FORÇA DE VENDAS,FORÇA DE VENDAS,EVENTO/FEIRA,FEIRAS E EVENTOS
26,FORÇA DE VENDAS,FORÇA DE VENDAS,FEIRA DA EMPREGABILIDADE,FEIRA DA EMPREGABILIDADE
27,FORÇA DE VENDAS,FORÇA DE VENDAS,FEIRAS E EVENTOS,FEIRAS E EVENTOS
28,FORÇA DE VENDAS,FORÇA DE VENDAS,GIRO DE PROFISSÕES,GIRO DE PROFISSÕES
29,FORÇA DE VENDAS,FORÇA DE VENDAS,FEIRA DAS PROFISSÕES,GIRO DE PROFISSÕES
...,...,...,...,...
100,GIRO DE PROFISSÕES,FORÇA DE VENDAS,NaN,NaN
101,FEIRA DAS PROFISSÕES,FORÇA DE VENDAS,NaN,NaN
102,INDICAÇÃO,MGM,NaN,NaN
103,INTERNET,MÍDIA,NaN,NaN
104,JORNAL,MÍDIA,NaN,NaN
105,MOTORHOME,FORÇA DE VENDAS,NaN,NaN
106,OUTDOOR,MÍDIA,NaN,NaN
107,OUTROS,OUTROS,NaN,NaN
108,PITSTOP ENEM 2013 - não utilizar,FORÇA DE VENDAS,NaN,NaN
109,PORTAS ABERTAS,FORÇA DE VENDAS,NaN,NaN
110,RÁDIO,MÍDIA,NaN,NaN
111,REVISTA,MÍDIA,NaN,NaN
112,SAA - não utilizar,UNIDADE,NaN,NaN
113,SAA/DCA,UNIDADE,NaN,NaN
114,SIMULADO - não utilizar,FORÇA DE VENDAS,NaN,NaN
115,SMS,RÉGUA CAPTAÇÃO,NaN,NaN
116,TV,MÍDIA,NaN,NaN
117,VG ESCOLA,FORÇA DE VENDAS,NaN,NaN
118,E-MAIL MKT,MÍDIA,NaN,NaN
119,PITSTOP ENEM 2013 - não utilizar,FORÇA DE VENDAS,NaN,NaN
120,SIMULADO - não utilizar,FORÇA DE VENDAS,NaN,NaN
121,CURSINHO,FORÇA DE VENDAS,NaN,NaN
122,QUINSTREET,MÍDIA,NaN,NaN
123,ENCCEJA,FORÇA DE VENDAS,NaN,NaN
124,AÇÃO ENCCEJA,FORÇA DE VENDAS,NaN,NaN
125,Transferência,FORÇA DE VENDAS,NaN,NaN
126,TRANSFERÊNCIA,FORÇA DE VENDAS,NaN,NaN
127,TRANSFERENCIA,FORÇA DE VENDAS,NaN,NaN
128,Transferencia,FORÇA DE VENDAS,NaN,NaN
129,EVENTO CONECTA,EVENTO CONECTA,NaN,NaN

In [14]:
def trata_canal_vendas(row):
    if (row['DS_QUINSTREET'])=='1':
        val = 'QUINSTREET'
    elif (row['DS_CANAL_CONSULTOR'] is None):
        val = row['DS_CANAL_VENDAS']
    else: 
        val = row['DS_CANAL_CONSULTOR']
    return val

In [15]:
dfa['v_Sub_Canal_Vendas'] = dfa.apply(trata_canal_vendas, axis = 1) 
dfa

,BOLSA_ALUNO_TMP,CD_BOLSAS_ALUNO,CD_CANDIDATO,DS_QUINSTREET,CD_CHAVE_ALUNO,CD_CURSO_INSCRICAO,CD_CURSO_MATRICULA,CD_RA,CD_UNIDADE,CD_VENDEDOR,...,NR_TELEFONE_COMERCIAL,NR_TELEFONE_RESIDENCIAL,TURNO,DS_PRIM_VENDEDOR,vChave_Empresa_RA,aux_vNome_Curso,aux_vCurso_Matricula_mkt,vNome_Curso,vFlag_Matriculado_PEP,v_Sub_Canal_Vendas
0,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115151795,0,3457242507,2978,2978,3457242,-1055,821830,...,None,None,Matutino,821830,KROTON|3457242,False,False,PEDAGOGIA - LICENCIATURA,0,AÇÃO ENEM
1,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115114415,0,3455640507,67254,67254,3455640,-1055,451830,...,None,(28) 3529-3616,Noturno,None,KROTON|3455640,False,False,DIREITO,0,AÇÃO ENEM
2,<BOLSA INCENTIVO>,<12102>,115210436,0,3460941507,2161,2161,3460941,-1055,421832,...,None,None,Matutino,421832,KROTON|3460941,False,False,DIREITO,0,AÇÃO EMPRESA
3,<BOLSA INCENTIVO><OUTRAS BOLSAS>,<12102><21870>,114348255,1,3444238638,15012,15012,3444238,UCL,0,...,None,(11) 5831-3071,Noturno,0,KROTON|3444238,False,False,DIREITO,0,QUINSTREET

In [16]:
dfa = pd.merge(dfa, de, left_index=True, right_index=True)
dfa

,BOLSA_ALUNO_TMP,CD_BOLSAS_ALUNO,CD_CANDIDATO,DS_QUINSTREET,CD_CHAVE_ALUNO,CD_CURSO_INSCRICAO,CD_CURSO_MATRICULA,CD_RA,CD_UNIDADE,CD_VENDEDOR,...,vChave_Empresa_RA,aux_vNome_Curso,aux_vCurso_Matricula_mkt,vNome_Curso,vFlag_Matriculado_PEP,v_Sub_Canal_Vendas,CANAL DE,CANAL PARA,SUB_CANAL DE,SUB_CANAL PARA
0,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115151795,0,3457242507,2978,2978,3457242,-1055,821830,...,KROTON|3457242,False,False,PEDAGOGIA - LICENCIATURA,0,AÇÃO ENEM,FORÇA DE VENDAS,FORÇA DE VENDAS,AÇÃO CURSINHO,AÇÃO ESCOLA
1,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115114415,0,3455640507,67254,67254,3455640,-1055,451830,...,KROTON|3455640,False,False,DIREITO,0,AÇÃO ENEM,NÃO INFORMADO,FORÇA DE VENDAS,AÇÃO DE CAPTAÇÃO,AÇÃO GUERRILHA
2,<BOLSA INCENTIVO>,<12102>,115210436,0,3460941507,2161,2161,3460941,-1055,421832,...,KROTON|3460941,False,False,DIREITO,0,AÇÃO EMPRESA,FORÇA DE VENDAS,FORÇA DE VENDAS,AÇÃO DE GUERRILHA,AÇÃO GUERRILHA
3,<BOLSA INCENTIVO><OUTRAS BOLSAS>,<12102><21870>,114348255,1,3444238638,15012,15012,3444238,UCL,0,...,KROTON|3444238,False,False,DIREITO,0,QUINSTREET,FORÇA DE VENDAS,FORÇA DE VENDAS,AÇÃO EJA,AÇÃO ESCOLA

In [17]:
dfa.rename(index=str, columns={"SUB_CANAL DE":"vSub_Canal"})

,BOLSA_ALUNO_TMP,CD_BOLSAS_ALUNO,CD_CANDIDATO,DS_QUINSTREET,CD_CHAVE_ALUNO,CD_CURSO_INSCRICAO,CD_CURSO_MATRICULA,CD_RA,CD_UNIDADE,CD_VENDEDOR,...,vChave_Empresa_RA,aux_vNome_Curso,aux_vCurso_Matricula_mkt,vNome_Curso,vFlag_Matriculado_PEP,v_Sub_Canal_Vendas,CANAL DE,CANAL PARA,vSub_Canal,SUB_CANAL PARA
0,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115151795,0,3457242507,2978,2978,3457242,-1055,821830,...,KROTON|3457242,False,False,PEDAGOGIA - LICENCIATURA,0,AÇÃO ENEM,FORÇA DE VENDAS,FORÇA DE VENDAS,AÇÃO CURSINHO,AÇÃO ESCOLA
1,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115114415,0,3455640507,67254,67254,3455640,-1055,451830,...,KROTON|3455640,False,False,DIREITO,0,AÇÃO ENEM,NÃO INFORMADO,FORÇA DE VENDAS,AÇÃO DE CAPTAÇÃO,AÇÃO GUERRILHA
2,<BOLSA INCENTIVO>,<12102>,115210436,0,3460941507,2161,2161,3460941,-1055,421832,...,KROTON|3460941,False,False,DIREITO,0,AÇÃO EMPRESA,FORÇA DE VENDAS,FORÇA DE VENDAS,AÇÃO DE GUERRILHA,AÇÃO GUERRILHA
3,<BOLSA INCENTIVO><OUTRAS BOLSAS>,<12102><21870>,114348255,1,3444238638,15012,15012,3444238,UCL,0,...,KROTON|3444238,False,False,DIREITO,0,QUINSTREET,FORÇA DE VENDAS,FORÇA DE VENDAS,AÇÃO EJA,AÇÃO ESCOLA

In [18]:
from unicodedata import normalize
def marca_detalhe(row):
    if (row['DS_MODALIDADE'] == 'UNIRONDON'):
       val = 'UNIC'
    else:
        val = normalize('NFKD', row['DS_MARCA_DETALHE']).encode('ASCII','ignore').decode('ASCII')
    return val

In [19]:
dfa['vMarca_Detalhe'] = dfa.apply(marca_detalhe, axis = 1) 
dfa

,BOLSA_ALUNO_TMP,CD_BOLSAS_ALUNO,CD_CANDIDATO,DS_QUINSTREET,CD_CHAVE_ALUNO,CD_CURSO_INSCRICAO,CD_CURSO_MATRICULA,CD_RA,CD_UNIDADE,CD_VENDEDOR,...,aux_vNome_Curso,aux_vCurso_Matricula_mkt,vNome_Curso,vFlag_Matriculado_PEP,v_Sub_Canal_Vendas,CANAL DE,CANAL PARA,SUB_CANAL DE,SUB_CANAL PARA,vMarca_Detalhe
0,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115151795,0,3457242507,2978,2978,3457242,-1055,821830,...,False,False,PEDAGOGIA - LICENCIATURA,0,AÇÃO ENEM,FORÇA DE VENDAS,FORÇA DE VENDAS,AÇÃO CURSINHO,AÇÃO ESCOLA,PITAGORAS
1,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115114415,0,3455640507,67254,67254,3455640,-1055,451830,...,False,False,DIREITO,0,AÇÃO ENEM,NÃO INFORMADO,FORÇA DE VENDAS,AÇÃO DE CAPTAÇÃO,AÇÃO GUERRILHA,PITAGORAS
2,<BOLSA INCENTIVO>,<12102>,115210436,0,3460941507,2161,2161,3460941,-1055,421832,...,False,False,DIREITO,0,AÇÃO EMPRESA,FORÇA DE VENDAS,FORÇA DE VENDAS,AÇÃO DE GUERRILHA,AÇÃO GUERRILHA,PITAGORAS
3,<BOLSA INCENTIVO><OUTRAS BOLSAS>,<12102><21870>,114348255,1,3444238638,15012,15012,3444238,UCL,0,...,False,False,DIREITO,0,QUINSTREET,FORÇA DE VENDAS,FORÇA DE VENDAS,AÇÃO EJA,AÇÃO ESCOLA,ANHANGUERA

In [20]:
def tipo_aluno(row):
    if (row['FL_MATRICULADO'] == '1')==1:
       val = 'PEP'
    elif (row['FL_WINBACK_CAPTACAO'] == '1'):
       val = 'WINBACK'
    elif (row['FL_MATRICULADO_FIES'] == '1'):
       val = 'FIES'
    elif (row['FL_MATRICULADO_PROUNI'] == '1'):
       val = 'PROUNI'
    else:
        val = 'PAGANTE'
    return val

In [21]:
dfa['Tipo_Aluno'] = dfa.apply(tipo_aluno, axis = 1)
dfa

,BOLSA_ALUNO_TMP,CD_BOLSAS_ALUNO,CD_CANDIDATO,DS_QUINSTREET,CD_CHAVE_ALUNO,CD_CURSO_INSCRICAO,CD_CURSO_MATRICULA,CD_RA,CD_UNIDADE,CD_VENDEDOR,...,aux_vCurso_Matricula_mkt,vNome_Curso,vFlag_Matriculado_PEP,v_Sub_Canal_Vendas,CANAL DE,CANAL PARA,SUB_CANAL DE,SUB_CANAL PARA,vMarca_Detalhe,Tipo_Aluno
0,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115151795,0,3457242507,2978,2978,3457242,-1055,821830,...,False,PEDAGOGIA - LICENCIATURA,0,AÇÃO ENEM,FORÇA DE VENDAS,FORÇA DE VENDAS,AÇÃO CURSINHO,AÇÃO ESCOLA,PITAGORAS,PEP
1,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115114415,0,3455640507,67254,67254,3455640,-1055,451830,...,False,DIREITO,0,AÇÃO ENEM,NÃO INFORMADO,FORÇA DE VENDAS,AÇÃO DE CAPTAÇÃO,AÇÃO GUERRILHA,PITAGORAS,PEP
2,<BOLSA INCENTIVO>,<12102>,115210436,0,3460941507,2161,2161,3460941,-1055,421832,...,False,DIREITO,0,AÇÃO EMPRESA,FORÇA DE VENDAS,FORÇA DE VENDAS,AÇÃO DE GUERRILHA,AÇÃO GUERRILHA,PITAGORAS,WINBACK
3,<BOLSA INCENTIVO><OUTRAS BOLSAS>,<12102><21870>,114348255,1,3444238638,15012,15012,3444238,UCL,0,...,False,DIREITO,0,QUINSTREET,FORÇA DE VENDAS,FORÇA DE VENDAS,AÇÃO EJA,AÇÃO ESCOLA,ANHANGUERA,PEP

In [53]:
# variáveis de limpreza *******************************************

In [22]:
def trata_turno(row):
    if  (row['TURNO'].strip() == '*DIU*'):
        val = 'INTEGRAL'
    elif (row['TURNO'].strip() == '*INT*'):
        val = 'INTEGRAL'
    elif (row['TURNO'].strip() == '*MAT*'):
        val = 'MATUTINO'
    elif (row['TURNO'].strip() == '*NOT*'):
        val = 'NOTURNO'
    elif (row['TURNO'].strip() == '*VES*'):
        val = 'VESPERTINO'
    else:
        val = row['TURNO']
    return val

In [23]:
dfa['vTurno'] = dfa.apply(trata_turno, axis = 1)
dfa

,BOLSA_ALUNO_TMP,CD_BOLSAS_ALUNO,CD_CANDIDATO,DS_QUINSTREET,CD_CHAVE_ALUNO,CD_CURSO_INSCRICAO,CD_CURSO_MATRICULA,CD_RA,CD_UNIDADE,CD_VENDEDOR,...,vNome_Curso,vFlag_Matriculado_PEP,v_Sub_Canal_Vendas,CANAL DE,CANAL PARA,SUB_CANAL DE,SUB_CANAL PARA,vMarca_Detalhe,Tipo_Aluno,vTurno
0,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115151795,0,3457242507,2978,2978,3457242,-1055,821830,...,PEDAGOGIA - LICENCIATURA,0,AÇÃO ENEM,FORÇA DE VENDAS,FORÇA DE VENDAS,AÇÃO CURSINHO,AÇÃO ESCOLA,PITAGORAS,PEP,Matutino
1,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115114415,0,3455640507,67254,67254,3455640,-1055,451830,...,DIREITO,0,AÇÃO ENEM,NÃO INFORMADO,FORÇA DE VENDAS,AÇÃO DE CAPTAÇÃO,AÇÃO GUERRILHA,PITAGORAS,PEP,Noturno
2,<BOLSA INCENTIVO>,<12102>,115210436,0,3460941507,2161,2161,3460941,-1055,421832,...,DIREITO,0,AÇÃO EMPRESA,FORÇA DE VENDAS,FORÇA DE VENDAS,AÇÃO DE GUERRILHA,AÇÃO GUERRILHA,PITAGORAS,WINBACK,Matutino
3,<BOLSA INCENTIVO><OUTRAS BOLSAS>,<12102><21870>,114348255,1,3444238638,15012,15012,3444238,UCL,0,...,DIREITO,0,QUINSTREET,FORÇA DE VENDAS,FORÇA DE VENDAS,AÇÃO EJA,AÇÃO ESCOLA,ANHANGUERA,PEP,Noturno

In [24]:
def trata_ead(row):
    if (row['DS_MODALIDADE_EAD'] == '*SEMI*'):
        val = 'SEMI-PRESENCIAL'
    else:
        val = row['DS_MODALIDADE_EAD']
    return val

In [25]:
dfa['vModalidade_EAD_Temp'] = dfa.apply(trata_ead, axis = 1)
dfa

,BOLSA_ALUNO_TMP,CD_BOLSAS_ALUNO,CD_CANDIDATO,DS_QUINSTREET,CD_CHAVE_ALUNO,CD_CURSO_INSCRICAO,CD_CURSO_MATRICULA,CD_RA,CD_UNIDADE,CD_VENDEDOR,...,vFlag_Matriculado_PEP,v_Sub_Canal_Vendas,CANAL DE,CANAL PARA,SUB_CANAL DE,SUB_CANAL PARA,vMarca_Detalhe,Tipo_Aluno,vTurno,vModalidade_EAD_Temp
0,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115151795,0,3457242507,2978,2978,3457242,-1055,821830,...,0,AÇÃO ENEM,FORÇA DE VENDAS,FORÇA DE VENDAS,AÇÃO CURSINHO,AÇÃO ESCOLA,PITAGORAS,PEP,Matutino,None
1,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115114415,0,3455640507,67254,67254,3455640,-1055,451830,...,0,AÇÃO ENEM,NÃO INFORMADO,FORÇA DE VENDAS,AÇÃO DE CAPTAÇÃO,AÇÃO GUERRILHA,PITAGORAS,PEP,Noturno,None
2,<BOLSA INCENTIVO>,<12102>,115210436,0,3460941507,2161,2161,3460941,-1055,421832,...,0,AÇÃO EMPRESA,FORÇA DE VENDAS,FORÇA DE VENDAS,AÇÃO DE GUERRILHA,AÇÃO GUERRILHA,PITAGORAS,WINBACK,Matutino,None
3,<BOLSA INCENTIVO><OUTRAS BOLSAS>,<12102><21870>,114348255,1,3444238638,15012,15012,3444238,UCL,0,...,0,QUINSTREET,FORÇA DE VENDAS,FORÇA DE VENDAS,AÇÃO EJA,AÇÃO ESCOLA,ANHANGUERA,PEP,Noturno,None

In [26]:
def marca_aedu(row):
    if (row['DS_MARCA'] == '*AEDU*'):
        val = 'ANHANGUERA'
    else:
        val =  row['DS_MARCA']
    return val

In [27]:
dfa['vMarca'] = dfa.apply(marca_aedu, axis = 1)
dfa

,BOLSA_ALUNO_TMP,CD_BOLSAS_ALUNO,CD_CANDIDATO,DS_QUINSTREET,CD_CHAVE_ALUNO,CD_CURSO_INSCRICAO,CD_CURSO_MATRICULA,CD_RA,CD_UNIDADE,CD_VENDEDOR,...,v_Sub_Canal_Vendas,CANAL DE,CANAL PARA,SUB_CANAL DE,SUB_CANAL PARA,vMarca_Detalhe,Tipo_Aluno,vTurno,vModalidade_EAD_Temp,vMarca
0,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115151795,0,3457242507,2978,2978,3457242,-1055,821830,...,AÇÃO ENEM,FORÇA DE VENDAS,FORÇA DE VENDAS,AÇÃO CURSINHO,AÇÃO ESCOLA,PITAGORAS,PEP,Matutino,None,Demais Marcas
1,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115114415,0,3455640507,67254,67254,3455640,-1055,451830,...,AÇÃO ENEM,NÃO INFORMADO,FORÇA DE VENDAS,AÇÃO DE CAPTAÇÃO,AÇÃO GUERRILHA,PITAGORAS,PEP,Noturno,None,Demais Marcas
2,<BOLSA INCENTIVO>,<12102>,115210436,0,3460941507,2161,2161,3460941,-1055,421832,...,AÇÃO EMPRESA,FORÇA DE VENDAS,FORÇA DE VENDAS,AÇÃO DE GUERRILHA,AÇÃO GUERRILHA,PITAGORAS,WINBACK,Matutino,None,Demais Marcas
3,<BOLSA INCENTIVO><OUTRAS BOLSAS>,<12102><21870>,114348255,1,3444238638,15012,15012,3444238,UCL,0,...,QUINSTREET,FORÇA DE VENDAS,FORÇA DE VENDAS,AÇÃO EJA,AÇÃO ESCOLA,ANHANGUERA,PEP,Noturno,None,Demais Marcas

In [28]:
dfa['vRegional'] = dfa['DS_REGIONAL'].str.upper()
dfa

,BOLSA_ALUNO_TMP,CD_BOLSAS_ALUNO,CD_CANDIDATO,DS_QUINSTREET,CD_CHAVE_ALUNO,CD_CURSO_INSCRICAO,CD_CURSO_MATRICULA,CD_RA,CD_UNIDADE,CD_VENDEDOR,...,CANAL DE,CANAL PARA,SUB_CANAL DE,SUB_CANAL PARA,vMarca_Detalhe,Tipo_Aluno,vTurno,vModalidade_EAD_Temp,vMarca,vRegional
0,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115151795,0,3457242507,2978,2978,3457242,-1055,821830,...,FORÇA DE VENDAS,FORÇA DE VENDAS,AÇÃO CURSINHO,AÇÃO ESCOLA,PITAGORAS,PEP,Matutino,None,Demais Marcas,REGIONAL SUDESTE
1,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115114415,0,3455640507,67254,67254,3455640,-1055,451830,...,NÃO INFORMADO,FORÇA DE VENDAS,AÇÃO DE CAPTAÇÃO,AÇÃO GUERRILHA,PITAGORAS,PEP,Noturno,None,Demais Marcas,REGIONAL SUDESTE
2,<BOLSA INCENTIVO>,<12102>,115210436,0,3460941507,2161,2161,3460941,-1055,421832,...,FORÇA DE VENDAS,FORÇA DE VENDAS,AÇÃO DE GUERRILHA,AÇÃO GUERRILHA,PITAGORAS,WINBACK,Matutino,None,Demais Marcas,REGIONAL SUDESTE
3,<BOLSA INCENTIVO><OUTRAS BOLSAS>,<12102><21870>,114348255,1,3444238638,15012,15012,3444238,UCL,0,...,FORÇA DE VENDAS,FORÇA DE VENDAS,AÇÃO EJA,AÇÃO ESCOLA,ANHANGUERA,PEP,Noturno,None,Demais Marcas,REGIONAL SP1

In [ ]:
#Captacao_Unificada

In [29]:
def trata_as_canal_vendas(row):
    if (row['v_Sub_Canal_Vendas']) is not null:
        val = row['v_Sub_Canal_Vendas']
    else: 
        val = 'Não Informado'
    return val

In [30]:
dfa['Canal_Vendas'] = dfa.apply(trata_canal_vendas, axis = 1)

In [31]:
ead = pd.read_excel('DePara_Modalidade_EAD.xlsx')
ead.drop_duplicates(['CURSO'], keep='last')
ead[:50]

,CURSO,DE_MODALIDADE_EAD,PARA_MODALIDADE_EAD
0,ADMINISTRACAO,EAD PREMIUM,SEMI-PRESENCIAL
1,ADMINISTRACAO PUBLICA,EAD PREMIUM,SEMI-PRESENCIAL
2,AGRONOMIA,SEMI-PRESENCIAL,EAD PREMIUM
3,AGRONOMIA,EAD PREMIUM,EAD PREMIUM
4,ARTE - EDUCACAO - LICENCIATURA,EAD PREMIUM,SEMI-PRESENCIAL
5,ARTES - LICENCIATURA,EAD PREMIUM,SEMI-PRESENCIAL
6,ARTES CENICAS,EAD PREMIUM,SEMI-PRESENCIAL
7,ARTES CENICAS - LICENCIATURA,EAD PREMIUM,SEMI-PRESENCIAL
8,ARTES VISUAIS,EAD PREMIUM,SEMI-PRESENCIAL
9,ARTES VISUAIS - LICENCIATURA,EAD PREMIUM,SEMI-PRESENCIAL
10,LICENCIATURA EM ARTES VISUAIS,EAD PREMIUM,SEMI-PRESENCIAL
11,PROGRAMA ESPECIAL DE FORMACAO DE DOCENTE - ART...,EAD PREMIUM,SEMI-PRESENCIAL
12,BIBLIOTECONOMIA,EAD PREMIUM,SEMI-PRESENCIAL
13,BIOMEDICINA,EAD PREMIUM,EAD PREMIUM
14,CIENCIA DA COMPUTACAO,EAD PREMIUM,SEMI-PRESENCIAL
15,CIENCIA DA COMPUTACAO - LICENCIATURA,EAD PREMIUM,SEMI-PRESENCIAL
16,CIENCIAS DA COMPUTACAO,EAD PREMIUM,SEMI-PRESENCIAL
17,CIENCIA POLITICA,EAD PREMIUM,SEMI-PRESENCIAL
18,CIENCIAS - LICENCIATURA,EAD PREMIUM,SEMI-PRESENCIAL
19,CIENCIAS AERONAUTICAS,EAD PREMIUM,SEMI-PRESENCIAL
20,CIENCIAS AGRARIAS - LICENCIATURA,EAD PREMIUM,SEMI-PRESENCIAL
21,CIENCIAS BIOLOGICAS - BACHAREL,EAD PREMIUM,SEMI-PRESENCIAL
22,CIENCIAS BIOLOGICAS - BACHARELADO,EAD PREMIUM,SEMI-PRESENCIAL
23,BIOLOGIA - LICENCIATURA,EAD PREMIUM,SEMI-PRESENCIAL
24,CIENCIAS BIOLOGICAS,EAD PREMIUM,SEMI-PRESENCIAL
25,CIENCIAS BIOLOGICAS - LICENCIATURA,EAD PREMIUM,SEMI-PRESENCIAL
26,CIENCIAS NATURAIS - BIOLOGIA - LICENCIATURA,EAD PREMIUM,SEMI-PRESENCIAL
27,LICENCIATURA EM CIENCIAS BIOLOGICAS,EAD PREMIUM,SEMI-PRESENCIAL
28,CIENCIAS CONTABEIS,EAD PREMIUM,SEMI-PRESENCIAL
29,CiEncias ContAbeis,EAD PREMIUM,SEMI-PRESENCIAL
30,CIENCIAS DA NATUREZA - LICENCIATURA,EAD PREMIUM,SEMI-PRESENCIAL
31,CIENCIAS DA RELIGIAO,EAD PREMIUM,SEMI-PRESENCIAL
32,CIE. ECO. (ECONOMIA),EAD PREMIUM,SEMI-PRESENCIAL
33,CIENCIAS ECONOMICAS,EAD PREMIUM,SEMI-PRESENCIAL
34,CIENCIAS ECONOMICAS,EAD PREMIUM,SEMI-PRESENCIAL
35,CIENCIAS ECONOMICAS - ECONOMIA,EAD PREMIUM,SEMI-PRESENCIAL
36,CIENCIAS ECONOMICAS (ECONOMIA),EAD PREMIUM,SEMI-PRESENCIAL
37,CIENCIAS ECONOMICAS (ECONOMIA),EAD PREMIUM,SEMI-PRESENCIAL
38,CIENCIAS IMOBILIARIAS,EAD PREMIUM,SEMI-PRESENCIAL
39,CIENCIAS NATURAIS - LICENCIATURA,EAD PREMIUM,SEMI-PRESENCIAL
40,CIENCIAS NATURAIS E MATEMATICA - LICENCIATURA,EAD PREMIUM,SEMI-PRESENCIAL
41,CIENCIAS SOCIAIS,EAD PREMIUM,SEMI-PRESENCIAL
42,CIENCIAS SOCIAIS - LICENCIATURA,EAD PREMIUM,SEMI-PRESENCIAL
43,COMPUTACAO - LICENCIATURA,EAD PREMIUM,SEMI-PRESENCIAL
44,COMPUTACAO E INFORMATICA - LICENCIATURA,EAD PREMIUM,SEMI-PRESENCIAL
45,COMUNICACAO E MARKETING,EAD PREMIUM,SEMI-PRESENCIAL
46,COMUNICACAO SOCIAL,EAD PREMIUM,SEMI-PRESENCIAL
47,COMUNICACAO SOCIAL - HABILITACAO EM JORNALISMO,EAD PREMIUM,SEMI-PRESENCIAL
48,COMUNICACAO SOCIAL - JORNALISMO,EAD PREMIUM,SEMI-PRESENCIAL
49,COMUNICACAO SOCIAL - HABILITACAO EM PUBLICIDAD...,EAD PREMIUM,EAD PREMIUM

In [32]:
dfa = pd.merge(dfa, ead, left_index=True, right_index=True)
dfa

,BOLSA_ALUNO_TMP,CD_BOLSAS_ALUNO,CD_CANDIDATO,DS_QUINSTREET,CD_CHAVE_ALUNO,CD_CURSO_INSCRICAO,CD_CURSO_MATRICULA,CD_RA,CD_UNIDADE,CD_VENDEDOR,...,vMarca_Detalhe,Tipo_Aluno,vTurno,vModalidade_EAD_Temp,vMarca,vRegional,Canal_Vendas,CURSO,DE_MODALIDADE_EAD,PARA_MODALIDADE_EAD
0,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115151795,0,3457242507,2978,2978,3457242,-1055,821830,...,PITAGORAS,PEP,Matutino,None,Demais Marcas,REGIONAL SUDESTE,AÇÃO ENEM,ADMINISTRACAO,EAD PREMIUM,SEMI-PRESENCIAL
1,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115114415,0,3455640507,67254,67254,3455640,-1055,451830,...,PITAGORAS,PEP,Noturno,None,Demais Marcas,REGIONAL SUDESTE,AÇÃO ENEM,ADMINISTRACAO PUBLICA,EAD PREMIUM,SEMI-PRESENCIAL
2,<BOLSA INCENTIVO>,<12102>,115210436,0,3460941507,2161,2161,3460941,-1055,421832,...,PITAGORAS,WINBACK,Matutino,None,Demais Marcas,REGIONAL SUDESTE,AÇÃO EMPRESA,AGRONOMIA,SEMI-PRESENCIAL,EAD PREMIUM
3,<BOLSA INCENTIVO><OUTRAS BOLSAS>,<12102><21870>,114348255,1,3444238638,15012,15012,3444238,UCL,0,...,ANHANGUERA,PEP,Noturno,None,Demais Marcas,REGIONAL SP1,QUINSTREET,AGRONOMIA,EAD PREMIUM,EAD PREMIUM

In [33]:
dfa.rename(index=str, columns={"PARA_MODALIDADE_EAD":"Modalidade_EAD"})

,BOLSA_ALUNO_TMP,CD_BOLSAS_ALUNO,CD_CANDIDATO,DS_QUINSTREET,CD_CHAVE_ALUNO,CD_CURSO_INSCRICAO,CD_CURSO_MATRICULA,CD_RA,CD_UNIDADE,CD_VENDEDOR,...,vMarca_Detalhe,Tipo_Aluno,vTurno,vModalidade_EAD_Temp,vMarca,vRegional,Canal_Vendas,CURSO,DE_MODALIDADE_EAD,Modalidade_EAD
0,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115151795,0,3457242507,2978,2978,3457242,-1055,821830,...,PITAGORAS,PEP,Matutino,None,Demais Marcas,REGIONAL SUDESTE,AÇÃO ENEM,ADMINISTRACAO,EAD PREMIUM,SEMI-PRESENCIAL
1,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115114415,0,3455640507,67254,67254,3455640,-1055,451830,...,PITAGORAS,PEP,Noturno,None,Demais Marcas,REGIONAL SUDESTE,AÇÃO ENEM,ADMINISTRACAO PUBLICA,EAD PREMIUM,SEMI-PRESENCIAL
2,<BOLSA INCENTIVO>,<12102>,115210436,0,3460941507,2161,2161,3460941,-1055,421832,...,PITAGORAS,WINBACK,Matutino,None,Demais Marcas,REGIONAL SUDESTE,AÇÃO EMPRESA,AGRONOMIA,SEMI-PRESENCIAL,EAD PREMIUM
3,<BOLSA INCENTIVO><OUTRAS BOLSAS>,<12102><21870>,114348255,1,3444238638,15012,15012,3444238,UCL,0,...,ANHANGUERA,PEP,Noturno,None,Demais Marcas,REGIONAL SP1,QUINSTREET,AGRONOMIA,EAD PREMIUM,EAD PREMIUM

In [34]:
dfa.rename(index=str, columns={"vTipo_Aluno":"Tipo_Aluno"})

,BOLSA_ALUNO_TMP,CD_BOLSAS_ALUNO,CD_CANDIDATO,DS_QUINSTREET,CD_CHAVE_ALUNO,CD_CURSO_INSCRICAO,CD_CURSO_MATRICULA,CD_RA,CD_UNIDADE,CD_VENDEDOR,...,vMarca_Detalhe,Tipo_Aluno,vTurno,vModalidade_EAD_Temp,vMarca,vRegional,Canal_Vendas,CURSO,DE_MODALIDADE_EAD,PARA_MODALIDADE_EAD
0,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115151795,0,3457242507,2978,2978,3457242,-1055,821830,...,PITAGORAS,PEP,Matutino,None,Demais Marcas,REGIONAL SUDESTE,AÇÃO ENEM,ADMINISTRACAO,EAD PREMIUM,SEMI-PRESENCIAL
1,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115114415,0,3455640507,67254,67254,3455640,-1055,451830,...,PITAGORAS,PEP,Noturno,None,Demais Marcas,REGIONAL SUDESTE,AÇÃO ENEM,ADMINISTRACAO PUBLICA,EAD PREMIUM,SEMI-PRESENCIAL
2,<BOLSA INCENTIVO>,<12102>,115210436,0,3460941507,2161,2161,3460941,-1055,421832,...,PITAGORAS,WINBACK,Matutino,None,Demais Marcas,REGIONAL SUDESTE,AÇÃO EMPRESA,AGRONOMIA,SEMI-PRESENCIAL,EAD PREMIUM
3,<BOLSA INCENTIVO><OUTRAS BOLSAS>,<12102><21870>,114348255,1,3444238638,15012,15012,3444238,UCL,0,...,ANHANGUERA,PEP,Noturno,None,Demais Marcas,REGIONAL SP1,QUINSTREET,AGRONOMIA,EAD PREMIUM,EAD PREMIUM

In [ ]:
# Flag_Matriculado_59 : Mapa_Boleto59

In [ ]:
# Flag_Matriculado_99 : Mapa_Boleto99

In [ ]:
# Flag_Matriculado_149 : Mapa_Boleto149

In [ ]:
# Flag_Matriculado_199 : Mapa_Boleto199

In [ ]:
# Flag_Matriculado_Finu_Mes1 : Mapa_Finu_Mes1

In [ ]:
# Flag_Matriculado_Finu_Mes2 : Mapa_Finu_Mes2

In [ ]:
# Flag_Matriculado_Finu_Mes3 : Mapa_Finu_Mes3

In [35]:
def bolsa_diretor(row):
    if (row['DS_BOLSAS_ALUNO'] == '*<BOLSA DIRETOR>*'):
        val = '1'
    else:
        val = '0'
    return val

In [36]:
dfa['Flag_Nova_Bolsa_Diretor'] = dfa.apply(bolsa_diretor, axis = 1)
dfa

,BOLSA_ALUNO_TMP,CD_BOLSAS_ALUNO,CD_CANDIDATO,DS_QUINSTREET,CD_CHAVE_ALUNO,CD_CURSO_INSCRICAO,CD_CURSO_MATRICULA,CD_RA,CD_UNIDADE,CD_VENDEDOR,...,Tipo_Aluno,vTurno,vModalidade_EAD_Temp,vMarca,vRegional,Canal_Vendas,CURSO,DE_MODALIDADE_EAD,PARA_MODALIDADE_EAD,Flag_Nova_Bolsa_Diretor
0,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115151795,0,3457242507,2978,2978,3457242,-1055,821830,...,PEP,Matutino,None,Demais Marcas,REGIONAL SUDESTE,AÇÃO ENEM,ADMINISTRACAO,EAD PREMIUM,SEMI-PRESENCIAL,0
1,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115114415,0,3455640507,67254,67254,3455640,-1055,451830,...,PEP,Noturno,None,Demais Marcas,REGIONAL SUDESTE,AÇÃO ENEM,ADMINISTRACAO PUBLICA,EAD PREMIUM,SEMI-PRESENCIAL,0
2,<BOLSA INCENTIVO>,<12102>,115210436,0,3460941507,2161,2161,3460941,-1055,421832,...,WINBACK,Matutino,None,Demais Marcas,REGIONAL SUDESTE,AÇÃO EMPRESA,AGRONOMIA,SEMI-PRESENCIAL,EAD PREMIUM,0
3,<BOLSA INCENTIVO><OUTRAS BOLSAS>,<12102><21870>,114348255,1,3444238638,15012,15012,3444238,UCL,0,...,PEP,Noturno,None,Demais Marcas,REGIONAL SP1,QUINSTREET,AGRONOMIA,EAD PREMIUM,EAD PREMIUM,0

In [ ]:
# Percentual_Nova_Bolsa_Diretor : Mapa_Nova-Bolsa_Diretor

In [37]:
def bolsa_diretor_social(row):
    if (row['vMarca_Detalhe']=='FAMA' and row['CD_BOLSAS_ALUNOS']=='*<6705>*'):
        val = 1
    elif (row['DS_EMPRESA']=='Kroton' and row['DS_MARCA_DETALHE']!='FAMA'):
        val = 1
    elif (row['DS_EMPRESA']=='Anhanguera' and row['CD_BOLSAS_ALUNOS']=='*<713>*','*<714>*''*<715>*''*<716>*''*<717>*'):
        val = 1
    else:
        val = 0
    return val

In [38]:
dfa['Flag_Bolsa_Social_Diretor'] = dfa.apply(bolsa_diretor_social, axis = 1)
dfa

,BOLSA_ALUNO_TMP,CD_BOLSAS_ALUNO,CD_CANDIDATO,DS_QUINSTREET,CD_CHAVE_ALUNO,CD_CURSO_INSCRICAO,CD_CURSO_MATRICULA,CD_RA,CD_UNIDADE,CD_VENDEDOR,...,vTurno,vModalidade_EAD_Temp,vMarca,vRegional,Canal_Vendas,CURSO,DE_MODALIDADE_EAD,PARA_MODALIDADE_EAD,Flag_Nova_Bolsa_Diretor,Flag_Bolsa_Social_Diretor
0,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115151795,0,3457242507,2978,2978,3457242,-1055,821830,...,Matutino,None,Demais Marcas,REGIONAL SUDESTE,AÇÃO ENEM,ADMINISTRACAO,EAD PREMIUM,SEMI-PRESENCIAL,0,1
1,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115114415,0,3455640507,67254,67254,3455640,-1055,451830,...,Noturno,None,Demais Marcas,REGIONAL SUDESTE,AÇÃO ENEM,ADMINISTRACAO PUBLICA,EAD PREMIUM,SEMI-PRESENCIAL,0,1
2,<BOLSA INCENTIVO>,<12102>,115210436,0,3460941507,2161,2161,3460941,-1055,421832,...,Matutino,None,Demais Marcas,REGIONAL SUDESTE,AÇÃO EMPRESA,AGRONOMIA,SEMI-PRESENCIAL,EAD PREMIUM,0,1
3,<BOLSA INCENTIVO><OUTRAS BOLSAS>,<12102><21870>,114348255,1,3444238638,15012,15012,3444238,UCL,0,...,Noturno,None,Demais Marcas,REGIONAL SP1,QUINSTREET,AGRONOMIA,EAD PREMIUM,EAD PREMIUM,0,1

In [ ]:
# Percentual_Nova_Bolsa_Social_Direto

In [39]:
def bolsa_diretor_comercial(row):
    if (row['vMarca_Detalhe']=='FAMA' and row['CD_BOLSAS_ALUNO']=='*<6707>*'):
        val = 1
    elif (row['DS_EMPRESA']=='Kroton' and row['DS_MARCA_DETALHE']!='FAMA' and row['CD_BOLSAS_ALUNO']=='*<11538>*'):
        val = 1
    elif (row['DS_EMPRESA']=='Anhanguera' and row['CD_BOLSAS_ALUNO']=='*<723>*'):
        val = 1
    else:
        val = 0
    return val

In [40]:
dfa['Flag_Bolsa_Diretor_Comercial'] = dfa.apply(bolsa_diretor_comercial, axis = 1)
dfa

,BOLSA_ALUNO_TMP,CD_BOLSAS_ALUNO,CD_CANDIDATO,DS_QUINSTREET,CD_CHAVE_ALUNO,CD_CURSO_INSCRICAO,CD_CURSO_MATRICULA,CD_RA,CD_UNIDADE,CD_VENDEDOR,...,vModalidade_EAD_Temp,vMarca,vRegional,Canal_Vendas,CURSO,DE_MODALIDADE_EAD,PARA_MODALIDADE_EAD,Flag_Nova_Bolsa_Diretor,Flag_Bolsa_Social_Diretor,Flag_Bolsa_Diretor_Comercial
0,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115151795,0,3457242507,2978,2978,3457242,-1055,821830,...,None,Demais Marcas,REGIONAL SUDESTE,AÇÃO ENEM,ADMINISTRACAO,EAD PREMIUM,SEMI-PRESENCIAL,0,1,0
1,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115114415,0,3455640507,67254,67254,3455640,-1055,451830,...,None,Demais Marcas,REGIONAL SUDESTE,AÇÃO ENEM,ADMINISTRACAO PUBLICA,EAD PREMIUM,SEMI-PRESENCIAL,0,1,0
2,<BOLSA INCENTIVO>,<12102>,115210436,0,3460941507,2161,2161,3460941,-1055,421832,...,None,Demais Marcas,REGIONAL SUDESTE,AÇÃO EMPRESA,AGRONOMIA,SEMI-PRESENCIAL,EAD PREMIUM,0,1,0
3,<BOLSA INCENTIVO><OUTRAS BOLSAS>,<12102><21870>,114348255,1,3444238638,15012,15012,3444238,UCL,0,...,None,Demais Marcas,REGIONAL SP1,QUINSTREET,AGRONOMIA,EAD PREMIUM,EAD PREMIUM,0,1,0

In [ ]:
# PercentualBolsa_Diretor-Comercial

In [41]:
def bolsa_prouni_institucional(row):
    if (row['vMarca_Detalhe']=='FAMA' and row['CD_BOLSAS_ALUNO']==('*<6707>*','*6708*','*<6709>*')):
        val = 1
    elif (row['DS_EMPRESA']=='Kroton' and row['DS_MARCA_DETALHE']!='FAMA' and row['CD_BOLSAS_ALUNO']==('*<11539>*','*<11540>*')):
        val = 1
    elif (row['DS_EMPRESA']=='Anhanguera' and row['CD_BOLSAS_ALUNO']==('*<538>*','*<539>*')):
        val = 1
    elif (row['DS_EMPRESA']=='Kroton' and row['CD_BOLSAS_ALUNO']==('*<9DIM>*','*<9DIN>*')):
            val = 1
    else:
        val = 0
    return val

In [42]:
dfa['Flag_Bolsa_Prouni_Institucional'] = dfa.apply(bolsa_prouni_institucional, axis = 1)
dfa

,BOLSA_ALUNO_TMP,CD_BOLSAS_ALUNO,CD_CANDIDATO,DS_QUINSTREET,CD_CHAVE_ALUNO,CD_CURSO_INSCRICAO,CD_CURSO_MATRICULA,CD_RA,CD_UNIDADE,CD_VENDEDOR,...,vMarca,vRegional,Canal_Vendas,CURSO,DE_MODALIDADE_EAD,PARA_MODALIDADE_EAD,Flag_Nova_Bolsa_Diretor,Flag_Bolsa_Social_Diretor,Flag_Bolsa_Diretor_Comercial,Flag_Bolsa_Prouni_Institucional
0,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115151795,0,3457242507,2978,2978,3457242,-1055,821830,...,Demais Marcas,REGIONAL SUDESTE,AÇÃO ENEM,ADMINISTRACAO,EAD PREMIUM,SEMI-PRESENCIAL,0,1,0,0
1,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115114415,0,3455640507,67254,67254,3455640,-1055,451830,...,Demais Marcas,REGIONAL SUDESTE,AÇÃO ENEM,ADMINISTRACAO PUBLICA,EAD PREMIUM,SEMI-PRESENCIAL,0,1,0,0
2,<BOLSA INCENTIVO>,<12102>,115210436,0,3460941507,2161,2161,3460941,-1055,421832,...,Demais Marcas,REGIONAL SUDESTE,AÇÃO EMPRESA,AGRONOMIA,SEMI-PRESENCIAL,EAD PREMIUM,0,1,0,0
3,<BOLSA INCENTIVO><OUTRAS BOLSAS>,<12102><21870>,114348255,1,3444238638,15012,15012,3444238,UCL,0,...,Demais Marcas,REGIONAL SP1,QUINSTREET,AGRONOMIA,EAD PREMIUM,EAD PREMIUM,0,1,0,0

In [ ]:
#Percentual_Bolsa_Prouni_Institucional

In [43]:
def bolsa_sazonal_bazuca(row):
    if (row['DS_EMPRESA']=='Kroton' and row['vMarca_Detalhe'] != 'FAMA' and (row['CD_BOLSAS_ALUNO']=='*<11761>*' or row['CD_BOLSAS_ALUNO']=='*<16557>*')):
        val = 1
    elif (row['DS_EMPRESA']=='Anhanguera' and row['CD_BOLSAS_ALUNO']=='*<730>*'):
        val = 1
    else:
        val = 0
    return val

In [44]:
dfa['Flag_Bolsa_Sazonal_Bazuca'] = dfa.apply(bolsa_prouni_institucional, axis = 1)
dfa

,BOLSA_ALUNO_TMP,CD_BOLSAS_ALUNO,CD_CANDIDATO,DS_QUINSTREET,CD_CHAVE_ALUNO,CD_CURSO_INSCRICAO,CD_CURSO_MATRICULA,CD_RA,CD_UNIDADE,CD_VENDEDOR,...,vRegional,Canal_Vendas,CURSO,DE_MODALIDADE_EAD,PARA_MODALIDADE_EAD,Flag_Nova_Bolsa_Diretor,Flag_Bolsa_Social_Diretor,Flag_Bolsa_Diretor_Comercial,Flag_Bolsa_Prouni_Institucional,Flag_Bolsa_Sazonal_Bazuca
0,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115151795,0,3457242507,2978,2978,3457242,-1055,821830,...,REGIONAL SUDESTE,AÇÃO ENEM,ADMINISTRACAO,EAD PREMIUM,SEMI-PRESENCIAL,0,1,0,0,0
1,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115114415,0,3455640507,67254,67254,3455640,-1055,451830,...,REGIONAL SUDESTE,AÇÃO ENEM,ADMINISTRACAO PUBLICA,EAD PREMIUM,SEMI-PRESENCIAL,0,1,0,0,0
2,<BOLSA INCENTIVO>,<12102>,115210436,0,3460941507,2161,2161,3460941,-1055,421832,...,REGIONAL SUDESTE,AÇÃO EMPRESA,AGRONOMIA,SEMI-PRESENCIAL,EAD PREMIUM,0,1,0,0,0
3,<BOLSA INCENTIVO><OUTRAS BOLSAS>,<12102><21870>,114348255,1,3444238638,15012,15012,3444238,UCL,0,...,REGIONAL SP1,QUINSTREET,AGRONOMIA,EAD PREMIUM,EAD PREMIUM,0,1,0,0,0

In [ ]:
#Percentual_Bolsa_Sazonal_Bazuca

In [45]:
def bolsa_quero_bolsas(row):
    if (row['DS_MARCA_DETALHE']=='FAMA' and row['CD_BOLSAS_ALUNO']==('*<6746>*','*<6747>*','*<11123>*','*<11124>*')):
        val = 1
    elif (row['DS_EMPRESA']=='Kroton' and row['DS_MARCA_DETALHE']!='FAMA' and row['CD_BOLSAS_ALUNO']==('*<5400>*','*<5401>*','*<12077>*','*<12078>*')):
        val = 1
    elif (row['DS_EMPRESA']=='Anhanguera' and row['DS_MARCA_DETALHE']!='FAMA' and row['CD_BOLSAS_ALUNO']==('*<856>*','*<5401>*')):
        val = 1
    elif (row['DS_EMPRESA']=='Kroton' and row['CD_BOLSAS_ALUNO']=='*<9BC9>*'):
        val = 1
    else:
        val = 0
    return val

In [46]:
dfa['Flag_Bolsa_Quero_Bolsas'] = dfa.apply(bolsa_quero_bolsas, axis = 1)
dfa

,BOLSA_ALUNO_TMP,CD_BOLSAS_ALUNO,CD_CANDIDATO,DS_QUINSTREET,CD_CHAVE_ALUNO,CD_CURSO_INSCRICAO,CD_CURSO_MATRICULA,CD_RA,CD_UNIDADE,CD_VENDEDOR,...,Canal_Vendas,CURSO,DE_MODALIDADE_EAD,PARA_MODALIDADE_EAD,Flag_Nova_Bolsa_Diretor,Flag_Bolsa_Social_Diretor,Flag_Bolsa_Diretor_Comercial,Flag_Bolsa_Prouni_Institucional,Flag_Bolsa_Sazonal_Bazuca,Flag_Bolsa_Quero_Bolsas
0,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115151795,0,3457242507,2978,2978,3457242,-1055,821830,...,AÇÃO ENEM,ADMINISTRACAO,EAD PREMIUM,SEMI-PRESENCIAL,0,1,0,0,0,0
1,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115114415,0,3455640507,67254,67254,3455640,-1055,451830,...,AÇÃO ENEM,ADMINISTRACAO PUBLICA,EAD PREMIUM,SEMI-PRESENCIAL,0,1,0,0,0,0
2,<BOLSA INCENTIVO>,<12102>,115210436,0,3460941507,2161,2161,3460941,-1055,421832,...,AÇÃO EMPRESA,AGRONOMIA,SEMI-PRESENCIAL,EAD PREMIUM,0,1,0,0,0,0
3,<BOLSA INCENTIVO><OUTRAS BOLSAS>,<12102><21870>,114348255,1,3444238638,15012,15012,3444238,UCL,0,...,QUINSTREET,AGRONOMIA,EAD PREMIUM,EAD PREMIUM,0,1,0,0,0,0

In [ ]:
# Percentual_Bolsa_Quero_Bolsas

In [ ]:
# Flag Lista_Ouro

In [47]:
def prim_semestre(row):
    if (row['DS_EMPRESA']=='Anhanguera' and row['CD_BOLSAS_ALUNO']=='*<700>*'):
        val = 1
    elif (row['DS_EMPRESA']=='Kroton' and row['vMarca_Detalhe']!='FAMA' and row['CD_BOLSAS_ALUNO']=='*<5316>*'):
        val = 1
    elif (row['DS_EMPRESA']=='Kroton' and row['CD_BOLSAS_ALUNO']==('*<9C9S>*','*<9CDC>*')):
        val = 1
    else:
        val = 0
    return val

In [48]:
dfa['Flag_Primeiro_Semestre'] = dfa.apply(prim_semestre, axis = 1)
dfa

,BOLSA_ALUNO_TMP,CD_BOLSAS_ALUNO,CD_CANDIDATO,DS_QUINSTREET,CD_CHAVE_ALUNO,CD_CURSO_INSCRICAO,CD_CURSO_MATRICULA,CD_RA,CD_UNIDADE,CD_VENDEDOR,...,CURSO,DE_MODALIDADE_EAD,PARA_MODALIDADE_EAD,Flag_Nova_Bolsa_Diretor,Flag_Bolsa_Social_Diretor,Flag_Bolsa_Diretor_Comercial,Flag_Bolsa_Prouni_Institucional,Flag_Bolsa_Sazonal_Bazuca,Flag_Bolsa_Quero_Bolsas,Flag_Primeiro_Semestre
0,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115151795,0,3457242507,2978,2978,3457242,-1055,821830,...,ADMINISTRACAO,EAD PREMIUM,SEMI-PRESENCIAL,0,1,0,0,0,0,0
1,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115114415,0,3455640507,67254,67254,3455640,-1055,451830,...,ADMINISTRACAO PUBLICA,EAD PREMIUM,SEMI-PRESENCIAL,0,1,0,0,0,0,0
2,<BOLSA INCENTIVO>,<12102>,115210436,0,3460941507,2161,2161,3460941,-1055,421832,...,AGRONOMIA,SEMI-PRESENCIAL,EAD PREMIUM,0,1,0,0,0,0,0
3,<BOLSA INCENTIVO><OUTRAS BOLSAS>,<12102><21870>,114348255,1,3444238638,15012,15012,3444238,UCL,0,...,AGRONOMIA,EAD PREMIUM,EAD PREMIUM,0,1,0,0,0,0,0

In [49]:
def flag_enem(row):
    if(row['DS_MODALIDADE']=='EAD' and row['CD_BOLSAS_ALUNO']==('*<9F5U>*','*<852>*')):
        val = 1
    else:
        val = 0
    return val

In [50]:
dfa['Flag_Bolsa_Acao_Enem'] = dfa.apply(flag_enem, axis = 1)
dfa

,BOLSA_ALUNO_TMP,CD_BOLSAS_ALUNO,CD_CANDIDATO,DS_QUINSTREET,CD_CHAVE_ALUNO,CD_CURSO_INSCRICAO,CD_CURSO_MATRICULA,CD_RA,CD_UNIDADE,CD_VENDEDOR,...,DE_MODALIDADE_EAD,PARA_MODALIDADE_EAD,Flag_Nova_Bolsa_Diretor,Flag_Bolsa_Social_Diretor,Flag_Bolsa_Diretor_Comercial,Flag_Bolsa_Prouni_Institucional,Flag_Bolsa_Sazonal_Bazuca,Flag_Bolsa_Quero_Bolsas,Flag_Primeiro_Semestre,Flag_Bolsa_Acao_Enem
0,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115151795,0,3457242507,2978,2978,3457242,-1055,821830,...,EAD PREMIUM,SEMI-PRESENCIAL,0,1,0,0,0,0,0,0
1,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115114415,0,3455640507,67254,67254,3455640,-1055,451830,...,EAD PREMIUM,SEMI-PRESENCIAL,0,1,0,0,0,0,0,0
2,<BOLSA INCENTIVO>,<12102>,115210436,0,3460941507,2161,2161,3460941,-1055,421832,...,SEMI-PRESENCIAL,EAD PREMIUM,0,1,0,0,0,0,0,0
3,<BOLSA INCENTIVO><OUTRAS BOLSAS>,<12102><21870>,114348255,1,3444238638,15012,15012,3444238,UCL,0,...,EAD PREMIUM,EAD PREMIUM,0,1,0,0,0,0,0,0

In [ ]:
# Quinstreet_Produto

In [51]:
def quin(row):
    if(row['DS_QUINSTREET']==('1','Sim')):
        val = 'Sim'
    else:
        val = 'Não'
    return val

In [52]:
dfa['Quinstreet'] = dfa.apply(quin, axis = 1)
dfa

,BOLSA_ALUNO_TMP,CD_BOLSAS_ALUNO,CD_CANDIDATO,DS_QUINSTREET,CD_CHAVE_ALUNO,CD_CURSO_INSCRICAO,CD_CURSO_MATRICULA,CD_RA,CD_UNIDADE,CD_VENDEDOR,...,PARA_MODALIDADE_EAD,Flag_Nova_Bolsa_Diretor,Flag_Bolsa_Social_Diretor,Flag_Bolsa_Diretor_Comercial,Flag_Bolsa_Prouni_Institucional,Flag_Bolsa_Sazonal_Bazuca,Flag_Bolsa_Quero_Bolsas,Flag_Primeiro_Semestre,Flag_Bolsa_Acao_Enem,Quinstreet
0,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115151795,0,3457242507,2978,2978,3457242,-1055,821830,...,SEMI-PRESENCIAL,0,1,0,0,0,0,0,0,Não
1,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115114415,0,3455640507,67254,67254,3455640,-1055,451830,...,SEMI-PRESENCIAL,0,1,0,0,0,0,0,0,Não
2,<BOLSA INCENTIVO>,<12102>,115210436,0,3460941507,2161,2161,3460941,-1055,421832,...,EAD PREMIUM,0,1,0,0,0,0,0,0,Não
3,<BOLSA INCENTIVO><OUTRAS BOLSAS>,<12102><21870>,114348255,1,3444238638,15012,15012,3444238,UCL,0,...,EAD PREMIUM,0,1,0,0,0,0,0,0,Não

In [53]:
def winback(row):
    if(row['FL_WINBACK_CAPTACAO']=='1'):
        val = 'Sim'
    else:
        val = 'Não'
    return val

In [54]:
dfa['Flag_Acao_Winback'] = dfa.apply(winback, axis = 1)
dfa

,BOLSA_ALUNO_TMP,CD_BOLSAS_ALUNO,CD_CANDIDATO,DS_QUINSTREET,CD_CHAVE_ALUNO,CD_CURSO_INSCRICAO,CD_CURSO_MATRICULA,CD_RA,CD_UNIDADE,CD_VENDEDOR,...,Flag_Nova_Bolsa_Diretor,Flag_Bolsa_Social_Diretor,Flag_Bolsa_Diretor_Comercial,Flag_Bolsa_Prouni_Institucional,Flag_Bolsa_Sazonal_Bazuca,Flag_Bolsa_Quero_Bolsas,Flag_Primeiro_Semestre,Flag_Bolsa_Acao_Enem,Quinstreet,Flag_Acao_Winback
0,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115151795,0,3457242507,2978,2978,3457242,-1055,821830,...,0,1,0,0,0,0,0,0,Não,Não
1,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115114415,0,3455640507,67254,67254,3455640,-1055,451830,...,0,1,0,0,0,0,0,0,Não,Não
2,<BOLSA INCENTIVO>,<12102>,115210436,0,3460941507,2161,2161,3460941,-1055,421832,...,0,1,0,0,0,0,0,0,Não,Sim
3,<BOLSA INCENTIVO><OUTRAS BOLSAS>,<12102><21870>,114348255,1,3444238638,15012,15012,3444238,UCL,0,...,0,1,0,0,0,0,0,0,Não,Não

In [55]:
#criar nova coluna concatenando outras 2 colunas
def chave(row):
    dfa['Chave_Unidade'] = dfa['CD_UNIDADE'] + dfa['DS_ORIGEM']

In [161]:
dfa['Chave_Unidade'] = dfa.apply(chave, axis = 1) 
dfa

,BOLSA_ALUNO_TMP,CD_BOLSAS_ALUNO,CD_CANDIDATO,DS_QUINSTREET,CD_CHAVE_ALUNO,CD_CURSO_INSCRICAO,CD_CURSO_MATRICULA,CD_RA,CD_UNIDADE,CD_VENDEDOR,...,Codfago_Bolsa,Chave_Empresa_RA,Flag_winback_Captacao,Data_convocacao,Descricao_Parceiro,Descricao_Curso_Original,Sub_Canal_Vendas,Primeiro_Vendedor,Modalidade_EAD,Chave_Unidade
0,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115151795,0,3457242507,2978,2978,3457242,-1055,821830,...,<12068><12102>,KROTON|3457242,0,NaT,None,Pedagogia - Licenciatura - M,AÇÃO ENEM,OLIMPO821830Presencial,SEMI-PRESENCIAL,None
1,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115114415,0,3455640507,67254,67254,3455640,-1055,451830,...,<12068><12102>,KROTON|3455640,0,2018-11-28,None,Direito - N,AÇÃO ENEM,OLIMPONonePresencial,SEMI-PRESENCIAL,None
2,<BOLSA INCENTIVO>,<12102>,115210436,0,3460941507,2161,2161,3460941,-1055,421832,...,<12102>,KROTON|3460941,1,NaT,None,Direito - M,AÇÃO EMPRESA,OLIMPO421832Presencial,EAD PREMIUM,None
3,<BOLSA INCENTIVO><OUTRAS BOLSAS>,<12102><21870>,114348255,1,3444238638,15012,15012,3444238,UCL,0,...,<12102><21870>,KROTON|3444238,0,2018-10-11,None,Direito - N,QUINSTREET,OLIMPO0Presencial,EAD PREMIUM,None

In [57]:
dfa['[Coordenador Curso]'] = dfa['DS_COORDENADOR_CURSO'].str.upper()
dfa

,BOLSA_ALUNO_TMP,CD_BOLSAS_ALUNO,CD_CANDIDATO,DS_QUINSTREET,CD_CHAVE_ALUNO,CD_CURSO_INSCRICAO,CD_CURSO_MATRICULA,CD_RA,CD_UNIDADE,CD_VENDEDOR,...,Flag_Bolsa_Social_Diretor,Flag_Bolsa_Diretor_Comercial,Flag_Bolsa_Prouni_Institucional,Flag_Bolsa_Sazonal_Bazuca,Flag_Bolsa_Quero_Bolsas,Flag_Primeiro_Semestre,Flag_Bolsa_Acao_Enem,Quinstreet,Flag_Acao_Winback,[Coordenador Curso]
0,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115151795,0,3457242507,2978,2978,3457242,-1055,821830,...,1,0,0,0,0,0,0,Não,Não,<SANDRA RAIMUNDO DE MOURA AMARAL>
1,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115114415,0,3455640507,67254,67254,3455640,-1055,451830,...,1,0,0,0,0,0,0,Não,Não,<ANDREZA LAGE RAIMUNDO>
2,<BOLSA INCENTIVO>,<12102>,115210436,0,3460941507,2161,2161,3460941,-1055,421832,...,1,0,0,0,0,0,0,Não,Sim,<ANDREZA LAGE RAIMUNDO>
3,<BOLSA INCENTIVO><OUTRAS BOLSAS>,<12102><21870>,114348255,1,3444238638,15012,15012,3444238,UCL,0,...,1,0,0,0,0,0,0,Não,Não,<DANIELA PALHUCA DO NASCIMENTO QUEIROZ>

In [ ]:
#Equivalencia Aluno

In [ ]:
#Grupo Equivalencia Aluno

In [ ]:
#% Bolsa Equivalencia Aluno

In [ ]:
# Convenio?

In [ ]:
# Nome Convenio

In [58]:
#Like no Pandas
def find50(row):
    if row['BOLSA_ALUNO_TMP'].find('<BOLSA CAPTAÇÃO>') != -1:
        val = 1
    else:
        val = 0
    return val

In [60]:
dfa['find50'] = dfa.apply(find50, axis = 1)
dfa

,BOLSA_ALUNO_TMP,CD_BOLSAS_ALUNO,CD_CANDIDATO,DS_QUINSTREET,CD_CHAVE_ALUNO,CD_CURSO_INSCRICAO,CD_CURSO_MATRICULA,CD_RA,CD_UNIDADE,CD_VENDEDOR,...,Flag_Bolsa_Diretor_Comercial,Flag_Bolsa_Prouni_Institucional,Flag_Bolsa_Sazonal_Bazuca,Flag_Bolsa_Quero_Bolsas,Flag_Primeiro_Semestre,Flag_Bolsa_Acao_Enem,Quinstreet,Flag_Acao_Winback,[Coordenador Curso],find50
0,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115151795,0,3457242507,2978,2978,3457242,-1055,821830,...,0,0,0,0,0,0,Não,Não,<SANDRA RAIMUNDO DE MOURA AMARAL>,1
1,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115114415,0,3455640507,67254,67254,3455640,-1055,451830,...,0,0,0,0,0,0,Não,Não,<ANDREZA LAGE RAIMUNDO>,1
2,<BOLSA INCENTIVO>,<12102>,115210436,0,3460941507,2161,2161,3460941,-1055,421832,...,0,0,0,0,0,0,Não,Sim,<ANDREZA LAGE RAIMUNDO>,0
3,<BOLSA INCENTIVO><OUTRAS BOLSAS>,<12102><21870>,114348255,1,3444238638,15012,15012,3444238,UCL,0,...,0,0,0,0,0,0,Não,Não,<DANIELA PALHUCA DO NASCIMENTO QUEIROZ>,0

In [61]:
def pep50(row):
    if row['BOLSA_ALUNO_TMP'].find('*PEP50*') != -1:
        val = 1
    else:
        val = 0
    return val

In [62]:
def pep30(row):
    if row['BOLSA_ALUNO_TMP'].find('*PEP30*') != -1:
        val = 1
    else:
        val = 0
    return val

In [63]:
dfa['pep50'] = dfa.apply(pep50, axis = 1)
dfa['pep30'] = dfa.apply(pep30, axis = 1)
dfa

,BOLSA_ALUNO_TMP,CD_BOLSAS_ALUNO,CD_CANDIDATO,DS_QUINSTREET,CD_CHAVE_ALUNO,CD_CURSO_INSCRICAO,CD_CURSO_MATRICULA,CD_RA,CD_UNIDADE,CD_VENDEDOR,...,Flag_Bolsa_Sazonal_Bazuca,Flag_Bolsa_Quero_Bolsas,Flag_Primeiro_Semestre,Flag_Bolsa_Acao_Enem,Quinstreet,Flag_Acao_Winback,[Coordenador Curso],find50,pep50,pep30
0,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115151795,0,3457242507,2978,2978,3457242,-1055,821830,...,0,0,0,0,Não,Não,<SANDRA RAIMUNDO DE MOURA AMARAL>,1,0,0
1,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115114415,0,3455640507,67254,67254,3455640,-1055,451830,...,0,0,0,0,Não,Não,<ANDREZA LAGE RAIMUNDO>,1,0,0
2,<BOLSA INCENTIVO>,<12102>,115210436,0,3460941507,2161,2161,3460941,-1055,421832,...,0,0,0,0,Não,Sim,<ANDREZA LAGE RAIMUNDO>,0,0,0
3,<BOLSA INCENTIVO><OUTRAS BOLSAS>,<12102><21870>,114348255,1,3444238638,15012,15012,3444238,UCL,0,...,0,0,0,0,Não,Não,<DANIELA PALHUCA DO NASCIMENTO QUEIROZ>,0,0,0

In [64]:
def bolsa_50(row):
    if(row['pep50'] ==1 and row['pep30'] ==1):
        val = 0
    elif row['pep50'] ==1:
        val = 1
    else:
        val = 0
    return val

In [65]:
dfa['Bolsa_PEP_50'] = dfa.apply(bolsa_50, axis = 1)
dfa

,BOLSA_ALUNO_TMP,CD_BOLSAS_ALUNO,CD_CANDIDATO,DS_QUINSTREET,CD_CHAVE_ALUNO,CD_CURSO_INSCRICAO,CD_CURSO_MATRICULA,CD_RA,CD_UNIDADE,CD_VENDEDOR,...,Flag_Bolsa_Quero_Bolsas,Flag_Primeiro_Semestre,Flag_Bolsa_Acao_Enem,Quinstreet,Flag_Acao_Winback,[Coordenador Curso],find50,pep50,pep30,Bolsa_PEP_50
0,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115151795,0,3457242507,2978,2978,3457242,-1055,821830,...,0,0,0,Não,Não,<SANDRA RAIMUNDO DE MOURA AMARAL>,1,0,0,0
1,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115114415,0,3455640507,67254,67254,3455640,-1055,451830,...,0,0,0,Não,Não,<ANDREZA LAGE RAIMUNDO>,1,0,0,0
2,<BOLSA INCENTIVO>,<12102>,115210436,0,3460941507,2161,2161,3460941,-1055,421832,...,0,0,0,Não,Sim,<ANDREZA LAGE RAIMUNDO>,0,0,0,0
3,<BOLSA INCENTIVO><OUTRAS BOLSAS>,<12102><21870>,114348255,1,3444238638,15012,15012,3444238,UCL,0,...,0,0,0,Não,Não,<DANIELA PALHUCA DO NASCIMENTO QUEIROZ>,0,0,0,0

In [66]:
def pep25(row):
    if row['BOLSA_ALUNO_TMP'].find('*PEP25*') != -1:
        val = 1
    else:
        val = 0
    return val

In [67]:
dfa['pep25'] = dfa.apply(pep25, axis = 1)
dfa

,BOLSA_ALUNO_TMP,CD_BOLSAS_ALUNO,CD_CANDIDATO,DS_QUINSTREET,CD_CHAVE_ALUNO,CD_CURSO_INSCRICAO,CD_CURSO_MATRICULA,CD_RA,CD_UNIDADE,CD_VENDEDOR,...,Flag_Primeiro_Semestre,Flag_Bolsa_Acao_Enem,Quinstreet,Flag_Acao_Winback,[Coordenador Curso],find50,pep50,pep30,Bolsa_PEP_50,pep25
0,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115151795,0,3457242507,2978,2978,3457242,-1055,821830,...,0,0,Não,Não,<SANDRA RAIMUNDO DE MOURA AMARAL>,1,0,0,0,0
1,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115114415,0,3455640507,67254,67254,3455640,-1055,451830,...,0,0,Não,Não,<ANDREZA LAGE RAIMUNDO>,1,0,0,0,0
2,<BOLSA INCENTIVO>,<12102>,115210436,0,3460941507,2161,2161,3460941,-1055,421832,...,0,0,Não,Sim,<ANDREZA LAGE RAIMUNDO>,0,0,0,0,0
3,<BOLSA INCENTIVO><OUTRAS BOLSAS>,<12102><21870>,114348255,1,3444238638,15012,15012,3444238,UCL,0,...,0,0,Não,Não,<DANIELA PALHUCA DO NASCIMENTO QUEIROZ>,0,0,0,0,0

In [68]:
def bolsa_25(row):
    if(row['pep50'] ==1 and row['pep25'] ==1):
        val = 0
    elif row['pep25'] ==1:
        val = 1
    else:
        val = 0
    return val

In [69]:
dfa['Bolsa_PEP_25'] = dfa.apply(bolsa_50, axis = 1)
dfa

,BOLSA_ALUNO_TMP,CD_BOLSAS_ALUNO,CD_CANDIDATO,DS_QUINSTREET,CD_CHAVE_ALUNO,CD_CURSO_INSCRICAO,CD_CURSO_MATRICULA,CD_RA,CD_UNIDADE,CD_VENDEDOR,...,Flag_Bolsa_Acao_Enem,Quinstreet,Flag_Acao_Winback,[Coordenador Curso],find50,pep50,pep30,Bolsa_PEP_50,pep25,Bolsa_PEP_25
0,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115151795,0,3457242507,2978,2978,3457242,-1055,821830,...,0,Não,Não,<SANDRA RAIMUNDO DE MOURA AMARAL>,1,0,0,0,0,0
1,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115114415,0,3455640507,67254,67254,3455640,-1055,451830,...,0,Não,Não,<ANDREZA LAGE RAIMUNDO>,1,0,0,0,0,0
2,<BOLSA INCENTIVO>,<12102>,115210436,0,3460941507,2161,2161,3460941,-1055,421832,...,0,Não,Sim,<ANDREZA LAGE RAIMUNDO>,0,0,0,0,0,0
3,<BOLSA INCENTIVO><OUTRAS BOLSAS>,<12102><21870>,114348255,1,3444238638,15012,15012,3444238,UCL,0,...,0,Não,Não,<DANIELA PALHUCA DO NASCIMENTO QUEIROZ>,0,0,0,0,0,0

In [70]:
def pep30(row):
    if row['BOLSA_ALUNO_TMP'].find('*PEP30*') != -1:
        val = 1
    else:
        val = 0
    return val

In [71]:
dfa['Bolsa_PEP_30'] = dfa.apply(pep30, axis = 1)
dfa

,BOLSA_ALUNO_TMP,CD_BOLSAS_ALUNO,CD_CANDIDATO,DS_QUINSTREET,CD_CHAVE_ALUNO,CD_CURSO_INSCRICAO,CD_CURSO_MATRICULA,CD_RA,CD_UNIDADE,CD_VENDEDOR,...,Quinstreet,Flag_Acao_Winback,[Coordenador Curso],find50,pep50,pep30,Bolsa_PEP_50,pep25,Bolsa_PEP_25,Bolsa_PEP_30
0,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115151795,0,3457242507,2978,2978,3457242,-1055,821830,...,Não,Não,<SANDRA RAIMUNDO DE MOURA AMARAL>,1,0,0,0,0,0,0
1,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115114415,0,3455640507,67254,67254,3455640,-1055,451830,...,Não,Não,<ANDREZA LAGE RAIMUNDO>,1,0,0,0,0,0,0
2,<BOLSA INCENTIVO>,<12102>,115210436,0,3460941507,2161,2161,3460941,-1055,421832,...,Não,Sim,<ANDREZA LAGE RAIMUNDO>,0,0,0,0,0,0,0
3,<BOLSA INCENTIVO><OUTRAS BOLSAS>,<12102><21870>,114348255,1,3444238638,15012,15012,3444238,UCL,0,...,Não,Não,<DANIELA PALHUCA DO NASCIMENTO QUEIROZ>,0,0,0,0,0,0,0

In [72]:
def bazuka30(row):
    if row['BOLSA_ALUNO_TMP'].find('*BAZUKA*PEP30*') != -1:
        val = 1
    else:
        val = 0
    return val

In [73]:
dfa['Bolsa_Bazuka_30'] = dfa.apply(bazuka30, axis = 1)
dfa

,BOLSA_ALUNO_TMP,CD_BOLSAS_ALUNO,CD_CANDIDATO,DS_QUINSTREET,CD_CHAVE_ALUNO,CD_CURSO_INSCRICAO,CD_CURSO_MATRICULA,CD_RA,CD_UNIDADE,CD_VENDEDOR,...,Flag_Acao_Winback,[Coordenador Curso],find50,pep50,pep30,Bolsa_PEP_50,pep25,Bolsa_PEP_25,Bolsa_PEP_30,Bolsa_Bazuka_30
0,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115151795,0,3457242507,2978,2978,3457242,-1055,821830,...,Não,<SANDRA RAIMUNDO DE MOURA AMARAL>,1,0,0,0,0,0,0,0
1,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115114415,0,3455640507,67254,67254,3455640,-1055,451830,...,Não,<ANDREZA LAGE RAIMUNDO>,1,0,0,0,0,0,0,0
2,<BOLSA INCENTIVO>,<12102>,115210436,0,3460941507,2161,2161,3460941,-1055,421832,...,Sim,<ANDREZA LAGE RAIMUNDO>,0,0,0,0,0,0,0,0
3,<BOLSA INCENTIVO><OUTRAS BOLSAS>,<12102><21870>,114348255,1,3444238638,15012,15012,3444238,UCL,0,...,Não,<DANIELA PALHUCA DO NASCIMENTO QUEIROZ>,0,0,0,0,0,0,0,0

In [74]:
def bazuka50(row):
    if row['BOLSA_ALUNO_TMP'].find('*BAZUKA 50*') != -1:
        val = 1
    else:
        val = 0
    return val

In [75]:
dfa['Bolsa_Bazuka_50'] = dfa.apply(bazuka50, axis = 1)
dfa

,BOLSA_ALUNO_TMP,CD_BOLSAS_ALUNO,CD_CANDIDATO,DS_QUINSTREET,CD_CHAVE_ALUNO,CD_CURSO_INSCRICAO,CD_CURSO_MATRICULA,CD_RA,CD_UNIDADE,CD_VENDEDOR,...,[Coordenador Curso],find50,pep50,pep30,Bolsa_PEP_50,pep25,Bolsa_PEP_25,Bolsa_PEP_30,Bolsa_Bazuka_30,Bolsa_Bazuka_50
0,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115151795,0,3457242507,2978,2978,3457242,-1055,821830,...,<SANDRA RAIMUNDO DE MOURA AMARAL>,1,0,0,0,0,0,0,0,0
1,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115114415,0,3455640507,67254,67254,3455640,-1055,451830,...,<ANDREZA LAGE RAIMUNDO>,1,0,0,0,0,0,0,0,0
2,<BOLSA INCENTIVO>,<12102>,115210436,0,3460941507,2161,2161,3460941,-1055,421832,...,<ANDREZA LAGE RAIMUNDO>,0,0,0,0,0,0,0,0,0
3,<BOLSA INCENTIVO><OUTRAS BOLSAS>,<12102><21870>,114348255,1,3444238638,15012,15012,3444238,UCL,0,...,<DANIELA PALHUCA DO NASCIMENTO QUEIROZ>,0,0,0,0,0,0,0,0,0

In [76]:
def meritocracia(row):
    if row['BOLSA_ALUNO_TMP'].find('*MERITOCRACIA*') != -1:
        val = 1
    else:
        val = 0
    return val

In [77]:
dfa['Bolsa_Meritocracia'] = dfa.apply(meritocracia, axis = 1)
dfa

,BOLSA_ALUNO_TMP,CD_BOLSAS_ALUNO,CD_CANDIDATO,DS_QUINSTREET,CD_CHAVE_ALUNO,CD_CURSO_INSCRICAO,CD_CURSO_MATRICULA,CD_RA,CD_UNIDADE,CD_VENDEDOR,...,find50,pep50,pep30,Bolsa_PEP_50,pep25,Bolsa_PEP_25,Bolsa_PEP_30,Bolsa_Bazuka_30,Bolsa_Bazuka_50,Bolsa_Meritocracia
0,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115151795,0,3457242507,2978,2978,3457242,-1055,821830,...,1,0,0,0,0,0,0,0,0,0
1,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115114415,0,3455640507,67254,67254,3455640,-1055,451830,...,1,0,0,0,0,0,0,0,0,0
2,<BOLSA INCENTIVO>,<12102>,115210436,0,3460941507,2161,2161,3460941,-1055,421832,...,0,0,0,0,0,0,0,0,0,0
3,<BOLSA INCENTIVO><OUTRAS BOLSAS>,<12102><21870>,114348255,1,3444238638,15012,15012,3444238,UCL,0,...,0,0,0,0,0,0,0,0,0,0

In [78]:
def diretor(row):
    if row['BOLSA_ALUNO_TMP'].find('*DIRETOR*') != -1:
        val = '*DIRETOR>*'
    else:
        val = 0
    return val

In [79]:
dfa['aux-diretor'] = dfa.apply(diretor, axis = 1)
dfa

,BOLSA_ALUNO_TMP,CD_BOLSAS_ALUNO,CD_CANDIDATO,DS_QUINSTREET,CD_CHAVE_ALUNO,CD_CURSO_INSCRICAO,CD_CURSO_MATRICULA,CD_RA,CD_UNIDADE,CD_VENDEDOR,...,pep50,pep30,Bolsa_PEP_50,pep25,Bolsa_PEP_25,Bolsa_PEP_30,Bolsa_Bazuka_30,Bolsa_Bazuka_50,Bolsa_Meritocracia,aux-diretor
0,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115151795,0,3457242507,2978,2978,3457242,-1055,821830,...,0,0,0,0,0,0,0,0,0,0
1,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115114415,0,3455640507,67254,67254,3455640,-1055,451830,...,0,0,0,0,0,0,0,0,0,0
2,<BOLSA INCENTIVO>,<12102>,115210436,0,3460941507,2161,2161,3460941,-1055,421832,...,0,0,0,0,0,0,0,0,0,0
3,<BOLSA INCENTIVO><OUTRAS BOLSAS>,<12102><21870>,114348255,1,3444238638,15012,15012,3444238,UCL,0,...,0,0,0,0,0,0,0,0,0,0

In [80]:
def nodiretor(row):
    if (row['BOLSA_ALUNO_TMP'].find('*EXTRA*')) and (row['BOLSA_ALUNO_TMP'].find('*<Diretor - Educa Mais>*'))!= -1:
        val = 1
    else:
        val = 0
    return val

In [81]:
dfa['aux-nodiretor'] = dfa.apply(nodiretor, axis = 1)
dfa

,BOLSA_ALUNO_TMP,CD_BOLSAS_ALUNO,CD_CANDIDATO,DS_QUINSTREET,CD_CHAVE_ALUNO,CD_CURSO_INSCRICAO,CD_CURSO_MATRICULA,CD_RA,CD_UNIDADE,CD_VENDEDOR,...,pep30,Bolsa_PEP_50,pep25,Bolsa_PEP_25,Bolsa_PEP_30,Bolsa_Bazuka_30,Bolsa_Bazuka_50,Bolsa_Meritocracia,aux-diretor,aux-nodiretor
0,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115151795,0,3457242507,2978,2978,3457242,-1055,821830,...,0,0,0,0,0,0,0,0,0,0
1,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115114415,0,3455640507,67254,67254,3455640,-1055,451830,...,0,0,0,0,0,0,0,0,0,0
2,<BOLSA INCENTIVO>,<12102>,115210436,0,3460941507,2161,2161,3460941,-1055,421832,...,0,0,0,0,0,0,0,0,0,0
3,<BOLSA INCENTIVO><OUTRAS BOLSAS>,<12102><21870>,114348255,1,3444238638,15012,15012,3444238,UCL,0,...,0,0,0,0,0,0,0,0,0,0

In [82]:
def bdiretor(row):
    if(row['aux-nodiretor'] ==1 and row['aux-diretor'] ==1):
        val = 1
    else:
        val = 0
    return val

In [83]:
dfa['Bolsa_Diretor'] = dfa.apply(bdiretor, axis = 1)
dfa

,BOLSA_ALUNO_TMP,CD_BOLSAS_ALUNO,CD_CANDIDATO,DS_QUINSTREET,CD_CHAVE_ALUNO,CD_CURSO_INSCRICAO,CD_CURSO_MATRICULA,CD_RA,CD_UNIDADE,CD_VENDEDOR,...,Bolsa_PEP_50,pep25,Bolsa_PEP_25,Bolsa_PEP_30,Bolsa_Bazuka_30,Bolsa_Bazuka_50,Bolsa_Meritocracia,aux-diretor,aux-nodiretor,Bolsa_Diretor
0,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115151795,0,3457242507,2978,2978,3457242,-1055,821830,...,0,0,0,0,0,0,0,0,0,0
1,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115114415,0,3455640507,67254,67254,3455640,-1055,451830,...,0,0,0,0,0,0,0,0,0,0
2,<BOLSA INCENTIVO>,<12102>,115210436,0,3460941507,2161,2161,3460941,-1055,421832,...,0,0,0,0,0,0,0,0,0,0
3,<BOLSA INCENTIVO><OUTRAS BOLSAS>,<12102><21870>,114348255,1,3444238638,15012,15012,3444238,UCL,0,...,0,0,0,0,0,0,0,0,0,0

In [84]:
def eduk(row):
    if row['BOLSA_ALUNO_TMP'].find('*EDUCA*MAIS*') != -1:
        val = '*EDUCA*MAIS*'
    else:
        val = 0
    return val

In [85]:
dfa['aux_educamais'] = dfa.apply(eduk, axis = 1)
dfa

,BOLSA_ALUNO_TMP,CD_BOLSAS_ALUNO,CD_CANDIDATO,DS_QUINSTREET,CD_CHAVE_ALUNO,CD_CURSO_INSCRICAO,CD_CURSO_MATRICULA,CD_RA,CD_UNIDADE,CD_VENDEDOR,...,pep25,Bolsa_PEP_25,Bolsa_PEP_30,Bolsa_Bazuka_30,Bolsa_Bazuka_50,Bolsa_Meritocracia,aux-diretor,aux-nodiretor,Bolsa_Diretor,aux_educamais
0,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115151795,0,3457242507,2978,2978,3457242,-1055,821830,...,0,0,0,0,0,0,0,0,0,0
1,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115114415,0,3455640507,67254,67254,3455640,-1055,451830,...,0,0,0,0,0,0,0,0,0,0
2,<BOLSA INCENTIVO>,<12102>,115210436,0,3460941507,2161,2161,3460941,-1055,421832,...,0,0,0,0,0,0,0,0,0,0
3,<BOLSA INCENTIVO><OUTRAS BOLSAS>,<12102><21870>,114348255,1,3444238638,15012,15012,3444238,UCL,0,...,0,0,0,0,0,0,0,0,0,0

In [86]:
def educamais(row):
    if(row['aux-nodiretor'] ==1 and row['aux_educamais'] ==1):
        val = 1
    else:
        val = 0
    return val

In [87]:
dfa['Bolsa_Educa_Mais'] = dfa.apply(educamais, axis = 1)
dfa

,BOLSA_ALUNO_TMP,CD_BOLSAS_ALUNO,CD_CANDIDATO,DS_QUINSTREET,CD_CHAVE_ALUNO,CD_CURSO_INSCRICAO,CD_CURSO_MATRICULA,CD_RA,CD_UNIDADE,CD_VENDEDOR,...,Bolsa_PEP_25,Bolsa_PEP_30,Bolsa_Bazuka_30,Bolsa_Bazuka_50,Bolsa_Meritocracia,aux-diretor,aux-nodiretor,Bolsa_Diretor,aux_educamais,Bolsa_Educa_Mais
0,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115151795,0,3457242507,2978,2978,3457242,-1055,821830,...,0,0,0,0,0,0,0,0,0,0
1,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115114415,0,3455640507,67254,67254,3455640,-1055,451830,...,0,0,0,0,0,0,0,0,0,0
2,<BOLSA INCENTIVO>,<12102>,115210436,0,3460941507,2161,2161,3460941,-1055,421832,...,0,0,0,0,0,0,0,0,0,0
3,<BOLSA INCENTIVO><OUTRAS BOLSAS>,<12102><21870>,114348255,1,3444238638,15012,15012,3444238,UCL,0,...,0,0,0,0,0,0,0,0,0,0

In [88]:
def ediretor(row):
    if (row['BOLSA_ALUNO_TMP'].find('*DIRETOR*EXTRA*')) and (row['BOLSA_ALUNO_TMP'].find('*<Diretor - Educa Mais>*'))!= -1:
        val = 1
    else:
        val = 0
    return val

In [89]:
dfa['Bolsa_Extra_Diretor'] = dfa.apply(ediretor, axis = 1)
dfa

,BOLSA_ALUNO_TMP,CD_BOLSAS_ALUNO,CD_CANDIDATO,DS_QUINSTREET,CD_CHAVE_ALUNO,CD_CURSO_INSCRICAO,CD_CURSO_MATRICULA,CD_RA,CD_UNIDADE,CD_VENDEDOR,...,Bolsa_PEP_30,Bolsa_Bazuka_30,Bolsa_Bazuka_50,Bolsa_Meritocracia,aux-diretor,aux-nodiretor,Bolsa_Diretor,aux_educamais,Bolsa_Educa_Mais,Bolsa_Extra_Diretor
0,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115151795,0,3457242507,2978,2978,3457242,-1055,821830,...,0,0,0,0,0,0,0,0,0,0
1,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115114415,0,3455640507,67254,67254,3455640,-1055,451830,...,0,0,0,0,0,0,0,0,0,0
2,<BOLSA INCENTIVO>,<12102>,115210436,0,3460941507,2161,2161,3460941,-1055,421832,...,0,0,0,0,0,0,0,0,0,0
3,<BOLSA INCENTIVO><OUTRAS BOLSAS>,<12102><21870>,114348255,1,3444238638,15012,15012,3444238,UCL,0,...,0,0,0,0,0,0,0,0,0,0

In [91]:
def turmai(row):
    if (row['BOLSA_ALUNO_TMP'].find('*TURMA DE INCLUSAO*'))!= -1:
        val = 1
    else:
        val = 0
    return val

In [92]:
dfa['Bolsa_Turma_Inclusao'] = dfa.apply(turmai, axis = 1)
dfa

,BOLSA_ALUNO_TMP,CD_BOLSAS_ALUNO,CD_CANDIDATO,DS_QUINSTREET,CD_CHAVE_ALUNO,CD_CURSO_INSCRICAO,CD_CURSO_MATRICULA,CD_RA,CD_UNIDADE,CD_VENDEDOR,...,Bolsa_Bazuka_30,Bolsa_Bazuka_50,Bolsa_Meritocracia,aux-diretor,aux-nodiretor,Bolsa_Diretor,aux_educamais,Bolsa_Educa_Mais,Bolsa_Extra_Diretor,Bolsa_Turma_Inclusao
0,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115151795,0,3457242507,2978,2978,3457242,-1055,821830,...,0,0,0,0,0,0,0,0,0,0
1,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115114415,0,3455640507,67254,67254,3455640,-1055,451830,...,0,0,0,0,0,0,0,0,0,0
2,<BOLSA INCENTIVO>,<12102>,115210436,0,3460941507,2161,2161,3460941,-1055,421832,...,0,0,0,0,0,0,0,0,0,0
3,<BOLSA INCENTIVO><OUTRAS BOLSAS>,<12102><21870>,114348255,1,3444238638,15012,15012,3444238,UCL,0,...,0,0,0,0,0,0,0,0,0,0

In [93]:
def bconvenio(row):
    if (row['BOLSA_ALUNO_TMP'].find('*CONVÊNIO EMPRESA*'))!= -1:
        val = 1
    else:
        val = 0
    return val

In [94]:
dfa['Bolsa_Convenio_Empresa'] = dfa.apply(bconvenio, axis = 1)
dfa

,BOLSA_ALUNO_TMP,CD_BOLSAS_ALUNO,CD_CANDIDATO,DS_QUINSTREET,CD_CHAVE_ALUNO,CD_CURSO_INSCRICAO,CD_CURSO_MATRICULA,CD_RA,CD_UNIDADE,CD_VENDEDOR,...,Bolsa_Bazuka_50,Bolsa_Meritocracia,aux-diretor,aux-nodiretor,Bolsa_Diretor,aux_educamais,Bolsa_Educa_Mais,Bolsa_Extra_Diretor,Bolsa_Turma_Inclusao,Bolsa_Convenio_Empresa
0,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115151795,0,3457242507,2978,2978,3457242,-1055,821830,...,0,0,0,0,0,0,0,0,0,0
1,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115114415,0,3455640507,67254,67254,3455640,-1055,451830,...,0,0,0,0,0,0,0,0,0,0
2,<BOLSA INCENTIVO>,<12102>,115210436,0,3460941507,2161,2161,3460941,-1055,421832,...,0,0,0,0,0,0,0,0,0,0
3,<BOLSA INCENTIVO><OUTRAS BOLSAS>,<12102><21870>,114348255,1,3444238638,15012,15012,3444238,UCL,0,...,0,0,0,0,0,0,0,0,0,0

In [95]:
def btransf(row):
    if (row['BOLSA_ALUNO_TMP'].find('*TRANSFERÊNCIA*'))!= -1:
        val = 1
    else:
        val = 0
    return val

In [96]:
dfa['Bolsa_Transferencia'] = dfa.apply(btransf, axis = 1)
dfa

,BOLSA_ALUNO_TMP,CD_BOLSAS_ALUNO,CD_CANDIDATO,DS_QUINSTREET,CD_CHAVE_ALUNO,CD_CURSO_INSCRICAO,CD_CURSO_MATRICULA,CD_RA,CD_UNIDADE,CD_VENDEDOR,...,Bolsa_Meritocracia,aux-diretor,aux-nodiretor,Bolsa_Diretor,aux_educamais,Bolsa_Educa_Mais,Bolsa_Extra_Diretor,Bolsa_Turma_Inclusao,Bolsa_Convenio_Empresa,Bolsa_Transferencia
0,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115151795,0,3457242507,2978,2978,3457242,-1055,821830,...,0,0,0,0,0,0,0,0,0,0
1,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115114415,0,3455640507,67254,67254,3455640,-1055,451830,...,0,0,0,0,0,0,0,0,0,0
2,<BOLSA INCENTIVO>,<12102>,115210436,0,3460941507,2161,2161,3460941,-1055,421832,...,0,0,0,0,0,0,0,0,0,0
3,<BOLSA INCENTIVO><OUTRAS BOLSAS>,<12102><21870>,114348255,1,3444238638,15012,15012,3444238,UCL,0,...,0,0,0,0,0,0,0,0,0,0

In [97]:
def bwinback(row):
    if (row['BOLSA_ALUNO_TMP'].find('*WINBACK*'))!= -1:
        val = 1
    else:
        val = 0
    return val

In [98]:
dfa['Bolsa_Winback'] = dfa.apply(btransf, axis = 1)
dfa

,BOLSA_ALUNO_TMP,CD_BOLSAS_ALUNO,CD_CANDIDATO,DS_QUINSTREET,CD_CHAVE_ALUNO,CD_CURSO_INSCRICAO,CD_CURSO_MATRICULA,CD_RA,CD_UNIDADE,CD_VENDEDOR,...,aux-diretor,aux-nodiretor,Bolsa_Diretor,aux_educamais,Bolsa_Educa_Mais,Bolsa_Extra_Diretor,Bolsa_Turma_Inclusao,Bolsa_Convenio_Empresa,Bolsa_Transferencia,Bolsa_Winback
0,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115151795,0,3457242507,2978,2978,3457242,-1055,821830,...,0,0,0,0,0,0,0,0,0,0
1,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115114415,0,3455640507,67254,67254,3455640,-1055,451830,...,0,0,0,0,0,0,0,0,0,0
2,<BOLSA INCENTIVO>,<12102>,115210436,0,3460941507,2161,2161,3460941,-1055,421832,...,0,0,0,0,0,0,0,0,0,0
3,<BOLSA INCENTIVO><OUTRAS BOLSAS>,<12102><21870>,114348255,1,3444238638,15012,15012,3444238,UCL,0,...,0,0,0,0,0,0,0,0,0,0

In [99]:
def bpolitica(row):
    if (row['BOLSA_ALUNO_TMP'].find('*BOLSA POLITICA*'))!= -1:
        val = 1
    else:
        val = 0
    return val

In [100]:
dfa['Bolsa_Politica'] = dfa.apply(btransf, axis = 1)
dfa

,BOLSA_ALUNO_TMP,CD_BOLSAS_ALUNO,CD_CANDIDATO,DS_QUINSTREET,CD_CHAVE_ALUNO,CD_CURSO_INSCRICAO,CD_CURSO_MATRICULA,CD_RA,CD_UNIDADE,CD_VENDEDOR,...,aux-nodiretor,Bolsa_Diretor,aux_educamais,Bolsa_Educa_Mais,Bolsa_Extra_Diretor,Bolsa_Turma_Inclusao,Bolsa_Convenio_Empresa,Bolsa_Transferencia,Bolsa_Winback,Bolsa_Politica
0,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115151795,0,3457242507,2978,2978,3457242,-1055,821830,...,0,0,0,0,0,0,0,0,0,0
1,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115114415,0,3455640507,67254,67254,3455640,-1055,451830,...,0,0,0,0,0,0,0,0,0,0
2,<BOLSA INCENTIVO>,<12102>,115210436,0,3460941507,2161,2161,3460941,-1055,421832,...,0,0,0,0,0,0,0,0,0,0
3,<BOLSA INCENTIVO><OUTRAS BOLSAS>,<12102><21870>,114348255,1,3444238638,15012,15012,3444238,UCL,0,...,0,0,0,0,0,0,0,0,0,0

In [101]:
def sbolsa(row):
    if (row['BOLSA_ALUNO_TMP']) == 'SEM BOLSA':
        val = 1
    else:
        val = 0
    return val

In [102]:
dfa['Sem_Bolsa'] = dfa.apply(sbolsa, axis = 1)
dfa

,BOLSA_ALUNO_TMP,CD_BOLSAS_ALUNO,CD_CANDIDATO,DS_QUINSTREET,CD_CHAVE_ALUNO,CD_CURSO_INSCRICAO,CD_CURSO_MATRICULA,CD_RA,CD_UNIDADE,CD_VENDEDOR,...,Bolsa_Diretor,aux_educamais,Bolsa_Educa_Mais,Bolsa_Extra_Diretor,Bolsa_Turma_Inclusao,Bolsa_Convenio_Empresa,Bolsa_Transferencia,Bolsa_Winback,Bolsa_Politica,Sem_Bolsa
0,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115151795,0,3457242507,2978,2978,3457242,-1055,821830,...,0,0,0,0,0,0,0,0,0,0
1,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115114415,0,3455640507,67254,67254,3455640,-1055,451830,...,0,0,0,0,0,0,0,0,0,0
2,<BOLSA INCENTIVO>,<12102>,115210436,0,3460941507,2161,2161,3460941,-1055,421832,...,0,0,0,0,0,0,0,0,0,0
3,<BOLSA INCENTIVO><OUTRAS BOLSAS>,<12102><21870>,114348255,1,3444238638,15012,15012,3444238,UCL,0,...,0,0,0,0,0,0,0,0,0,0

In [103]:
def vbusca(row):
    if (row['BOLSA_ALUNO_TMP'].find('*PEP 30*') or 
        row['BOLSA_ALUNO_TMP'].find('*PEP 50*') or
        row['BOLSA_ALUNO_TMP'].find('*BAZUKA*PEP 30*') or
        row['BOLSA_ALUNO_TMP'].find('*BAZUKA 50*') or
        row['BOLSA_ALUNO_TMP'].find('*MERITOCRACIA*') or
        row['BOLSA_ALUNO_TMP'].find('*DIRETOR *') or
        row['BOLSA_ALUNO_TMP'].find('*DIRETOR>*') or
        row['BOLSA_ALUNO_TMP'].find('*EDUCA*MAIS*') or
        row['BOLSA_ALUNO_TMP'].find('*TURMAS DE INCLUSÃO*') or
        row['BOLSA_ALUNO_TMP'].find('*CONVÊNIO EMPRESA*') or
        row['BOLSA_ALUNO_TMP'].find('*WINBACK*') or
        row['BOLSA_ALUNO_TMP'].find('*TRANSFERÊNCIA*') or
        row['BOLSA_ALUNO_TMP'].find('*BOLSA POLÍTICA*') or
        row['BOLSA_ALUNO_TMP'].find('*BOLSA PAGANTE*') or
        row['BOLSA_ALUNO_TMP'].find('*BOLSA INCENTIVO*') or
        row['BOLSA_ALUNO_TMP'].find('*FIES*') or
        row['BOLSA_ALUNO_TMP'].find('*PROUNI*') or
        row['BOLSA_ALUNO_TMP'].find('*BOLSA CAPTAÇÃO*') or
        row['BOLSA_ALUNO_TMP'].find('*BOLSA MATRÍCULA 59*') or
        row['BOLSA_ALUNO_TMP'].find('*OFERTA DE MATRÍCULA 50%*'))!= -1:
        val = 1
    else:
        val = 0
    return val

In [104]:
dfa['Demais_Bolsas'] = dfa.apply(vbusca, axis = 1)
dfa

,BOLSA_ALUNO_TMP,CD_BOLSAS_ALUNO,CD_CANDIDATO,DS_QUINSTREET,CD_CHAVE_ALUNO,CD_CURSO_INSCRICAO,CD_CURSO_MATRICULA,CD_RA,CD_UNIDADE,CD_VENDEDOR,...,aux_educamais,Bolsa_Educa_Mais,Bolsa_Extra_Diretor,Bolsa_Turma_Inclusao,Bolsa_Convenio_Empresa,Bolsa_Transferencia,Bolsa_Winback,Bolsa_Politica,Sem_Bolsa,Demais_Bolsas
0,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115151795,0,3457242507,2978,2978,3457242,-1055,821830,...,0,0,0,0,0,0,0,0,0,0
1,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115114415,0,3455640507,67254,67254,3455640,-1055,451830,...,0,0,0,0,0,0,0,0,0,0
2,<BOLSA INCENTIVO>,<12102>,115210436,0,3460941507,2161,2161,3460941,-1055,421832,...,0,0,0,0,0,0,0,0,0,0
3,<BOLSA INCENTIVO><OUTRAS BOLSAS>,<12102><21870>,114348255,1,3444238638,15012,15012,3444238,UCL,0,...,0,0,0,0,0,0,0,0,0,0

In [105]:
def sbolsa(row):
    if (row['BOLSA_ALUNO_TMP']=='SEM BOLSA'):
        val = 1
    else:
        val = 0
    return val

In [106]:
dfa['Sem_Bolsa'] = dfa.apply(sbolsa, axis = 1)
dfa

,BOLSA_ALUNO_TMP,CD_BOLSAS_ALUNO,CD_CANDIDATO,DS_QUINSTREET,CD_CHAVE_ALUNO,CD_CURSO_INSCRICAO,CD_CURSO_MATRICULA,CD_RA,CD_UNIDADE,CD_VENDEDOR,...,aux_educamais,Bolsa_Educa_Mais,Bolsa_Extra_Diretor,Bolsa_Turma_Inclusao,Bolsa_Convenio_Empresa,Bolsa_Transferencia,Bolsa_Winback,Bolsa_Politica,Sem_Bolsa,Demais_Bolsas
0,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115151795,0,3457242507,2978,2978,3457242,-1055,821830,...,0,0,0,0,0,0,0,0,0,0
1,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115114415,0,3455640507,67254,67254,3455640,-1055,451830,...,0,0,0,0,0,0,0,0,0,0
2,<BOLSA INCENTIVO>,<12102>,115210436,0,3460941507,2161,2161,3460941,-1055,421832,...,0,0,0,0,0,0,0,0,0,0
3,<BOLSA INCENTIVO><OUTRAS BOLSAS>,<12102><21870>,114348255,1,3444238638,15012,15012,3444238,UCL,0,...,0,0,0,0,0,0,0,0,0,0

In [689]:
# Tempo_Aluno_na_Base

In [107]:
dfa['BOLSA_ALUNO_TMP'] = dfa['BOLSA_ALUNO_TMP'].str.upper()
dfa['Bolsas_Aluno'] = dfa['DS_BOLSAS_ALUNO'].str.upper()
dfa['Bolsas_Vigente_Aluno'] = dfa['DS_BOLSA_VIGENTE_ALUNO'].str.upper()
dfa

,BOLSA_ALUNO_TMP,CD_BOLSAS_ALUNO,CD_CANDIDATO,DS_QUINSTREET,CD_CHAVE_ALUNO,CD_CURSO_INSCRICAO,CD_CURSO_MATRICULA,CD_RA,CD_UNIDADE,CD_VENDEDOR,...,Bolsa_Extra_Diretor,Bolsa_Turma_Inclusao,Bolsa_Convenio_Empresa,Bolsa_Transferencia,Bolsa_Winback,Bolsa_Politica,Sem_Bolsa,Demais_Bolsas,Bolsas_Aluno,Bolsas_Vigente_Aluno
0,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115151795,0,3457242507,2978,2978,3457242,-1055,821830,...,0,0,0,0,0,0,0,0,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>
1,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115114415,0,3455640507,67254,67254,3455640,-1055,451830,...,0,0,0,0,0,0,0,0,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>
2,<BOLSA INCENTIVO>,<12102>,115210436,0,3460941507,2161,2161,3460941,-1055,421832,...,0,0,0,0,0,0,0,0,<BOLSA INCENTIVO>,<BOLSA INCENTIVO>
3,<BOLSA INCENTIVO><OUTRAS BOLSAS>,<12102><21870>,114348255,1,3444238638,15012,15012,3444238,UCL,0,...,0,0,0,0,0,0,0,0,<BOLSA INCENTIVO><OUTRAS BOLSAS>,<OUTRAS BOLSAS>

In [111]:
dfa['Chave_Aluno'] = dfa['CD_CHAVE_ALUNO'].str.upper()
dfa['Periodo_Letivo'] = dfa['DS_PERIODO_LETIVO']
dfa['DATA'] = dfa['DT_BASE']
dfa['Dt_Matricula'] = dfa['DT_MATRICULA']
dfa['Dt_Entrada_Base'] = dfa['DT_ENTRADA_BASE']
dfa['Dt_Inscricao'] = dfa['DT_INSCRICAO']
dfa['CANAL'] = dfa['DS_CANAL']
dfa['Modalidade_Curso'] = dfa['DS_MODALIDADE']
dfa['EMPRESA'] = dfa['DS_EMPRESA']
dfa['Marca'] = dfa['vMarca']
dfa['Marca_Detalhe'] = dfa['vMarca_Detalhe']
dfa['CPF'] = dfa['NR_CPF']
dfa['Codigo_Candidato'] = dfa['CD_CANDIDATO']
dfa['RA'] = dfa['CD_RA']
dfa['Processo_Seletivo'] = dfa['DS_PROCESSO_SELETIVO']
dfa['Data_da_Prova'] = dfa['DT_PROVA']
dfa['Data_Aprovacao'] = dfa['DT_APROVADO']
dfa['Flag_Prova'] = dfa['FL_PROVA']
dfa['Termo'] = dfa['DS_TERMO']
dfa['Situacao_Matricula'] = dfa['DS_SITUACAO_MATRICULA']
dfa['Situacao_Turma'] = dfa['DS_SITUACAO_TURMA']
dfa['Nome_Candidato'] = dfa['DS_NOME_CANDIDATO_ALUNO']
dfa['Sexo'] = dfa['DS_SEXO']
dfa['Dt_Nascimento'] = dfa['DT_NASCIMENTO']
dfa['Email'] = dfa['DS_EMAIL']
dfa['Fone_Residencial'] = dfa['NR_TELEFONE_RESIDENCIAL']
dfa['Fone_Celular'] = dfa['NR_TELEFONE_CELULAR']
dfa['Fone_Comercial'] = dfa['NR_TELEFONE_COMERCIAL']
dfa['CEP'] = dfa['NR_CEP']
dfa['Endereço'] = dfa['DS_ENDERECO']
dfa['Bairro'] = dfa['DS_BAIRRO']
dfa['Cidade'] = dfa['DS_CIDADE']
dfa['UF'] = dfa['DS_UF']
dfa['Vendedor'] = dfa['CD_VENDEDOR']
dfa['Canal_Consultor'] = dfa['DS_CANAL_CONSULTOR']
dfa['Canal_Vendas_Temp'] = dfa['DS_CANAL_VENDAS'].str.upper()
#dfa['Sub_Canal_Vendas'] = dfa['vSub_Canal_Vendas']
dfa['Turma'] = dfa['DS_TURMA']
dfa['Situacao_Classificacao'] = dfa['DS_SITUACAO_CLASSIFICACAO']
dfa['Situacao_Candidato'] = dfa['DS_SITUACAO_CANDIDATO']
dfa['Situacao_Fies'] = dfa['DS_SITUACAO_FIES']
dfa['Dt_Situcao_PMA'] = dfa['DT_SITUACAO_PMA']
dfa['Turno'] = dfa['vTurno']
dfa['Codigo_Curso'] = dfa['CODIGO_CURSO']
dfa['Nome_Curso'] = dfa['vNome_Curso']
dfa['Curso_Inscricao'] = dfa['DS_CURSO_INSCRICAO_MKT']
dfa['Curso_Matricula'] = dfa['DS_CURSO_MATRICULA_MKT']
dfa['Codfago_Unidade'] = dfa['CD_UNIDADE']
dfa['Descricao_Unidade'] = dfa['DS_UNIDADE_MKT']
dfa['Regional'] = dfa['vRegional']
dfa['Regiao_Geografica'] = dfa['DS_REGIAO_GEOGRAFICA']
dfa

,BOLSA_ALUNO_TMP,CD_BOLSAS_ALUNO,CD_CANDIDATO,DS_QUINSTREET,CD_CHAVE_ALUNO,CD_CURSO_INSCRICAO,CD_CURSO_MATRICULA,CD_RA,CD_UNIDADE,CD_VENDEDOR,...,Dt_Situcao_PMA,Turno,Codigo_Curso,Nome_Curso,Curso_Inscricao,Curso_Matricula,Codfago_Unidade,Descricao_Unidade,Regional,Regiao_Geografica
0,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115151795,0,3457242507,2978,2978,3457242,-1055,821830,...,NaT,Matutino,2978,PEDAGOGIA - LICENCIATURA,Pedagogia - Licenciatura - M,PEDAGOGIA - LICENCIATURA,-1055,[Kroton] - PITAGORAS GUARAPARI,REGIONAL SUDESTE,SUDESTE
1,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115114415,0,3455640507,67254,67254,3455640,-1055,451830,...,NaT,Noturno,67254,DIREITO,Direito - N,DIREITO,-1055,[Kroton] - PITAGORAS GUARAPARI,REGIONAL SUDESTE,SUDESTE
2,<BOLSA INCENTIVO>,<12102>,115210436,0,3460941507,2161,2161,3460941,-1055,421832,...,2019-01-09,Matutino,2161,DIREITO,Direito - M,DIREITO,-1055,[Kroton] - PITAGORAS GUARAPARI,REGIONAL SUDESTE,SUDESTE
3,<BOLSA INCENTIVO><OUTRAS BOLSAS>,<12102><21870>,114348255,1,3444238638,15012,15012,3444238,UCL,0,...,NaT,Noturno,15012,DIREITO,Direito - N,DIREITO,UCL,[Anhanguera] - SAO PAULO/SP - CAMPO LIMPO,REGIONAL SP1,SP1

In [112]:
def campus(row):
    if(row['DS_CANAL']=='Campus' or row['DS_CANAL']=='Polo/Campus'):
        val = row['DS_UNIDADE_MKT']

In [113]:
dfa['Campus'] = dfa.apply(campus, axis = 1) 
dfa

,BOLSA_ALUNO_TMP,CD_BOLSAS_ALUNO,CD_CANDIDATO,DS_QUINSTREET,CD_CHAVE_ALUNO,CD_CURSO_INSCRICAO,CD_CURSO_MATRICULA,CD_RA,CD_UNIDADE,CD_VENDEDOR,...,Turno,Codigo_Curso,Nome_Curso,Curso_Inscricao,Curso_Matricula,Codfago_Unidade,Descricao_Unidade,Regional,Regiao_Geografica,Campus
0,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115151795,0,3457242507,2978,2978,3457242,-1055,821830,...,Matutino,2978,PEDAGOGIA - LICENCIATURA,Pedagogia - Licenciatura - M,PEDAGOGIA - LICENCIATURA,-1055,[Kroton] - PITAGORAS GUARAPARI,REGIONAL SUDESTE,SUDESTE,None
1,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115114415,0,3455640507,67254,67254,3455640,-1055,451830,...,Noturno,67254,DIREITO,Direito - N,DIREITO,-1055,[Kroton] - PITAGORAS GUARAPARI,REGIONAL SUDESTE,SUDESTE,None
2,<BOLSA INCENTIVO>,<12102>,115210436,0,3460941507,2161,2161,3460941,-1055,421832,...,Matutino,2161,DIREITO,Direito - M,DIREITO,-1055,[Kroton] - PITAGORAS GUARAPARI,REGIONAL SUDESTE,SUDESTE,None
3,<BOLSA INCENTIVO><OUTRAS BOLSAS>,<12102><21870>,114348255,1,3444238638,15012,15012,3444238,UCL,0,...,Noturno,15012,DIREITO,Direito - N,DIREITO,UCL,[Anhanguera] - SAO PAULO/SP - CAMPO LIMPO,REGIONAL SP1,SP1,None

In [114]:
def polo(row):
    if(row['DS_CANAL']=='Polo'):
        val = row['DS_UNIDADE_MKT']

In [115]:
dfa['Polo'] = dfa.apply(polo, axis = 1) 
dfa

,BOLSA_ALUNO_TMP,CD_BOLSAS_ALUNO,CD_CANDIDATO,DS_QUINSTREET,CD_CHAVE_ALUNO,CD_CURSO_INSCRICAO,CD_CURSO_MATRICULA,CD_RA,CD_UNIDADE,CD_VENDEDOR,...,Codigo_Curso,Nome_Curso,Curso_Inscricao,Curso_Matricula,Codfago_Unidade,Descricao_Unidade,Regional,Regiao_Geografica,Campus,Polo
0,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115151795,0,3457242507,2978,2978,3457242,-1055,821830,...,2978,PEDAGOGIA - LICENCIATURA,Pedagogia - Licenciatura - M,PEDAGOGIA - LICENCIATURA,-1055,[Kroton] - PITAGORAS GUARAPARI,REGIONAL SUDESTE,SUDESTE,None,None
1,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115114415,0,3455640507,67254,67254,3455640,-1055,451830,...,67254,DIREITO,Direito - N,DIREITO,-1055,[Kroton] - PITAGORAS GUARAPARI,REGIONAL SUDESTE,SUDESTE,None,None
2,<BOLSA INCENTIVO>,<12102>,115210436,0,3460941507,2161,2161,3460941,-1055,421832,...,2161,DIREITO,Direito - M,DIREITO,-1055,[Kroton] - PITAGORAS GUARAPARI,REGIONAL SUDESTE,SUDESTE,None,None
3,<BOLSA INCENTIVO><OUTRAS BOLSAS>,<12102><21870>,114348255,1,3444238638,15012,15012,3444238,UCL,0,...,15012,DIREITO,Direito - N,DIREITO,UCL,[Anhanguera] - SAO PAULO/SP - CAMPO LIMPO,REGIONAL SP1,SP1,None,None

In [ ]:
# Consultor

In [116]:
sql_consulter = "SELECT CONS_CD AS VENCODIGO,CONS_DS_NOME AS VENNOME,'COLABORAR' AS ORIGEM,'EAD' AS MODALIDADE FROM TB_STG_UNPR_EDCONSULTOR UNION SELECT VENCODIGO,VENNOME,'FAMA'  AS ORIGEM,'Presencial' AS MODALIDADE FROM BI.TB_STG_FAMA_VENDEDOR UNION SELECT VENCODIGO,VENNOME,'OLIMPO' AS ORIGEM,'Presencial' AS MODALIDADE FROM BI.TB_STG_OLMP_VENDEDOR UNION SELECT CD_CONSULTOR AS VENCODIGO,TO_CHAR(DS_CONSULTOR) AS VENNOME,'SIAE' AS ORIGEM,'EAD' AS MODALIDADE FROM ODS.CONSULTORES_USER"

In [117]:
sql_consulter

"SELECT CONS_CD AS VENCODIGO,CONS_DS_NOME AS VENNOME,'COLABORAR' AS ORIGEM,'EAD' AS MODALIDADE FROM TB_STG_UNPR_EDCONSULTOR UNION SELECT VENCODIGO,VENNOME,'FAMA'  AS ORIGEM,'Presencial' AS MODALIDADE FROM BI.TB_STG_FAMA_VENDEDOR UNION SELECT VENCODIGO,VENNOME,'OLIMPO' AS ORIGEM,'Presencial' AS MODALIDADE FROM BI.TB_STG_OLMP_VENDEDOR UNION SELECT CD_CONSULTOR AS VENCODIGO,TO_CHAR(DS_CONSULTOR) AS VENNOME,'SIAE' AS ORIGEM,'EAD' AS MODALIDADE FROM ODS.CONSULTORES_USER"

In [118]:
TGT_BI_CON = read_origin_to_pandas(sql=sql_consulter, path="TESTE", sep=',',
                                           dtype={'ORIGEM': object})
TGT_BI_CON

,VENCODIGO,VENNOME,ORIGEM,MODALIDADE
0,0,WEB,FAMA,Presencial
1,0,None,OLIMPO,Presencial
2,1,ALAILTON ROBERVAL BRITO SANTOS,COLABORAR,EAD
3,1,Conceição,OLIMPO,Presencial
4,1,Consultor FAMA,FAMA,Presencial
5,1,Roberta Basílio Rodrigues,SIAE,EAD
6,2,ADRIANO BENTO ROSSI,SIAE,EAD
7,2,ANDERSON RIBEIRO DE OLIVEIRA,COLABORAR,EAD
8,2,Eliana Junqueira,OLIMPO,Presencial
9,3,ALÉSCIO ARADO JUNIOR,SIAE,EAD
10,3,ANDERSON VALNEI DOLCE,COLABORAR,EAD
11,3,Lydia Patricia,OLIMPO,Presencial
12,4,ALINE LARISSA MARTINS RAMOS DE MORAES FONTES,SIAE,EAD
13,4,AUGUSTO CESAR RIBEIRO PIVATO,COLABORAR,EAD
14,4,Daicy,OLIMPO,Presencial
15,5,ALINI BAPTISTA DO CARMO,SIAE,EAD
16,5,AUGUSTO LUIZ CAMARGO DE ALMEIDA,COLABORAR,EAD
17,5,Consultor Rogerio,FAMA,Presencial
18,5,Rosana,OLIMPO,Presencial
19,6,AMANDA DE ANCHIETA DE MELO,SIAE,EAD
20,6,CARLOS ROBERTO GOMES DE SOUSA JUNIOR,COLABORAR,EAD
21,6,Consultor FAMA Externo,FAMA,Presencial
22,6,Eduardo,OLIMPO,Presencial
23,7,ANA PATRICIA RODRIGUES LOPES,SIAE,EAD
24,7,CASSIANO NASCIMENTO MUNDURUCA,COLABORAR,EAD
25,7,Liege Espíndola dos Santos,FAMA,Presencial
26,7,Pollyana,OLIMPO,Presencial
27,8,ANDERSON MATHEUS DE SIQUEIRA M,SIAE,EAD
28,8,CRISTIANO GOMES PEREIRA,COLABORAR,EAD
29,8,Ivan,OLIMPO,Presencial
...,...,...,...,...
7665,1179840,Fernanda Carmezini de Castro,OLIMPO,Presencial
7666,1179841,Frank Weidd Sabino Silva Filho,OLIMPO,Presencial
7667,1181840,WALLYFF MARQUES DOS SANTOS,OLIMPO,Presencial
7668,1181841,CARLA PATRICIA DA SILVA ARAUJO,OLIMPO,Presencial
7669,1183840,THIAGO LUIZ PIRES DE MOURA,OLIMPO,Presencial
7670,1185840,Lucas Gusmão da Silva,OLIMPO,Presencial
7671,1187840,AMANDA CHRISLANE CARNEIRO NUNES,OLIMPO,Presencial
7672,1189840,Jaqueline de Cássia Caetano,OLIMPO,Presencial
7673,1191840,Murilo Centini,OLIMPO,Presencial
7674,1191841,Murilo Centini,OLIMPO,Presencial
7675,1191842,Murilo Centini,OLIMPO,Presencial
7676,1191843,Murilo Centini,OLIMPO,Presencial
7677,1191844,Murilo Centini,OLIMPO,Presencial
7678,1191845,Murilo Centini,OLIMPO,Presencial
7679,1191846,Murilo Centini,OLIMPO,Presencial
7680,1191847,Murilo Centini,OLIMPO,Presencial
7681,1191848,Murilo Centini,OLIMPO,Presencial
7682,1191849,Murilo Centini,OLIMPO,Presencial
7683,1191850,Murilo Centini,OLIMPO,Presencial
7684,1191851,Murilo Centini,OLIMPO,Presencial
7685,1191852,Murilo Centini,OLIMPO,Presencial
7686,1191853,Murilo Centini,OLIMPO,Presencial
7687,1191854,Murilo Centini,OLIMPO,Presencial
7688,1193840,Luciana Ribeiro Braga,OLIMPO,Presencial
7689,1195840,Leonardo Valério Silva de Abreu,OLIMPO,Presencial
7690,1197840,Valdecir Bertazzoni Barbosa,OLIMPO,Presencial
7691,1199840,Leonardo Valério Silva de Abreu,OLIMPO,Presencial
7692,1199841,Valdecir Bertazzoni Barbosa,OLIMPO,Presencial
7693,1199842,Leonardo Valério Silva de Abreu,OLIMPO,Presencial
7694,1199843,Valdecir Bertazzoni Barbosa,OLIMPO,Presencial

In [119]:
dcon = pd.DataFrame(TGT_BI_CON)
dcon

,VENCODIGO,VENNOME,ORIGEM,MODALIDADE
0,0,WEB,FAMA,Presencial
1,0,None,OLIMPO,Presencial
2,1,ALAILTON ROBERVAL BRITO SANTOS,COLABORAR,EAD
3,1,Conceição,OLIMPO,Presencial
4,1,Consultor FAMA,FAMA,Presencial
5,1,Roberta Basílio Rodrigues,SIAE,EAD
6,2,ADRIANO BENTO ROSSI,SIAE,EAD
7,2,ANDERSON RIBEIRO DE OLIVEIRA,COLABORAR,EAD
8,2,Eliana Junqueira,OLIMPO,Presencial
9,3,ALÉSCIO ARADO JUNIOR,SIAE,EAD
10,3,ANDERSON VALNEI DOLCE,COLABORAR,EAD
11,3,Lydia Patricia,OLIMPO,Presencial
12,4,ALINE LARISSA MARTINS RAMOS DE MORAES FONTES,SIAE,EAD
13,4,AUGUSTO CESAR RIBEIRO PIVATO,COLABORAR,EAD
14,4,Daicy,OLIMPO,Presencial
15,5,ALINI BAPTISTA DO CARMO,SIAE,EAD
16,5,AUGUSTO LUIZ CAMARGO DE ALMEIDA,COLABORAR,EAD
17,5,Consultor Rogerio,FAMA,Presencial
18,5,Rosana,OLIMPO,Presencial
19,6,AMANDA DE ANCHIETA DE MELO,SIAE,EAD
20,6,CARLOS ROBERTO GOMES DE SOUSA JUNIOR,COLABORAR,EAD
21,6,Consultor FAMA Externo,FAMA,Presencial
22,6,Eduardo,OLIMPO,Presencial
23,7,ANA PATRICIA RODRIGUES LOPES,SIAE,EAD
24,7,CASSIANO NASCIMENTO MUNDURUCA,COLABORAR,EAD
25,7,Liege Espíndola dos Santos,FAMA,Presencial
26,7,Pollyana,OLIMPO,Presencial
27,8,ANDERSON MATHEUS DE SIQUEIRA M,SIAE,EAD
28,8,CRISTIANO GOMES PEREIRA,COLABORAR,EAD
29,8,Ivan,OLIMPO,Presencial
...,...,...,...,...
7665,1179840,Fernanda Carmezini de Castro,OLIMPO,Presencial
7666,1179841,Frank Weidd Sabino Silva Filho,OLIMPO,Presencial
7667,1181840,WALLYFF MARQUES DOS SANTOS,OLIMPO,Presencial
7668,1181841,CARLA PATRICIA DA SILVA ARAUJO,OLIMPO,Presencial
7669,1183840,THIAGO LUIZ PIRES DE MOURA,OLIMPO,Presencial
7670,1185840,Lucas Gusmão da Silva,OLIMPO,Presencial
7671,1187840,AMANDA CHRISLANE CARNEIRO NUNES,OLIMPO,Presencial
7672,1189840,Jaqueline de Cássia Caetano,OLIMPO,Presencial
7673,1191840,Murilo Centini,OLIMPO,Presencial
7674,1191841,Murilo Centini,OLIMPO,Presencial
7675,1191842,Murilo Centini,OLIMPO,Presencial
7676,1191843,Murilo Centini,OLIMPO,Presencial
7677,1191844,Murilo Centini,OLIMPO,Presencial
7678,1191845,Murilo Centini,OLIMPO,Presencial
7679,1191846,Murilo Centini,OLIMPO,Presencial
7680,1191847,Murilo Centini,OLIMPO,Presencial
7681,1191848,Murilo Centini,OLIMPO,Presencial
7682,1191849,Murilo Centini,OLIMPO,Presencial
7683,1191850,Murilo Centini,OLIMPO,Presencial
7684,1191851,Murilo Centini,OLIMPO,Presencial
7685,1191852,Murilo Centini,OLIMPO,Presencial
7686,1191853,Murilo Centini,OLIMPO,Presencial
7687,1191854,Murilo Centini,OLIMPO,Presencial
7688,1193840,Luciana Ribeiro Braga,OLIMPO,Presencial
7689,1195840,Leonardo Valério Silva de Abreu,OLIMPO,Presencial
7690,1197840,Valdecir Bertazzoni Barbosa,OLIMPO,Presencial
7691,1199840,Leonardo Valério Silva de Abreu,OLIMPO,Presencial
7692,1199841,Valdecir Bertazzoni Barbosa,OLIMPO,Presencial
7693,1199842,Leonardo Valério Silva de Abreu,OLIMPO,Presencial
7694,1199843,Valdecir Bertazzoni Barbosa,OLIMPO,Presencial

In [120]:
dcon['VENCODIGO'] = dcon['VENCODIGO'].astype(str)

In [121]:
def chavec(row):
    val = (row['ORIGEM'] + row['VENCODIGO'] + row['MODALIDADE'])
    return val

In [122]:
dcon['CHAVE_CONSULTOR'] = dcon.apply(chavec, axis = 1)

In [123]:
dcon

,VENCODIGO,VENNOME,ORIGEM,MODALIDADE,CHAVE_CONSULTOR
0,0,WEB,FAMA,Presencial,FAMA0Presencial
1,0,None,OLIMPO,Presencial,OLIMPO0Presencial
2,1,ALAILTON ROBERVAL BRITO SANTOS,COLABORAR,EAD,COLABORAR1EAD
3,1,Conceição,OLIMPO,Presencial,OLIMPO1Presencial
4,1,Consultor FAMA,FAMA,Presencial,FAMA1Presencial
5,1,Roberta Basílio Rodrigues,SIAE,EAD,SIAE1EAD
6,2,ADRIANO BENTO ROSSI,SIAE,EAD,SIAE2EAD
7,2,ANDERSON RIBEIRO DE OLIVEIRA,COLABORAR,EAD,COLABORAR2EAD
8,2,Eliana Junqueira,OLIMPO,Presencial,OLIMPO2Presencial
9,3,ALÉSCIO ARADO JUNIOR,SIAE,EAD,SIAE3EAD
10,3,ANDERSON VALNEI DOLCE,COLABORAR,EAD,COLABORAR3EAD
11,3,Lydia Patricia,OLIMPO,Presencial,OLIMPO3Presencial
12,4,ALINE LARISSA MARTINS RAMOS DE MORAES FONTES,SIAE,EAD,SIAE4EAD
13,4,AUGUSTO CESAR RIBEIRO PIVATO,COLABORAR,EAD,COLABORAR4EAD
14,4,Daicy,OLIMPO,Presencial,OLIMPO4Presencial
15,5,ALINI BAPTISTA DO CARMO,SIAE,EAD,SIAE5EAD
16,5,AUGUSTO LUIZ CAMARGO DE ALMEIDA,COLABORAR,EAD,COLABORAR5EAD
17,5,Consultor Rogerio,FAMA,Presencial,FAMA5Presencial
18,5,Rosana,OLIMPO,Presencial,OLIMPO5Presencial
19,6,AMANDA DE ANCHIETA DE MELO,SIAE,EAD,SIAE6EAD
20,6,CARLOS ROBERTO GOMES DE SOUSA JUNIOR,COLABORAR,EAD,COLABORAR6EAD
21,6,Consultor FAMA Externo,FAMA,Presencial,FAMA6Presencial
22,6,Eduardo,OLIMPO,Presencial,OLIMPO6Presencial
23,7,ANA PATRICIA RODRIGUES LOPES,SIAE,EAD,SIAE7EAD
24,7,CASSIANO NASCIMENTO MUNDURUCA,COLABORAR,EAD,COLABORAR7EAD
25,7,Liege Espíndola dos Santos,FAMA,Presencial,FAMA7Presencial
26,7,Pollyana,OLIMPO,Presencial,OLIMPO7Presencial
27,8,ANDERSON MATHEUS DE SIQUEIRA M,SIAE,EAD,SIAE8EAD
28,8,CRISTIANO GOMES PEREIRA,COLABORAR,EAD,COLABORAR8EAD
29,8,Ivan,OLIMPO,Presencial,OLIMPO8Presencial
...,...,...,...,...,...
7665,1179840,Fernanda Carmezini de Castro,OLIMPO,Presencial,OLIMPO1179840Presencial
7666,1179841,Frank Weidd Sabino Silva Filho,OLIMPO,Presencial,OLIMPO1179841Presencial
7667,1181840,WALLYFF MARQUES DOS SANTOS,OLIMPO,Presencial,OLIMPO1181840Presencial
7668,1181841,CARLA PATRICIA DA SILVA ARAUJO,OLIMPO,Presencial,OLIMPO1181841Presencial
7669,1183840,THIAGO LUIZ PIRES DE MOURA,OLIMPO,Presencial,OLIMPO1183840Presencial
7670,1185840,Lucas Gusmão da Silva,OLIMPO,Presencial,OLIMPO1185840Presencial
7671,1187840,AMANDA CHRISLANE CARNEIRO NUNES,OLIMPO,Presencial,OLIMPO1187840Presencial
7672,1189840,Jaqueline de Cássia Caetano,OLIMPO,Presencial,OLIMPO1189840Presencial
7673,1191840,Murilo Centini,OLIMPO,Presencial,OLIMPO1191840Presencial
7674,1191841,Murilo Centini,OLIMPO,Presencial,OLIMPO1191841Presencial
7675,1191842,Murilo Centini,OLIMPO,Presencial,OLIMPO1191842Presencial
7676,1191843,Murilo Centini,OLIMPO,Presencial,OLIMPO1191843Presencial
7677,1191844,Murilo Centini,OLIMPO,Presencial,OLIMPO1191844Presencial
7678,1191845,Murilo Centini,OLIMPO,Presencial,OLIMPO1191845Presencial
7679,1191846,Murilo Centini,OLIMPO,Presencial,OLIMPO1191846Presencial
7680,1191847,Murilo Centini,OLIMPO,Presencial,OLIMPO1191847Presencial
7681,1191848,Murilo Centini,OLIMPO,Presencial,OLIMPO1191848Presencial
7682,1191849,Murilo Centini,OLIMPO,Presencial,OLIMPO1191849Presencial
7683,1191850,Murilo Centini,OLIMPO,Presencial,OLIMPO1191850Presencial
7684,1191851,Murilo Centini,OLIMPO,Presencial,OLIMPO1191851Presencial
7685,1191852,Murilo Centini,OLIMPO,Presencial,OLIMPO1191852Presencial
7686,1191853,Murilo Centini,OLIMPO,Presencial,OLIMPO1191853Presencial
7687,1191854,Murilo Centini,OLIMPO,Presencial,OLIMPO1191854Presencial
7688,1193840,Luciana Ribeiro Braga,OLIMPO,Presencial,OLIMPO1193840Presencial
7689,1195840,Leonardo Valério Silva de Abreu,OLIMPO,Presencial,OLIMPO1195840Presencial
7690,1197840,Valdecir Bertazzoni Barbosa,OLIMPO,Presencial,OLIMPO1197840Presencial
7691,1199840,Leonardo Valério Silva de Abreu,OLIMPO,Presencial,OLIMPO1199840Presencial
7692,1199841,Valdecir Bertazzoni Barbosa,OLIMPO,Presencial,OLIMPO1199841Presencial
7693,1199842,Leonardo Valério Silva de Abreu,OLIMPO,Presencial,OLIMPO1199842Presencial
7694,1199843,Valdecir Bertazzoni Barbosa,OLIMPO,Presencial,OLIMPO1199843Presencial

In [124]:
def chavecc(row):
    val = (row['DS_ORIGEM'] + row['CD_VENDEDOR'] + row['DS_MODALIDADE'])
    return val

In [125]:
dfa['CHAVE_CONSULTOR'] = dfa.apply(chavecc, axis = 1)

In [126]:
dfa

,BOLSA_ALUNO_TMP,CD_BOLSAS_ALUNO,CD_CANDIDATO,DS_QUINSTREET,CD_CHAVE_ALUNO,CD_CURSO_INSCRICAO,CD_CURSO_MATRICULA,CD_RA,CD_UNIDADE,CD_VENDEDOR,...,Nome_Curso,Curso_Inscricao,Curso_Matricula,Codfago_Unidade,Descricao_Unidade,Regional,Regiao_Geografica,Campus,Polo,CHAVE_CONSULTOR
0,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115151795,0,3457242507,2978,2978,3457242,-1055,821830,...,PEDAGOGIA - LICENCIATURA,Pedagogia - Licenciatura - M,PEDAGOGIA - LICENCIATURA,-1055,[Kroton] - PITAGORAS GUARAPARI,REGIONAL SUDESTE,SUDESTE,None,None,OLIMPO821830Presencial
1,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115114415,0,3455640507,67254,67254,3455640,-1055,451830,...,DIREITO,Direito - N,DIREITO,-1055,[Kroton] - PITAGORAS GUARAPARI,REGIONAL SUDESTE,SUDESTE,None,None,OLIMPO451830Presencial
2,<BOLSA INCENTIVO>,<12102>,115210436,0,3460941507,2161,2161,3460941,-1055,421832,...,DIREITO,Direito - M,DIREITO,-1055,[Kroton] - PITAGORAS GUARAPARI,REGIONAL SUDESTE,SUDESTE,None,None,OLIMPO421832Presencial
3,<BOLSA INCENTIVO><OUTRAS BOLSAS>,<12102><21870>,114348255,1,3444238638,15012,15012,3444238,UCL,0,...,DIREITO,Direito - N,DIREITO,UCL,[Anhanguera] - SAO PAULO/SP - CAMPO LIMPO,REGIONAL SP1,SP1,None,None,OLIMPO0Presencial

In [127]:
dfa = pd.merge(dfa,dcon.drop_duplicates(subset=['CHAVE_CONSULTOR','VENNOME']),how='inner',on=['CHAVE_CONSULTOR'])

In [128]:
dfa['Consultor'] = dfa['VENNOME'].str.upper()
dfa

,BOLSA_ALUNO_TMP,CD_BOLSAS_ALUNO,CD_CANDIDATO,DS_QUINSTREET,CD_CHAVE_ALUNO,CD_CURSO_INSCRICAO,CD_CURSO_MATRICULA,CD_RA,CD_UNIDADE,CD_VENDEDOR,...,Regional,Regiao_Geografica,Campus,Polo,CHAVE_CONSULTOR,VENCODIGO,VENNOME,ORIGEM,MODALIDADE,Consultor
0,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115151795,0,3457242507,2978,2978,3457242,-1055,821830,...,REGIONAL SUDESTE,SUDESTE,None,None,OLIMPO821830Presencial,821830,Joana Luiza Marques Oliveira,OLIMPO,Presencial,JOANA LUIZA MARQUES OLIVEIRA
1,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115114415,0,3455640507,67254,67254,3455640,-1055,451830,...,REGIONAL SUDESTE,SUDESTE,None,None,OLIMPO451830Presencial,451830,CAMILA CARDOSO DE MELO CAMPOS,OLIMPO,Presencial,CAMILA CARDOSO DE MELO CAMPOS
2,<BOLSA INCENTIVO>,<12102>,115210436,0,3460941507,2161,2161,3460941,-1055,421832,...,REGIONAL SUDESTE,SUDESTE,None,None,OLIMPO421832Presencial,421832,Fernanda Rodrigues Soares,OLIMPO,Presencial,FERNANDA RODRIGUES SOARES
3,<BOLSA INCENTIVO><OUTRAS BOLSAS>,<12102><21870>,114348255,1,3444238638,15012,15012,3444238,UCL,0,...,REGIONAL SP1,SP1,None,None,OLIMPO0Presencial,0,None,OLIMPO,Presencial,None

In [ ]:
#Consultor

In [130]:
dfa['Supervisor'] = dfa['DS_SUPERVISOR']
dfa['Diretor'] = dfa['DS_DIRETOR']
dfa['Gerente'] = dfa['DS_GERENTE'].str.upper()
dfa['Gerente_Mercado'] = dfa['DS_GERENTE_MERCADO'].str.upper()
dfa['Gerente_Senior'] = dfa['DS_GERENTE_SENIOR'].str.upper()
dfa['Flag_Nao_Mat_Emissao_Boleto'] = dfa['FL_NAO_MAT_EMISSAO_BOLETO']
dfa['Flag_Aluno_Pagante'] = dfa['FL_ALUNO_PAGANTE']
dfa['Flag_Inscrito'] = dfa['FL_INSCRITO']
dfa['Flag_Inscrito_Pago'] = dfa['FL_INSCRITO_PAGO']
dfa['Flag_Aprovado'] = dfa['FL_APROVADO']
dfa['Flag_PMA_PEP'] = dfa['FL_PMA_PEP']
dfa['Flag_PMA_Boleto'] = dfa['FL_PMA_BOLETO']
dfa['Flag_PMA_Fies_Condicional'] = dfa['FL_PMA_FIES_CONDICIONAL']
dfa['Flag_PMA'] = dfa['FL_PMA']
dfa['Flag_Nao_Matriculado_Pago'] = dfa['FL_NAO_MATRICULADO_PAGO']
dfa['Flag_Matriculado'] = dfa['FL_MATRICULADO']
dfa['Flag_Matriculado_Prouni'] = dfa['FL_MATRICULADO_PROUNI']
dfa['Flag_Matriculado_Fies'] = dfa['FL_MATRICULADO_FIES']
dfa['Flag_Matriculado_PEP'] = dfa['vFlag_Matriculado_PEP']
dfa['DS_PROTOCOLO'] = dfa['DS_PROTOCOLO']
dfa['Codfago_Bolsa'] = dfa['CD_BOLSAS_ALUNO']
dfa['Chave_Empresa_RA'] = dfa['vChave_Empresa_RA']
dfa['Flag_winback_Captacao'] = dfa['FL_WINBACK_CAPTACAO']
dfa['Data_convocacao'] = dfa['DT_CONVOCADO']
dfa['Descricao_Parceiro'] = dfa['DS_PARCEIRO']
dfa['Descricao_Curso_Original'] = dfa['DS_CURSO_ORIG']
dfa

,BOLSA_ALUNO_TMP,CD_BOLSAS_ALUNO,CD_CANDIDATO,DS_QUINSTREET,CD_CHAVE_ALUNO,CD_CURSO_INSCRICAO,CD_CURSO_MATRICULA,CD_RA,CD_UNIDADE,CD_VENDEDOR,...,Flag_Matriculado,Flag_Matriculado_Prouni,Flag_Matriculado_Fies,Flag_Matriculado_PEP,Codfago_Bolsa,Chave_Empresa_RA,Flag_winback_Captacao,Data_convocacao,Descricao_Parceiro,Descricao_Curso_Original
0,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115151795,0,3457242507,2978,2978,3457242,-1055,821830,...,1,0,0,0,<12068><12102>,KROTON|3457242,0,NaT,None,Pedagogia - Licenciatura - M
1,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115114415,0,3455640507,67254,67254,3455640,-1055,451830,...,1,0,0,0,<12068><12102>,KROTON|3455640,0,2018-11-28,None,Direito - N
2,<BOLSA INCENTIVO>,<12102>,115210436,0,3460941507,2161,2161,3460941,-1055,421832,...,0,0,0,0,<12102>,KROTON|3460941,1,NaT,None,Direito - M
3,<BOLSA INCENTIVO><OUTRAS BOLSAS>,<12102><21870>,114348255,1,3444238638,15012,15012,3444238,UCL,0,...,1,0,0,0,<12102><21870>,KROTON|3444238,0,2018-10-11,None,Direito - N

In [131]:
dfa.rename(index=str, columns={"v_Sub_Canal_Vendas":"Sub_Canal_Vendas"})

,BOLSA_ALUNO_TMP,CD_BOLSAS_ALUNO,CD_CANDIDATO,DS_QUINSTREET,CD_CHAVE_ALUNO,CD_CURSO_INSCRICAO,CD_CURSO_MATRICULA,CD_RA,CD_UNIDADE,CD_VENDEDOR,...,Flag_Matriculado,Flag_Matriculado_Prouni,Flag_Matriculado_Fies,Flag_Matriculado_PEP,Codfago_Bolsa,Chave_Empresa_RA,Flag_winback_Captacao,Data_convocacao,Descricao_Parceiro,Descricao_Curso_Original
0,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115151795,0,3457242507,2978,2978,3457242,-1055,821830,...,1,0,0,0,<12068><12102>,KROTON|3457242,0,NaT,None,Pedagogia - Licenciatura - M
1,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115114415,0,3455640507,67254,67254,3455640,-1055,451830,...,1,0,0,0,<12068><12102>,KROTON|3455640,0,2018-11-28,None,Direito - N
2,<BOLSA INCENTIVO>,<12102>,115210436,0,3460941507,2161,2161,3460941,-1055,421832,...,0,0,0,0,<12102>,KROTON|3460941,1,NaT,None,Direito - M
3,<BOLSA INCENTIVO><OUTRAS BOLSAS>,<12102><21870>,114348255,1,3444238638,15012,15012,3444238,UCL,0,...,1,0,0,0,<12102><21870>,KROTON|3444238,0,2018-10-11,None,Direito - N

In [132]:
columnsData = dfa.loc[ : , 'v_Sub_Canal_Vendas' ]
columnsData

0       AÇÃO ENEM
1       AÇÃO ENEM
2    AÇÃO EMPRESA
3      QUINSTREET
Name: v_Sub_Canal_Vendas, dtype: object

In [133]:
dfa['Sub_Canal_Vendas'] = dfa['v_Sub_Canal_Vendas']

In [134]:
dfa

,BOLSA_ALUNO_TMP,CD_BOLSAS_ALUNO,CD_CANDIDATO,DS_QUINSTREET,CD_CHAVE_ALUNO,CD_CURSO_INSCRICAO,CD_CURSO_MATRICULA,CD_RA,CD_UNIDADE,CD_VENDEDOR,...,Flag_Matriculado_Prouni,Flag_Matriculado_Fies,Flag_Matriculado_PEP,Codfago_Bolsa,Chave_Empresa_RA,Flag_winback_Captacao,Data_convocacao,Descricao_Parceiro,Descricao_Curso_Original,Sub_Canal_Vendas
0,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115151795,0,3457242507,2978,2978,3457242,-1055,821830,...,0,0,0,<12068><12102>,KROTON|3457242,0,NaT,None,Pedagogia - Licenciatura - M,AÇÃO ENEM
1,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO>,<12068><12102>,115114415,0,3455640507,67254,67254,3455640,-1055,451830,...,0,0,0,<12068><12102>,KROTON|3455640,0,2018-11-28,None,Direito - N,AÇÃO ENEM
2,<BOLSA INCENTIVO>,<12102>,115210436,0,3460941507,2161,2161,3460941,-1055,421832,...,0,0,0,<12102>,KROTON|3460941,1,NaT,None,Direito - M,AÇÃO EMPRESA
3,<BOLSA INCENTIVO><OUTRAS BOLSAS>,<12102><21870>,114348255,1,3444238638,15012,15012,3444238,UCL,0,...,0,0,0,<12102><21870>,KROTON|3444238,0,2018-10-11,None,Direito - N,QUINSTREET

In [ ]:
# Flag_Matricula_Condicional

In [ ]:
# Primeiro_Vendedor

In [135]:
dcon['VENNOME'] = dcon['VENNOME'].astype(str)

In [136]:
def chavecc(row):
    val = (row['ORIGEM'] + row['VENNOME'] + row['MODALIDADE'])
    return val

In [137]:
dcon['Primeiro_Vendedor'] = dcon.apply(chavecc, axis = 1)

In [138]:
dcon

,VENCODIGO,VENNOME,ORIGEM,MODALIDADE,CHAVE_CONSULTOR,Primeiro_Vendedor
0,0,WEB,FAMA,Presencial,FAMA0Presencial,FAMAWEBPresencial
1,0,None,OLIMPO,Presencial,OLIMPO0Presencial,OLIMPONonePresencial
2,1,ALAILTON ROBERVAL BRITO SANTOS,COLABORAR,EAD,COLABORAR1EAD,COLABORARALAILTON ROBERVAL BRITO SANTOSEAD
3,1,Conceição,OLIMPO,Presencial,OLIMPO1Presencial,OLIMPOConceiçãoPresencial
4,1,Consultor FAMA,FAMA,Presencial,FAMA1Presencial,FAMAConsultor FAMAPresencial
5,1,Roberta Basílio Rodrigues,SIAE,EAD,SIAE1EAD,SIAERoberta Basílio RodriguesEAD
6,2,ADRIANO BENTO ROSSI,SIAE,EAD,SIAE2EAD,SIAEADRIANO BENTO ROSSIEAD
7,2,ANDERSON RIBEIRO DE OLIVEIRA,COLABORAR,EAD,COLABORAR2EAD,COLABORARANDERSON RIBEIRO DE OLIVEIRAEAD
8,2,Eliana Junqueira,OLIMPO,Presencial,OLIMPO2Presencial,OLIMPOEliana JunqueiraPresencial
9,3,ALÉSCIO ARADO JUNIOR,SIAE,EAD,SIAE3EAD,SIAEALÉSCIO ARADO JUNIOREAD
10,3,ANDERSON VALNEI DOLCE,COLABORAR,EAD,COLABORAR3EAD,COLABORARANDERSON VALNEI DOLCEEAD
11,3,Lydia Patricia,OLIMPO,Presencial,OLIMPO3Presencial,OLIMPOLydia PatriciaPresencial
12,4,ALINE LARISSA MARTINS RAMOS DE MORAES FONTES,SIAE,EAD,SIAE4EAD,SIAEALINE LARISSA MARTINS RAMOS DE MORAES FONT...
13,4,AUGUSTO CESAR RIBEIRO PIVATO,COLABORAR,EAD,COLABORAR4EAD,COLABORARAUGUSTO CESAR RIBEIRO PIVATOEAD
14,4,Daicy,OLIMPO,Presencial,OLIMPO4Presencial,OLIMPODaicyPresencial
15,5,ALINI BAPTISTA DO CARMO,SIAE,EAD,SIAE5EAD,SIAEALINI BAPTISTA DO CARMOEAD
16,5,AUGUSTO LUIZ CAMARGO DE ALMEIDA,COLABORAR,EAD,COLABORAR5EAD,COLABORARAUGUSTO LUIZ CAMARGO DE ALMEIDAEAD
17,5,Consultor Rogerio,FAMA,Presencial,FAMA5Presencial,FAMAConsultor RogerioPresencial
18,5,Rosana,OLIMPO,Presencial,OLIMPO5Presencial,OLIMPORosana Presencial
19,6,AMANDA DE ANCHIETA DE MELO,SIAE,EAD,SIAE6EAD,SIAEAMANDA DE ANCHIETA DE MELOEAD
20,6,CARLOS ROBERTO GOMES DE SOUSA JUNIOR,COLABORAR,EAD,COLABORAR6EAD,COLABORARCARLOS ROBERTO GOMES DE SOUSA JUNIOREAD
21,6,Consultor FAMA Externo,FAMA,Presencial,FAMA6Presencial,FAMAConsultor FAMA ExternoPresencial
22,6,Eduardo,OLIMPO,Presencial,OLIMPO6Presencial,OLIMPOEduardoPresencial
23,7,ANA PATRICIA RODRIGUES LOPES,SIAE,EAD,SIAE7EAD,SIAEANA PATRICIA RODRIGUES LOPESEAD
24,7,CASSIANO NASCIMENTO MUNDURUCA,COLABORAR,EAD,COLABORAR7EAD,COLABORARCASSIANO NASCIMENTO MUNDURUCAEAD
25,7,Liege Espíndola dos Santos,FAMA,Presencial,FAMA7Presencial,FAMALiege Espíndola dos Santos Presencial
26,7,Pollyana,OLIMPO,Presencial,OLIMPO7Presencial,OLIMPOPollyanaPresencial
27,8,ANDERSON MATHEUS DE SIQUEIRA M,SIAE,EAD,SIAE8EAD,SIAEANDERSON MATHEUS DE SIQUEIRA MEAD
28,8,CRISTIANO GOMES PEREIRA,COLABORAR,EAD,COLABORAR8EAD,COLABORARCRISTIANO GOMES PEREIRAEAD
29,8,Ivan,OLIMPO,Presencial,OLIMPO8Presencial,OLIMPOIvanPresencial
...,...,...,...,...,...,...
7665,1179840,Fernanda Carmezini de Castro,OLIMPO,Presencial,OLIMPO1179840Presencial,OLIMPOFernanda Carmezini de CastroPresencial
7666,1179841,Frank Weidd Sabino Silva Filho,OLIMPO,Presencial,OLIMPO1179841Presencial,OLIMPOFrank Weidd Sabino Silva Filho Presencial
7667,1181840,WALLYFF MARQUES DOS SANTOS,OLIMPO,Presencial,OLIMPO1181840Presencial,OLIMPOWALLYFF MARQUES DOS SANTOSPresencial
7668,1181841,CARLA PATRICIA DA SILVA ARAUJO,OLIMPO,Presencial,OLIMPO1181841Presencial,OLIMPOCARLA PATRICIA DA SILVA ARAUJO ...
7669,1183840,THIAGO LUIZ PIRES DE MOURA,OLIMPO,Presencial,OLIMPO1183840Presencial,OLIMPOTHIAGO LUIZ PIRES DE MOURAPresencial
7670,1185840,Lucas Gusmão da Silva,OLIMPO,Presencial,OLIMPO1185840Presencial,OLIMPOLucas Gusmão da SilvaPresencial
7671,1187840,AMANDA CHRISLANE CARNEIRO NUNES,OLIMPO,Presencial,OLIMPO1187840Presencial,OLIMPOAMANDA CHRISLANE CARNEIRO NUNES Presencial
7672,1189840,Jaqueline de Cássia Caetano,OLIMPO,Presencial,OLIMPO1189840Presencial,OLIMPOJaqueline de Cássia Caetano Presencial
7673,1191840,Murilo Centini,OLIMPO,Presencial,OLIMPO1191840Presencial,OLIMPOMurilo CentiniPresencial
7674,1191841,Murilo Centini,OLIMPO,Presencial,OLIMPO1191841Presencial,OLIMPOMurilo CentiniPresencial
7675,1191842,Murilo Centini,OLIMPO,Presencial,OLIMPO1191842Presencial,OLIMPOMurilo CentiniPresencial
7676,1191843,Murilo Centini,OLIMPO,Presencial,OLIMPO1191843Presencial,OLIMPOMurilo CentiniPresencial
7677,1191844,Murilo Centini,OLIMPO,Presencial,OLIMPO1191844Presencial,OLIMPOMurilo CentiniPresencial
7678,1191845,Murilo Centini,OLIMPO,Presencial,OLIMPO1191845Presencial,OLIMPOMurilo CentiniPresencial
7679,1191846,Murilo Centini,OLIMPO,Presencial,OLIMPO1191846Presencial,OLIMPOMurilo CentiniPresencial
7680,1191847,Murilo Centini,OLIMPO,Presencial,OLIMPO1191847Presencial,OLIMPOMurilo CentiniPresencial
7681,1191848,Murilo Centini,OLIMPO,Presencial,OLIMPO1191848Presencial,OLIMPOMurilo CentiniPresencial
7682,1191849,Murilo Centini,OLIMPO,Presencial,OLIMPO1191849Presencial,OLIMPOMurilo CentiniPresencial
7683,1191850,Murilo Centini,OLIMPO,Presencial,OLIMPO1191850Presencial,OLIMPOMurilo CentiniPresencial
7684,1191851,Murilo Centini,OLIMPO,Presencial,OLIMPO1191851Presencial,OLIMPOMurilo CentiniPresencial
7685,1191852,Murilo Centini,OLIMPO,Presencial,OLIMPO1191852Presencial,OLIMPOMurilo CentiniPresencial
7686,1191853,Murilo Centini,OLIMPO,Presencial,OLIMPO1191853Presencial,OLIMPOMurilo CentiniPresencial
7687,1191854,Murilo Centini,OLIMPO,Presencial,OLIMPO1191854Presencial,OLIMPOMurilo CentiniPresencial
7688,1193840,Luciana Ribeiro Braga,OLIMPO,Presencial,OLIMPO1193840Presencial,OLIMPOLuciana Ribeiro BragaPresencial
7689,1195840,Leonardo Valério Silva de Abreu,OLIMPO,Presencial,OLIMPO1195840Presencial,OLIMPOLeonardo Valério Silva de AbreuPresencial
7690,1197840,Valdecir Bertazzoni Barbosa,OLIMPO,Presencial,OLIMPO1197840Presencial,OLIMPOValdecir Bertazzoni BarbosaPresencial
7691,1199840,Leonardo Valério Silva de Abreu,OLIMPO,Presencial,OLIMPO1199840Presencial,OLIMPOLeonardo Valério Silva de AbreuPresencial
7692,1199841,Valdecir Bertazzoni Barbosa,OLIMPO,Presencial,OLIMPO1199841Presencial,OLIMPOValdecir Bertazzoni BarbosaPresencial
7693,1199842,Leonardo Valério Silva de Abreu,OLIMPO,Presencial,OLIMPO1199842Presencial,OLIMPOLeonardo Valério Silva de AbreuPresencial
7694,1199843,Valdecir Bertazzoni Barbosa,OLIMPO,Presencial,OLIMPO1199843Presencial,OLIMPOValdecir Bertazzoni BarbosaPresencial

In [140]:
dmapa = dcon[['Primeiro_Vendedor','VENNOME']]
dmapa

,Primeiro_Vendedor,VENNOME
0,FAMAWEBPresencial,WEB
1,OLIMPONonePresencial,None
2,COLABORARALAILTON ROBERVAL BRITO SANTOSEAD,ALAILTON ROBERVAL BRITO SANTOS
3,OLIMPOConceiçãoPresencial,Conceição
4,FAMAConsultor FAMAPresencial,Consultor FAMA
5,SIAERoberta Basílio RodriguesEAD,Roberta Basílio Rodrigues
6,SIAEADRIANO BENTO ROSSIEAD,ADRIANO BENTO ROSSI
7,COLABORARANDERSON RIBEIRO DE OLIVEIRAEAD,ANDERSON RIBEIRO DE OLIVEIRA
8,OLIMPOEliana JunqueiraPresencial,Eliana Junqueira
9,SIAEALÉSCIO ARADO JUNIOREAD,ALÉSCIO ARADO JUNIOR
10,COLABORARANDERSON VALNEI DOLCEEAD,ANDERSON VALNEI DOLCE
11,OLIMPOLydia PatriciaPresencial,Lydia Patricia
12,SIAEALINE LARISSA MARTINS RAMOS DE MORAES FONT...,ALINE LARISSA MARTINS RAMOS DE MORAES FONTES
13,COLABORARAUGUSTO CESAR RIBEIRO PIVATOEAD,AUGUSTO CESAR RIBEIRO PIVATO
14,OLIMPODaicyPresencial,Daicy
15,SIAEALINI BAPTISTA DO CARMOEAD,ALINI BAPTISTA DO CARMO
16,COLABORARAUGUSTO LUIZ CAMARGO DE ALMEIDAEAD,AUGUSTO LUIZ CAMARGO DE ALMEIDA
17,FAMAConsultor RogerioPresencial,Consultor Rogerio
18,OLIMPORosana Presencial,Rosana
19,SIAEAMANDA DE ANCHIETA DE MELOEAD,AMANDA DE ANCHIETA DE MELO
20,COLABORARCARLOS ROBERTO GOMES DE SOUSA JUNIOREAD,CARLOS ROBERTO GOMES DE SOUSA JUNIOR
21,FAMAConsultor FAMA ExternoPresencial,Consultor FAMA Externo
22,OLIMPOEduardoPresencial,Eduardo
23,SIAEANA PATRICIA RODRIGUES LOPESEAD,ANA PATRICIA RODRIGUES LOPES
24,COLABORARCASSIANO NASCIMENTO MUNDURUCAEAD,CASSIANO NASCIMENTO MUNDURUCA
25,FAMALiege Espíndola dos Santos Presencial,Liege Espíndola dos Santos
26,OLIMPOPollyanaPresencial,Pollyana
27,SIAEANDERSON MATHEUS DE SIQUEIRA MEAD,ANDERSON MATHEUS DE SIQUEIRA M
28,COLABORARCRISTIANO GOMES PEREIRAEAD,CRISTIANO GOMES PEREIRA
29,OLIMPOIvanPresencial,Ivan
...,...,...
7665,OLIMPOFernanda Carmezini de CastroPresencial,Fernanda Carmezini de Castro
7666,OLIMPOFrank Weidd Sabino Silva Filho Presencial,Frank Weidd Sabino Silva Filho
7667,OLIMPOWALLYFF MARQUES DOS SANTOSPresencial,WALLYFF MARQUES DOS SANTOS
7668,OLIMPOCARLA PATRICIA DA SILVA ARAUJO ...,CARLA PATRICIA DA SILVA ARAUJO
7669,OLIMPOTHIAGO LUIZ PIRES DE MOURAPresencial,THIAGO LUIZ PIRES DE MOURA
7670,OLIMPOLucas Gusmão da SilvaPresencial,Lucas Gusmão da Silva
7671,OLIMPOAMANDA CHRISLANE CARNEIRO NUNES Presencial,AMANDA CHRISLANE CARNEIRO NUNES
7672,OLIMPOJaqueline de Cássia Caetano Presencial,Jaqueline de Cássia Caetano
7673,OLIMPOMurilo CentiniPresencial,Murilo Centini
7674,OLIMPOMurilo CentiniPresencial,Murilo Centini
7675,OLIMPOMurilo CentiniPresencial,Murilo Centini
7676,OLIMPOMurilo CentiniPresencial,Murilo Centini
7677,OLIMPOMurilo CentiniPresencial,Murilo Centini
7678,OLIMPOMurilo CentiniPresencial,Murilo Centini
7679,OLIMPOMurilo CentiniPresencial,Murilo Centini
7680,OLIMPOMurilo CentiniPresencial,Murilo Centini
7681,OLIMPOMurilo CentiniPresencial,Murilo Centini
7682,OLIMPOMurilo CentiniPresencial,Murilo Centini
7683,OLIMPOMurilo CentiniPresencial,Murilo Centini
7684,OLIMPOMurilo CentiniPresencial,Murilo Centini
7685,OLIMPOMurilo CentiniPresencial,Murilo Centini
7686,OLIMPOMurilo CentiniPresencial,Murilo Centini
7687,OLIMPOMurilo CentiniPresencial,Murilo Centini
7688,OLIMPOLuciana Ribeiro BragaPresencial,Luciana Ribeiro Braga
7689,OLIMPOLeonardo Valério Silva de AbreuPresencial,Leonardo Valério Silva de Abreu
7690,OLIMPOValdecir Bertazzoni BarbosaPresencial,Valdecir Bertazzoni Barbosa
7691,OLIMPOLeonardo Valério Silva de AbreuPresencial,Leonardo Valério Silva de Abreu
7692,OLIMPOValdecir Bertazzoni BarbosaPresencial,Valdecir Bertazzoni Barbosa
7693,OLIMPOLeonardo Valério Silva de AbreuPresencial,Leonardo Valério Silva de Abreu
7694,OLIMPOValdecir Bertazzoni BarbosaPresencial,Valdecir Bertazzoni Barbosa

In [141]:
dfa['DS_PRIM_VENDEDOR'] = dfa['DS_PRIM_VENDEDOR'].astype(str)

In [142]:
def chavedg(row):
    val = (row['DS_ORIGEM'] + row['DS_PRIM_VENDEDOR'] + row['DS_MODALIDADE'])
    return val

In [143]:
dfa['Primeiro_Vendedor'] = dfa.apply(chavedg, axis = 1)

In [146]:
dfa['Canal_Vendas'] = dfa['CANAL PARA'].astype(str)

In [154]:
dfa['Modalidade_EAD'] = dfa['PARA_MODALIDADE_EAD']

In [164]:
dfa['Codigo_Unidade'] = dfa['CD_UNIDADE']

In [167]:
dfa['Codigo_Bolsa'] = dfa['CD_BOLSAS_ALUNO']

In [168]:
#dfa['Flag_Acao_WinBack','Chave_Unidade', 'Codigo_Unidade', 'Codigo_Bolsa']
dfa['Codigo_Bolsa']

0    <12068><12102>
1    <12068><12102>
2           <12102>
3    <12102><21870>
Name: Codigo_Bolsa, dtype: object

In [148]:
list(dfa)

['BOLSA_ALUNO_TMP',
 'CD_BOLSAS_ALUNO',
 'CD_CANDIDATO',
 'DS_QUINSTREET',
 'CD_CHAVE_ALUNO',
 'CD_CURSO_INSCRICAO',
 'CD_CURSO_MATRICULA',
 'CD_RA',
 'CD_UNIDADE',
 'CD_VENDEDOR',
 'CODIGO_CURSO',
 'DS_BAIRRO',
 'DS_BOLSA_VIGENTE_ALUNO',
 'DS_BOLSAS_ALUNO',
 'DS_CANAL',
 'DS_CANAL_CONSULTOR',
 'DS_CANAL_VENDAS',
 'DS_CIDADE',
 'DS_CONSULTOR',
 'DS_COORDENADOR_CURSO',
 'DS_CURSO_INSCRICAO_MKT',
 'DS_CURSO_MATRICULA_MKT',
 'DS_CURSO_ORIG',
 'DS_DIRETOR',
 'DS_EMAIL',
 'DS_EMPRESA',
 'DS_EMPRESA_UNOPAR',
 'DS_ENDERECO',
 'DS_GERENTE',
 'DS_GERENTE_MERCADO',
 'DS_GERENTE_SENIOR',
 'DS_MARCA',
 'DS_MARCA_DETALHE',
 'DS_MARCA_DETALHE_UNOPAR',
 'DS_MODALIDADE',
 'DS_MODALIDADE_EAD',
 'DS_NOME_CANDIDATO_ALUNO',
 'DS_ORIGEM',
 'DS_PARCEIRO',
 'DS_PERIODO_LETIVO',
 'DS_PROCESSO_SELETIVO',
 'DS_PROTOCOLO',
 'DS_REGIAO_GEOGRAFICA',
 'DS_REGIONAL',
 'DS_SEXO',
 'DS_SITUACAO_CANDIDATO',
 'DS_SITUACAO_CLASSIFICACAO',
 'DS_SITUACAO_FIES',
 'DS_SITUACAO_MATRICULA',
 'DS_SITUACAO_TURMA',
 'DS_SUPERVISOR',
 'DS_TERMO',
 'DS_TURMA',
 'DS_UF',
 'DS_UNIDADE_MKT',
 'DT_APROVADO',
 'DT_BASE',
 'DT_CONVOCADO',
 'DT_ENTRADA_BASE',
 'DT_INSCRICAO',
 'DT_MATRICULA',
 'DT_NASCIMENTO',
 'DT_PROVA',
 'DT_SITUACAO_PMA',
 'FL_ALUNO_PAGANTE',
 'FL_APROVADO',
 'FL_INSCRITO',
 'FL_INSCRITO_PAGO',
 'FL_MATRICULADO',
 'FL_MATRICULADO_FIES',
 'FL_MATRICULADO_PEP',
 'FL_MATRICULADO_PROUNI',
 'FL_NAO_MAT_EMISSAO_BOLETO',
 'FL_NAO_MATRICULADO_PAGO',
 'FL_PMA',
 'FL_PMA_BOLETO',
 'FL_PMA_FIES_CONDICIONAL',
 'FL_PMA_PEP',
 'FL_PROVA',
 'FL_WINBACK_CAPTACAO',
 'NOME_CURSO',
 'NR_CEP',
 'NR_CPF',
 'NR_TELEFONE_CELULAR',
 'NR_TELEFONE_COMERCIAL',
 'NR_TELEFONE_RESIDENCIAL',
 'TURNO',
 'DS_PRIM_VENDEDOR',
 'vChave_Empresa_RA',
 'aux_vNome_Curso',
 'aux_vCurso_Matricula_mkt',
 'vNome_Curso',
 'vFlag_Matriculado_PEP',
 'v_Sub_Canal_Vendas',
 'CANAL DE',
 'CANAL PARA',
 'SUB_CANAL DE',
 'SUB_CANAL PARA',
 'vMarca_Detalhe',
 'Tipo_Aluno',
 'vTurno',
 'vModalidade_EAD_Temp',
 'vMarca',
 'vRegional',
 'Canal_Vendas',
 'CURSO',
 'DE_MODALIDADE_EAD',
 'PARA_MODALIDADE_EAD',
 'Flag_Nova_Bolsa_Diretor',
 'Flag_Bolsa_Social_Diretor',
 'Flag_Bolsa_Diretor_Comercial',
 'Flag_Bolsa_Prouni_Institucional',
 'Flag_Bolsa_Sazonal_Bazuca',
 'Flag_Bolsa_Quero_Bolsas',
 'Flag_Primeiro_Semestre',
 'Flag_Bolsa_Acao_Enem',
 'Quinstreet',
 'Flag_Acao_Winback',
 '[Coordenador Curso]',
 'find50',
 'pep50',
 'pep30',
 'Bolsa_PEP_50',
 'pep25',
 'Bolsa_PEP_25',
 'Bolsa_PEP_30',
 'Bolsa_Bazuka_30',
 'Bolsa_Bazuka_50',
 'Bolsa_Meritocracia',
 'aux-diretor',
 'aux-nodiretor',
 'Bolsa_Diretor',
 'aux_educamais',
 'Bolsa_Educa_Mais',
 'Bolsa_Extra_Diretor',
 'Bolsa_Turma_Inclusao',
 'Bolsa_Convenio_Empresa',
 'Bolsa_Transferencia',
 'Bolsa_Winback',
 'Bolsa_Politica',
 'Sem_Bolsa',
 'Demais_Bolsas',
 'Bolsas_Aluno',
 'Bolsas_Vigente_Aluno',
 'Chave_Aluno',
 'Periodo_Letivo',
 'DATA',
 'Dt_Matricula',
 'Dt_Entrada_Base',
 'Dt_Inscricao',
 'CANAL',
 'Modalidade_Curso',
 'EMPRESA',
 'Marca',
 'Marca_Detalhe',
 'CPF',
 'Codigo_Candidato',
 'RA',
 'Processo_Seletivo',
 'Data_da_Prova',
 'Data_Aprovacao',
 'Flag_Prova',
 'Termo',
 'Situacao_Matricula',
 'Situacao_Turma',
 'Nome_Candidato',
 'Sexo',
 'Dt_Nascimento',
 'Email',
 'Fone_Residencial',
 'Fone_Celular',
 'Fone_Comercial',
 'CEP',
 'Endereço',
 'Bairro',
 'Cidade',
 'UF',
 'Vendedor',
 'Canal_Consultor',
 'Canal_Vendas_Temp',
 'Turma',
 'Situacao_Classificacao',
 'Situacao_Candidato',
 'Situacao_Fies',
 'Dt_Situcao_PMA',
 'Turno',
 'Codigo_Curso',
 'Nome_Curso',
 'Curso_Inscricao',
 'Curso_Matricula',
 'Codfago_Unidade',
 'Descricao_Unidade',
 'Regional',
 'Regiao_Geografica',
 'Campus',
 'Polo',
 'CHAVE_CONSULTOR',
 'VENCODIGO',
 'VENNOME',
 'ORIGEM',
 'MODALIDADE',
 'Consultor',
 'Supervisor',
 'Diretor',
 'Gerente',
 'Gerente_Mercado',
 'Gerente_Senior',
 'Flag_Nao_Mat_Emissao_Boleto',
 'Flag_Aluno_Pagante',
 'Flag_Inscrito',
 'Flag_Inscrito_Pago',
 'Flag_Aprovado',
 'Flag_PMA_PEP',
 'Flag_PMA_Boleto',
 'Flag_PMA_Fies_Condicional',
 'Flag_PMA',
 'Flag_Nao_Matriculado_Pago',
 'Flag_Matriculado',
 'Flag_Matriculado_Prouni',
 'Flag_Matriculado_Fies',
 'Flag_Matriculado_PEP',
 'Codfago_Bolsa',
 'Chave_Empresa_RA',
 'Flag_winback_Captacao',
 'Data_convocacao',
 'Descricao_Parceiro',
 'Descricao_Curso_Original',
 'Sub_Canal_Vendas',
 'Primeiro_Vendedor']

In [169]:
df = dfa[['Canal_Vendas','Modalidade_EAD','Tipo_Aluno','Flag_Nova_Bolsa_Diretor','Flag_Bolsa_Social_Diretor','Flag_Bolsa_Diretor_Comercial','Flag_Bolsa_Prouni_Institucional','Flag_Bolsa_Sazonal_Bazuca','Flag_Bolsa_Quero_Bolsas','Flag_Primeiro_Semestre','Flag_Bolsa_Acao_Enem','Quinstreet','Flag_Acao_Winback','Chave_Unidade','[Coordenador Curso]','Bolsa_PEP_50','Bolsa_PEP_25','Bolsa_PEP_30','Bolsa_Bazuka_30','Bolsa_Bazuka_50','Bolsa_Meritocracia','Bolsa_Diretor','Bolsa_Educa_Mais','Bolsa_Extra_Diretor','Bolsa_Turma_Inclusao','Bolsa_Convenio_Empresa','Bolsa_Winback','Bolsa_Transferencia','Bolsa_Politica','Demais_Bolsas','Sem_Bolsa','Bolsas_Aluno','Bolsas_Vigente_Aluno','Chave_Aluno','Periodo_Letivo','DATA','Dt_Matricula','Dt_Entrada_Base','Dt_Inscricao','CANAL','Modalidade_Curso','EMPRESA','Marca','Marca_Detalhe','CPF','Codigo_Candidato','RA','Processo_Seletivo','Data_da_Prova','Data_Aprovacao','Flag_Prova','Termo','Situacao_Matricula','Situacao_Turma','Nome_Candidato','Sexo','Dt_Nascimento','Email','Fone_Residencial','Fone_Celular','Fone_Comercial','CEP','Endereço','Bairro','Cidade','UF','Vendedor','Canal_Consultor','Canal_Vendas_Temp','Sub_Canal_Vendas','Turma','Situacao_Classificacao','Situacao_Candidato','Situacao_Fies','Dt_Situcao_PMA','Turno','Codigo_Curso','Nome_Curso','Curso_Inscricao','Curso_Matricula','Codigo_Unidade','Descricao_Unidade','Campus','Polo','Regional','Regiao_Geografica','Consultor','Supervisor','Diretor','Gerente','Gerente_Mercado','Gerente_Senior','Flag_Nao_Mat_Emissao_Boleto','Flag_Aluno_Pagante','Flag_Inscrito','Flag_Inscrito_Pago','Flag_Aprovado','Flag_PMA_PEP','Flag_PMA_Boleto','Flag_PMA_Fies_Condicional','Flag_PMA','Flag_Nao_Matriculado_Pago','Flag_Matriculado','Flag_Matriculado_Prouni','Flag_Matriculado_Fies','Flag_Matriculado_PEP','DS_PROTOCOLO','Chave_Empresa_RA','Codigo_Bolsa','Flag_winback_Captacao','Data_convocacao','Descricao_Parceiro','Descricao_Curso_Original']]

In [ ]:
'Canal_Vendas','Modalidade_EAD','Tipo_Aluno','Flag_Nova_Bolsa_Diretor','Flag_Bolsa_Social_Diretor','Flag_Bolsa_Diretor_Comercial','Flag_Bolsa_Prouni_Institucional','Flag_Bolsa_Sazonal_Bazuca','Flag_Bolsa_Quero_Bolsas','Flag_Primeiro_Semestre','Flag_Bolsa_Ação_Enem','Quinstreet','Flag_Acao_WinBack','Chave_Unidade','[Coordenador Curso]','Bolsa_PEP_50','Bolsa_PEP_25','Bolsa_PEP_30','Bolsa_Bazuka_30','Bolsa_Bazuka_50','Bolsa_Meritocracia','Bolsa_Diretor','Bolsa_Educa_Mais','Bolsa_Extra_Diretor','Bolsa_Turma_Inclusao','Bolsa_Convenio_Empresa','Bolsa_Winback','Bolsa_Transferencia','Bolsa_Politica','Demais_Bolsas','Sem_Bolsa','Bolsas_Aluno','Bolsas_Vigente_Aluno','Chave_Aluno','Periodo_Letivo','DATA','Dt_Matricula','Dt_Entrada_Base','Dt_Inscricao','CANAL','Modalidade_Curso','EMPRESA','Marca','Marca_Detalhe','CPF','Codigo_Candidato','RA','Processo_Seletivo','Data_da_Prova','Data_Aprovacao','Flag_Prova','Termo','Situacao_Matricula','Situacao_Turma','Nome_Candidato','Sexo','Dt_Nascimento','Email','Fone_Residencial','Fone_Celular','Fone_Comercial','CEP','Endereço','Bairro','Cidade','UF','Vendedor','Canal_Consultor','Canal_Vendas_Temp','Sub_Canal_Vendas','Turma','Situacao_Classificacao','Situacao_Candidato','Situacao_Fies','Dt_Situcao_PMA','Turno','Codigo_Curso','Nome_Curso','Curso_Inscricao','Curso_Matricula','Codigo_Unidade','Descricao_Unidade','Campus','Polo','Regional','Regiao_Geografica','Consultor','Supervisor','Diretor','Gerente','Gerente_Mercado','Gerente_Senior','Flag_Nao_Mat_Emissao_Boleto','Flag_Aluno_Pagante','Flag_Inscrito','Flag_Inscrito_Pago','Flag_Aprovado','Flag_PMA_PEP','Flag_PMA_Boleto','Flag_PMA_Fies_Condicional','Flag_PMA','Flag_Nao_Matriculado_Pago','Flag_Matriculado','Flag_Matriculado_Prouni','Flag_Matriculado_Fies','Flag_Matriculado_PEP','DS_PROTOCOLO','Chave_Empresa_RA','Codigo_Bolsa','Flag_winback_Captacao','Data_convocacao','Descricao_Parceiro','Descricao_Curso_Original'

In [170]:
df

,Canal_Vendas,Modalidade_EAD,Tipo_Aluno,Flag_Nova_Bolsa_Diretor,Flag_Bolsa_Social_Diretor,Flag_Bolsa_Diretor_Comercial,Flag_Bolsa_Prouni_Institucional,Flag_Bolsa_Sazonal_Bazuca,Flag_Bolsa_Quero_Bolsas,Flag_Primeiro_Semestre,...,Flag_Matriculado_Prouni,Flag_Matriculado_Fies,Flag_Matriculado_PEP,DS_PROTOCOLO,Chave_Empresa_RA,Codigo_Bolsa,Flag_winback_Captacao,Data_convocacao,Descricao_Parceiro,Descricao_Curso_Original
0,FORÇA DE VENDAS,SEMI-PRESENCIAL,PEP,0,1,0,0,0,0,0,...,0,0,0,15829576,KROTON|3457242,<12068><12102>,0,NaT,None,Pedagogia - Licenciatura - M
1,FORÇA DE VENDAS,SEMI-PRESENCIAL,PEP,0,1,0,0,0,0,0,...,0,0,0,15780018,KROTON|3455640,<12068><12102>,0,2018-11-28,None,Direito - N
2,FORÇA DE VENDAS,EAD PREMIUM,WINBACK,0,1,0,0,0,0,0,...,0,0,0,15890130,KROTON|3460941,<12102>,1,NaT,None,Direito - M
3,FORÇA DE VENDAS,EAD PREMIUM,PEP,0,1,0,0,0,0,0,...,0,0,0,15051746,KROTON|3444238,<12102><21870>,0,2018-10-11,None,Direito - N

In [ ]:
# #Variáveis de regra de negócio *******************************************