In [1]:
#https://towardsdatascience.com/basic-time-series-manipulation-with-pandas-4432afee64ea
import pandas as pd
from datetime import datetime
import numpy as np
date_rng = pd.date_range(start='1/1/2018', end='1/08/2018', freq='H')

In [2]:
date_rng

DatetimeIndex(['2018-01-01 00:00:00', '2018-01-01 01:00:00',
               '2018-01-01 02:00:00', '2018-01-01 03:00:00',
               '2018-01-01 04:00:00', '2018-01-01 05:00:00',
               '2018-01-01 06:00:00', '2018-01-01 07:00:00',
               '2018-01-01 08:00:00', '2018-01-01 09:00:00',
               ...
               '2018-01-07 15:00:00', '2018-01-07 16:00:00',
               '2018-01-07 17:00:00', '2018-01-07 18:00:00',
               '2018-01-07 19:00:00', '2018-01-07 20:00:00',
               '2018-01-07 21:00:00', '2018-01-07 22:00:00',
               '2018-01-07 23:00:00', '2018-01-08 00:00:00'],
              dtype='datetime64[ns]', length=169, freq='H')

In [3]:
df = pd.DataFrame(date_rng, columns=['date'])
df['data'] = np.random.randint(0,100,size=(len(date_rng)))
df.head(15)

                  date  data
0  2018-01-01 00:00:00    72
1  2018-01-01 01:00:00    95
2  2018-01-01 02:00:00    49
3  2018-01-01 03:00:00    73
4  2018-01-01 04:00:00    69
5  2018-01-01 05:00:00    50
6  2018-01-01 06:00:00    50
7  2018-01-01 07:00:00    21
8  2018-01-01 08:00:00    33
9  2018-01-01 09:00:00    94
10 2018-01-01 10:00:00    16
11 2018-01-01 11:00:00    39
12 2018-01-01 12:00:00    39
13 2018-01-01 13:00:00    41
14 2018-01-01 14:00:00    49