In [125]:
CONNECT_TO_ORACLE = True
con_oracle = CONNECT_TO_ORACLE

if con_oracle:
    try:
        import cx_Oracle
        import pandas as pd


        ip = '172.16.137.63'
        port = '1521'
        service_name = 'aesabi'
        dsn_tns = cx_Oracle.makedsn(ip, port, service_name=service_name)
        connection = cx_Oracle.connect('bi_read', 'bi_read', dsn_tns, encoding="UTF-8", nencoding="UTF-8")

    except:
        connection = None
        print("Oracle AESA BI db connection could not be created")
else:
    connection = None

def read_origin_to_pandas(sql="", path="", sep=',', encoding='utf-8', dtype={}, connection=connection):
    if (con_oracle) or (con_oracle=="True"):
        return pd.read_sql(sql, con=connection)
    else:
        return print('Eraro') ##uploads_to_panda(path, sep=sep, encoding=encoding, dtype=dtype)

In [103]:
from datetime import datetime, timedelta
date = datetime.today() - timedelta(4)

In [104]:
date_str =date.strftime('%Y/%m/%d')

In [105]:
date_str

'2019/01/07'

In [88]:
sql_teste = "SELECT dt_base, nr_cpf, fl_matriculado, ds_modalidade FROM TGT_BI_CAPTACAO_ANALITICO WHERE DT_BASE = TO_DATE('2019/01/09','yyyy/mm/dd') AND ds_modalidade='Presencial'"

In [106]:
sql_teste = "SELECT ds_bolsas_aluno, ds_modalidade, cd_bolsas_aluno, cd_candidato, cd_chave_aluno FROM TGT_BI_CAPTACAO_ANALITICO WHERE DT_BASE = TO_DATE('2019/01/09','yyyy/mm/dd')"

In [111]:
sql_teste = "SELECT A.DS_BOLSAS_ALUNO AS BOLSA_ALUNO_TMP,A.DS_MODALIDADE,A.CD_BOLSAS_ALUNO, A.CD_CANDIDATO, A.CD_CHAVE_ALUNO, A.CD_CURSO_INSCRICAO, A.CD_CURSO_MATRICULA, A.CD_RA, U.CD_UNIDADE, A.CD_VENDEDOR, C.CD_ESPECIALIDADE AS CODIGO_CURSO FROM STAGE_SAS.TGT_BI_CAPTACAO_ANALITICO_FECH A LEFT JOIN BI.TB_DIM_UNDE_SCD U ON A.ID_UNDE_SCD = U.ID_UNDE_SCD LEFT JOIN STAGE_SAS.TGT_BI_DE_PARA_CURSO_UNIDADE C ON A.ID_UNDE_SCD = C.ID_UNDE_SCD AND (CASE WHEN A.CD_CURSO_MATRICULA IS NULL THEN A.CD_CURSO_INSCRICAO ELSE A.CD_CURSO_MATRICULA END) = C.CD_ESPECIALIDADE AND C.DS_PERIODO_LETIVO = '20191' WHERE A.DS_PERIODO_LETIVO = '20191' AND A.DT_BASE = '09/01/2019' AND A.DS_MODALIDADE = 'Presencial' AND A.CD_CANDIDATO IN ('114705031','115042267','114784777')"

In [126]:
sql_teste = "SELECT A.DS_BOLSAS_ALUNO AS BOLSA_ALUNO_TMP, A.CD_BOLSAS_ALUNO,A.CD_CANDIDATO, A.CD_CHAVE_ALUNO,A.CD_CURSO_INSCRICAO,A.CD_CURSO_MATRICULA,A.CD_RA,U.CD_UNIDADE,A.CD_VENDEDOR,C.CD_ESPECIALIDADE AS CODIGO_CURSO,A.DS_BAIRRO,A.DS_BOLSA_VIGENTE_ALUNO,A.DS_BOLSAS_ALUNO,U.DS_CANAL,A.DS_CANAL_CONSULTOR,A.DS_CANAL_VENDAS,A.DS_CIDADE,U.DS_CONSULTOR,C.DS_COORDENADOR_CURSO,A.DS_CURSO_INSCRICAO AS DS_CURSO_INSCRICAO_MKT,A.DS_CURSO_MATRICULA AS DS_CURSO_MATRICULA_MKT,C.DS_ESPECIALIDADE AS DS_CURSO_ORIG,U.DS_DIRETOR,A.DS_EMAIL,A.DS_EMPRESA,CASE WHEN UPPER(U.DS_UNIDADE_MKT) LIKE '%[ANHANGUERA]%' THEN 'ANHANGUERA'WHEN UPPER(U.DS_UNIDADE_MKT) LIKE '%[UNOPAR]%' THEN 'UNOPAR' ELSE 'KROTON' END AS DS_EMPRESA_UNOPAR,A.DS_ENDERECO,U.DS_GERENTE,U.DS_GERENTE_MERCADO,U.DS_GERENTE_SENIOR,U.DS_MARCA,U.DS_MARCA_DETALHE,U.DS_MARCA_DETALHE AS DS_MARCA_DETALHE_UNOPAR,A.DS_MODALIDADE,A.DS_MODALIDADE_EAD,A.DS_NOME_CANDIDATO_ALUNO,U.DS_ORIGEM,A.DS_PARCEIRO,A.DS_PERIODO_LETIVO,A.DS_PROCESSO_SELETIVO,A.DS_PROTOCOLO,A.DS_QUINSTREET,U.DS_REGIAO_GEOGRAFICA,U.DS_REGIONAL,A.DS_SEXO,A.DS_SITUACAO_CANDIDATO,A.DS_SITUACAO_CLASSIFICACAO,A.DS_SITUACAO_FIES,A.DS_SITUACAO_MATRICULA,A.DS_SITUACAO_TURMA,U.DS_SUPERVISOR,A.DS_TERMO,A.DS_TURMA,A.DS_UF,U.DS_UNIDADE_MKT,A.DT_APROVADO,A.DT_BASE,A.DT_CONVOCADO,A.DT_ENTRADA_BASE,A.DT_INSCRICAO,A.DT_MATRICULA,A.DT_NASCIMENTO,A.DT_PROVA,A.DT_SITUACAO_PMA,A.FL_ALUNO_PAGANTE,A.FL_APROVADO,A.FL_INSCRITO,A.FL_INSCRITO_PAGO,A.FL_MATRICULADO,A.FL_MATRICULADO_FIES,A.FL_MATRICULADO_PEP,A.FL_MATRICULADO_PROUNI,A.FL_NAO_MAT_EMISSAO_BOLETO,A.FL_NAO_MATRICULADO_PAGO,A.FL_PMA,A.FL_PMA_BOLETO,A.FL_PMA_FIES_CONDICIONAL,A.FL_PMA_PEP,A.FL_PROVA,A.FL_WINBACK_CAPTACAO,C.DS_ESPECIALIDADE_MKT AS NOME_CURSO,A.NR_CEP,A.NR_CPF,A.NR_TELEFONE_CELULAR,A.NR_TELEFONE_COMERCIAL,A.NR_TELEFONE_RESIDENCIAL,C.DS_TURNO AS TURNO,A.DS_PRIM_VENDEDOR FROM STAGE_SAS.TGT_BI_CAPTACAO_ANALITICO_FECH A  LEFT JOIN BI.TB_DIM_UNDE_SCD U ON A.ID_UNDE_SCD = U.ID_UNDE_SCD LEFT JOIN STAGE_SAS.TGT_BI_DE_PARA_CURSO_UNIDADE C ON A.ID_UNDE_SCD = C.ID_UNDE_SCD AND (CASE WHEN A.CD_CURSO_MATRICULA IS NULL THEN A.CD_CURSO_INSCRICAO ELSE A.CD_CURSO_MATRICULA END) = C.CD_ESPECIALIDADE AND C.DS_PERIODO_LETIVO = '20191' WHERE A.DS_PERIODO_LETIVO = '20191' AND A.DT_BASE = '08/01/2019' AND A.DS_MODALIDADE = 'Presencial' AND A.CD_CANDIDATO IN ('114705031','115042267','114784777') UNION SELECT A.DS_BOLSAS_ALUNO AS BOLSA_ALUNO_TMP,A.CD_BOLSAS_ALUNO,A.CD_CANDIDATO,A.CD_CHAVE_ALUNO,A.CD_CURSO_INSCRICAO,A.CD_CURSO_MATRICULA,A.CD_RA,U.CD_UNIDADE,A.CD_VENDEDOR,C.CD_ESPECIALIDADE AS CODIGO_CURSO,A.DS_BAIRRO,A.DS_BOLSA_VIGENTE_ALUNO,A.DS_BOLSAS_ALUNO,U.DS_CANAL,A.DS_CANAL_CONSULTOR,A.DS_CANAL_VENDAS,A.DS_CIDADE,U.DS_CONSULTOR,C.DS_COORDENADOR_CURSO,A.DS_CURSO_INSCRICAO AS DS_CURSO_INSCRICAO_MKT,A.DS_CURSO_MATRICULA AS DS_CURSO_MATRICULA_MKT,C.DS_ESPECIALIDADE AS DS_CURSO_ORIG,U.DS_DIRETOR,A.DS_EMAIL,A.DS_EMPRESA,CASE WHEN UPPER(U.DS_UNIDADE_MKT) LIKE '%[ANHANGUERA]%' THEN 'ANHANGUERA' WHEN UPPER(U.DS_UNIDADE_MKT) LIKE '%[UNOPAR]%' THEN 'UNOPAR' ELSE 'KROTON' END AS DS_EMPRESA_UNOPAR,A.DS_ENDERECO,U.DS_GERENTE,U.DS_GERENTE_MERCADO,U.DS_GERENTE_SENIOR,U.DS_MARCA,U.DS_MARCA_DETALHE,U.DS_MARCA_DETALHE AS DS_MARCA_DETALHE_UNOPAR,A.DS_MODALIDADE,A.DS_MODALIDADE_EAD,A.DS_NOME_CANDIDATO_ALUNO,U.DS_ORIGEM,A.DS_PARCEIRO,A.DS_PERIODO_LETIVO,A.DS_PROCESSO_SELETIVO,A.DS_PROTOCOLO,A.DS_QUINSTREET,U.DS_REGIAO_GEOGRAFICA,U.DS_REGIONAL,A.DS_SEXO,A.DS_SITUACAO_CANDIDATO,A.DS_SITUACAO_CLASSIFICACAO,A.DS_SITUACAO_FIES,A.DS_SITUACAO_MATRICULA,A.DS_SITUACAO_TURMA,U.DS_SUPERVISOR,A.DS_TERMO,A.DS_TURMA,A.DS_UF,U.DS_UNIDADE_MKT,A.DT_APROVADO,A.DT_BASE,A.DT_CONVOCADO,A.DT_ENTRADA_BASE,A.DT_INSCRICAO,A.DT_MATRICULA,A.DT_NASCIMENTO,A.DT_PROVA,A.DT_SITUACAO_PMA,A.FL_ALUNO_PAGANTE,A.FL_APROVADO,A.FL_INSCRITO,A.FL_INSCRITO_PAGO,A.FL_MATRICULADO,A.FL_MATRICULADO_FIES,A.FL_MATRICULADO_PEP,A.FL_MATRICULADO_PROUNI,A.FL_NAO_MAT_EMISSAO_BOLETO,A.FL_NAO_MATRICULADO_PAGO,A.FL_PMA,A.FL_PMA_BOLETO,A.FL_PMA_FIES_CONDICIONAL,A.FL_PMA_PEP,A.FL_PROVA,A.FL_WINBACK_CAPTACAO,C.DS_ESPECIALIDADE_MKT AS NOME_CURSO,A.NR_CEP,A.NR_CPF,A.NR_TELEFONE_CELULAR,A.NR_TELEFONE_COMERCIAL,A.NR_TELEFONE_RESIDENCIAL,C.DS_TURNO AS TURNO,A.DS_PRIM_VENDEDOR FROM STAGE_SAS.TGT_BI_CAPTACAO_ANALITICO_FECH A LEFT JOIN BI.TB_DIM_UNDE_SCD U ON A.ID_UNDE_SCD = U.ID_UNDE_SCD LEFT JOIN STAGE_SAS.TGT_BI_DE_PARA_CURSO_UNIDADE C ON A.ID_UNDE_SCD = C.ID_UNDE_SCD AND (CASE WHEN A.CD_CURSO_MATRICULA IS NULL THEN A.CD_CURSO_INSCRICAO ELSE A.CD_CURSO_MATRICULA END) = C.CD_ESPECIALIDADE AND C.DS_PERIODO_LETIVO = '20191' WHERE A.DS_PERIODO_LETIVO = '20191' AND A.DT_BASE = '08/01/2019' AND A.DS_MODALIDADE = 'EAD' AND A.CD_CANDIDATO IN('12920879','12920884','12920887')"

In [121]:
sql_teste ="SELECT A.DS_BOLSAS_ALUNO AS BOLSA_ALUNO_TMP,A.CD_BOLSAS_ALUNO,A.CD_CANDIDATO,A.CD_CHAVE_ALUNO,A.CD_CURSO_INSCRICAO,A.CD_CURSO_MATRICULA,A.CD_RA,U.CD_UNIDADE,A.CD_VENDEDOR,C.CD_ESPECIALIDADE AS CODIGO_CURSO,A.DS_BAIRRO,A.DS_BOLSA_VIGENTE_ALUNO,A.DS_BOLSAS_ALUNO,U.DS_CANAL,A.DS_CANAL_CONSULTOR,A.DS_CANAL_VENDAS,A.DS_CIDADE,U.DS_CONSULTOR,C.DS_COORDENADOR_CURSO,A.DS_CURSO_INSCRICAO AS DS_CURSO_INSCRICAO_MKT,A.DS_CURSO_MATRICULA AS DS_CURSO_MATRICULA_MKT,C.DS_ESPECIALIDADE AS DS_CURSO_ORIG,U.DS_DIRETOR,A.DS_EMAIL,A.DS_EMPRESA,CASE WHEN UPPER(U.DS_UNIDADE_MKT) LIKE '%[ANHANGUERA]%' THEN 'ANHANGUERA' WHEN UPPER(U.DS_UNIDADE_MKT) LIKE '%[UNOPAR]%' THEN 'UNOPAR' ELSE 'KROTON' END AS DS_EMPRESA_UNOPAR,A.DS_ENDERECO,U.DS_GERENTE,U.DS_GERENTE_MERCADO,U.DS_GERENTE_SENIOR,U.DS_MARCA,U.DS_MARCA_DETALHE,U.DS_MARCA_DETALHE AS DS_MARCA_DETALHE_UNOPAR,A.DS_MODALIDADE,A.DS_MODALIDADE_EAD,A.DS_NOME_CANDIDATO_ALUNO,U.DS_ORIGEM,A.DS_PARCEIRO,A.DS_PERIODO_LETIVO,A.DS_PROCESSO_SELETIVO,A.DS_PROTOCOLO,A.DS_QUINSTREET,U.DS_REGIAO_GEOGRAFICA,U.DS_REGIONAL,A.DS_SEXO,A.DS_SITUACAO_CANDIDATO,A.DS_SITUACAO_CLASSIFICACAO,A.DS_SITUACAO_FIES,A.DS_SITUACAO_MATRICULA,A.DS_SITUACAO_TURMA,U.DS_SUPERVISOR,A.DS_TERMO,A.DS_TURMA,A.DS_UF,U.DS_UNIDADE_MKT,A.DT_APROVADO,A.DT_BASE,A.DT_CONVOCADO,A.DT_ENTRADA_BASE,A.DT_INSCRICAO,A.DT_MATRICULA,A.DT_NASCIMENTO,A.DT_PROVA,A.DT_SITUACAO_PMA,A.FL_ALUNO_PAGANTE,A.FL_APROVADO,A.FL_INSCRITO,A.FL_INSCRITO_PAGO,A.FL_MATRICULADO,A.FL_MATRICULADO_FIES,A.FL_MATRICULADO_PEP,A.FL_MATRICULADO_PROUNI,A.FL_NAO_MAT_EMISSAO_BOLETO,A.FL_NAO_MATRICULADO_PAGO,A.FL_PMA,A.FL_PMA_BOLETO,A.FL_PMA_FIES_CONDICIONAL,A.FL_PMA_PEP,A.FL_PROVA,A.FL_WINBACK_CAPTACAO,C.DS_ESPECIALIDADE_MKT AS NOME_CURSO,A.NR_CEP,A.NR_CPF,A.NR_TELEFONE_CELULAR,A.NR_TELEFONE_COMERCIAL,A.NR_TELEFONE_RESIDENCIAL,C.DS_TURNO AS TURNO,A.DS_PRIM_VENDEDOR FROM STAGE_SAS.TGT_BI_CAPTACAO_ANALITICO_FECH A LEFT JOIN BI.TB_DIM_UNDE_SCD U ON A.ID_UNDE_SCD = U.ID_UNDE_SCD LEFT JOIN STAGE_SAS.TGT_BI_DE_PARA_CURSO_UNIDADE C ON A.ID_UNDE_SCD = C.ID_UNDE_SCD AND (CASE WHEN A.CD_CURSO_MATRICULA IS NULL THEN A.CD_CURSO_INSCRICAO ELSE A.CD_CURSO_MATRICULA END) = C.CD_ESPECIALIDADE AND C.DS_PERIODO_LETIVO = '20191' WHERE A.DS_PERIODO_LETIVO = '20191' AND A.DT_BASE = '08/01/2019' AND A.DS_MODALIDADE = 'EAD' AND A.CD_CANDIDATO IN('12920879','12920884','12920887')"

In [127]:
sql_teste

"SELECT A.DS_BOLSAS_ALUNO AS BOLSA_ALUNO_TMP, A.CD_BOLSAS_ALUNO,A.CD_CANDIDATO, A.CD_CHAVE_ALUNO,A.CD_CURSO_INSCRICAO,A.CD_CURSO_MATRICULA,A.CD_RA,U.CD_UNIDADE,A.CD_VENDEDOR,C.CD_ESPECIALIDADE AS CODIGO_CURSO,A.DS_BAIRRO,A.DS_BOLSA_VIGENTE_ALUNO,A.DS_BOLSAS_ALUNO,U.DS_CANAL,A.DS_CANAL_CONSULTOR,A.DS_CANAL_VENDAS,A.DS_CIDADE,U.DS_CONSULTOR,C.DS_COORDENADOR_CURSO,A.DS_CURSO_INSCRICAO AS DS_CURSO_INSCRICAO_MKT,A.DS_CURSO_MATRICULA AS DS_CURSO_MATRICULA_MKT,C.DS_ESPECIALIDADE AS DS_CURSO_ORIG,U.DS_DIRETOR,A.DS_EMAIL,A.DS_EMPRESA,CASE WHEN UPPER(U.DS_UNIDADE_MKT) LIKE '%[ANHANGUERA]%' THEN 'ANHANGUERA'WHEN UPPER(U.DS_UNIDADE_MKT) LIKE '%[UNOPAR]%' THEN 'UNOPAR' ELSE 'KROTON' END AS DS_EMPRESA_UNOPAR,A.DS_ENDERECO,U.DS_GERENTE,U.DS_GERENTE_MERCADO,U.DS_GERENTE_SENIOR,U.DS_MARCA,U.DS_MARCA_DETALHE,U.DS_MARCA_DETALHE AS DS_MARCA_DETALHE_UNOPAR,A.DS_MODALIDADE,A.DS_MODALIDADE_EAD,A.DS_NOME_CANDIDATO_ALUNO,U.DS_ORIGEM,A.DS_PARCEIRO,A.DS_PERIODO_LETIVO,A.DS_PROCESSO_SELETIVO,A.DS_PROTOCOLO,A.DS_QUINSTREET,U.DS_REGIAO_GEOGRAFICA,U.DS_REGIONAL,A.DS_SEXO,A.DS_SITUACAO_CANDIDATO,A.DS_SITUACAO_CLASSIFICACAO,A.DS_SITUACAO_FIES,A.DS_SITUACAO_MATRICULA,A.DS_SITUACAO_TURMA,U.DS_SUPERVISOR,A.DS_TERMO,A.DS_TURMA,A.DS_UF,U.DS_UNIDADE_MKT,A.DT_APROVADO,A.DT_BASE,A.DT_CONVOCADO,A.DT_ENTRADA_BASE,A.DT_INSCRICAO,A.DT_MATRICULA,A.DT_NASCIMENTO,A.DT_PROVA,A.DT_SITUACAO_PMA,A.FL_ALUNO_PAGANTE,A.FL_APROVADO,A.FL_INSCRITO,A.FL_INSCRITO_PAGO,A.FL_MATRICULADO,A.FL_MATRICULADO_FIES,A.FL_MATRICULADO_PEP,A.FL_MATRICULADO_PROUNI,A.FL_NAO_MAT_EMISSAO_BOLETO,A.FL_NAO_MATRICULADO_PAGO,A.FL_PMA,A.FL_PMA_BOLETO,A.FL_PMA_FIES_CONDICIONAL,A.FL_PMA_PEP,A.FL_PROVA,A.FL_WINBACK_CAPTACAO,C.DS_ESPECIALIDADE_MKT AS NOME_CURSO,A.NR_CEP,A.NR_CPF,A.NR_TELEFONE_CELULAR,A.NR_TELEFONE_COMERCIAL,A.NR_TELEFONE_RESIDENCIAL,C.DS_TURNO AS TURNO,A.DS_PRIM_VENDEDOR FROM STAGE_SAS.TGT_BI_CAPTACAO_ANALITICO_FECH A  LEFT JOIN BI.TB_DIM_UNDE_SCD U ON A.ID_UNDE_SCD = U.ID_UNDE_SCD LEFT JOIN STAGE_SAS.TGT_BI_DE_PARA_CURSO_UNIDADE C ON A.ID_UNDE_SCD = C.ID_UNDE_SCD AND (CASE WHEN A.CD_CURSO_MATRICULA IS NULL THEN A.CD_CURSO_INSCRICAO ELSE A.CD_CURSO_MATRICULA END) = C.CD_ESPECIALIDADE AND C.DS_PERIODO_LETIVO = '20191' WHERE A.DS_PERIODO_LETIVO = '20191' AND A.DT_BASE = '08/01/2019' AND A.DS_MODALIDADE = 'Presencial' AND A.CD_CANDIDATO IN ('114705031','115042267','114784777') UNION SELECT A.DS_BOLSAS_ALUNO AS BOLSA_ALUNO_TMP,A.CD_BOLSAS_ALUNO,A.CD_CANDIDATO,A.CD_CHAVE_ALUNO,A.CD_CURSO_INSCRICAO,A.CD_CURSO_MATRICULA,A.CD_RA,U.CD_UNIDADE,A.CD_VENDEDOR,C.CD_ESPECIALIDADE AS CODIGO_CURSO,A.DS_BAIRRO,A.DS_BOLSA_VIGENTE_ALUNO,A.DS_BOLSAS_ALUNO,U.DS_CANAL,A.DS_CANAL_CONSULTOR,A.DS_CANAL_VENDAS,A.DS_CIDADE,U.DS_CONSULTOR,C.DS_COORDENADOR_CURSO,A.DS_CURSO_INSCRICAO AS DS_CURSO_INSCRICAO_MKT,A.DS_CURSO_MATRICULA AS DS_CURSO_MATRICULA_MKT,C.DS_ESPECIALIDADE AS DS_CURSO_ORIG,U.DS_DIRETOR,A.DS_EMAIL,A.DS_EMPRESA,CASE WHEN UPPER(U.DS_UNIDADE_MKT) LIKE '%[ANHANGUERA]%' THEN 'ANHANGUERA' WHEN UPPER(U.DS_UNIDADE_MKT) LIKE '%[UNOPAR]%' THEN 'UNOPAR' ELSE 'KROTON' END AS DS_EMPRESA_UNOPAR,A.DS_ENDERECO,U.DS_GERENTE,U.DS_GERENTE_MERCADO,U.DS_GERENTE_SENIOR,U.DS_MARCA,U.DS_MARCA_DETALHE,U.DS_MARCA_DETALHE AS DS_MARCA_DETALHE_UNOPAR,A.DS_MODALIDADE,A.DS_MODALIDADE_EAD,A.DS_NOME_CANDIDATO_ALUNO,U.DS_ORIGEM,A.DS_PARCEIRO,A.DS_PERIODO_LETIVO,A.DS_PROCESSO_SELETIVO,A.DS_PROTOCOLO,A.DS_QUINSTREET,U.DS_REGIAO_GEOGRAFICA,U.DS_REGIONAL,A.DS_SEXO,A.DS_SITUACAO_CANDIDATO,A.DS_SITUACAO_CLASSIFICACAO,A.DS_SITUACAO_FIES,A.DS_SITUACAO_MATRICULA,A.DS_SITUACAO_TURMA,U.DS_SUPERVISOR,A.DS_TERMO,A.DS_TURMA,A.DS_UF,U.DS_UNIDADE_MKT,A.DT_APROVADO,A.DT_BASE,A.DT_CONVOCADO,A.DT_ENTRADA_BASE,A.DT_INSCRICAO,A.DT_MATRICULA,A.DT_NASCIMENTO,A.DT_PROVA,A.DT_SITUACAO_PMA,A.FL_ALUNO_PAGANTE,A.FL_APROVADO,A.FL_INSCRITO,A.FL_INSCRITO_PAGO,A.FL_MATRICULADO,A.FL_MATRICULADO_FIES,A.FL_MATRICULADO_PEP,A.FL_MATRICULADO_PROUNI,A.FL_NAO_MAT_EMISSAO_BOLETO,A.FL_NAO_MATRICULADO_PAGO,A.FL_PMA,A.FL_PMA_BOLETO,A.FL_PMA_FIES_CONDICIONAL,A.FL_PMA_PEP,A.FL_PROVA,A.FL_WINBACK_CAPTACAO,C.DS_ESPECIALIDADE_MKT AS NOME_CURSO,A.NR_CEP,A.NR_CPF,A.NR_TELEFONE_CELULAR,A.NR_TELEFONE_COMERCIAL,A.NR_TELEFONE_RESIDENCIAL,C.DS_TURNO AS TURNO,A.DS_PRIM_VENDEDOR FROM STAGE_SAS.TGT_BI_CAPTACAO_ANALITICO_FECH A LEFT JOIN BI.TB_DIM_UNDE_SCD U ON A.ID_UNDE_SCD = U.ID_UNDE_SCD LEFT JOIN STAGE_SAS.TGT_BI_DE_PARA_CURSO_UNIDADE C ON A.ID_UNDE_SCD = C.ID_UNDE_SCD AND (CASE WHEN A.CD_CURSO_MATRICULA IS NULL THEN A.CD_CURSO_INSCRICAO ELSE A.CD_CURSO_MATRICULA END) = C.CD_ESPECIALIDADE AND C.DS_PERIODO_LETIVO = '20191' WHERE A.DS_PERIODO_LETIVO = '20191' AND A.DT_BASE = '08/01/2019' AND A.DS_MODALIDADE = 'EAD' AND A.CD_CANDIDATO IN('12920879','12920884','12920887')"

In [128]:
TGT_BI_RET = read_origin_to_pandas(sql=sql_teste, path="TESTE", sep=',',
                                           dtype={'ID_UNDE_SCD': object})

In [129]:
TGT_BI_RET

,BOLSA_ALUNO_TMP,CD_BOLSAS_ALUNO,CD_CANDIDATO,CD_CHAVE_ALUNO,CD_CURSO_INSCRICAO,CD_CURSO_MATRICULA,CD_RA,CD_UNIDADE,CD_VENDEDOR,CODIGO_CURSO,...,FL_PROVA,FL_WINBACK_CAPTACAO,NOME_CURSO,NR_CEP,NR_CPF,NR_TELEFONE_CELULAR,NR_TELEFONE_COMERCIAL,NR_TELEFONE_RESIDENCIAL,TURNO,DS_PRIM_VENDEDOR
0,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO><BOLSA 1O SEM...,<9C9Q><9C9R><9C9S><9CDB><9CDC>,12920879,21705161,044,044,21705161,11088950,None,044,...,1,0,ADMINISTRACAO,89560-000,10500136971,(49) 9999-9999,None,None,Noturno,None
1,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO><BOLSA 1O SEM...,<9C9Q><9C9R><9C9S><9CDB><9CDC>,12920884,21763360,044,044,21763360,11088950,None,044,...,1,0,ADMINISTRACAO,89560-000,11861923996,(49) 99947-2792,None,None,Noturno,None
2,<BOLSA CAPTAÇÃO><BOLSA INCENTIVO><BOLSA 1O SEM...,<9C9Q><9C9R><9C9S><9CDB><9CDC>,12920887,21763344,044,044,21763344,11088950,None,044,...,1,0,ADMINISTRACAO,89560-000,06111923900,(49) 99170-5115,None,None,Noturno,None
3,None,None,114705031,None,180,None,None,U,223829,180,...,0,0,PEDAGOGIA - LICENCIATURA,78.065-900,06145911123,(65) 99280-4263,None,None,Matutino,881830
4,None,None,114784777,None,2336,None,None,U,1040,2336,...,0,0,AGRONOMIA,78.065-900,06146222127,(65) 99236-0650,None,None,Noturno,449
5,None,None,115042267,None,2582,None,None,U,0,2582,...,0,0,PSICOLOGIA,78..120-48,06146160180,(65) 99273-5875,None,(65) 3691-5299,Noturno,0